{% extends 'player/header.html' %}
{% load static %}
{% load dict_key %}
{% load get_type %}
{% load get_attr %}
{% load get_len %}
{% load get_sum %}
{% load l10n %}{% load i18n %}
{% block for_scripts_and_css %}
<script src='{% static "js/factory.js" %}?{{ csrf_token }}'></script>
{% endblock %}
{% block content %}
<script>

    var groups_n_goods = {};

    {% for group in categories %}
        groups_n_goods['{{ group }}'] = {};
        {% for good in storage_cl|get_attr:group %}
            groups_n_goods['{{ group }}']['{{ good }}'] = '{{ storage_cl|get_attr:group|dict_key:good }}';
        {% endfor %}
    {% endfor %}

    var goods_names = {};
    goods_names['energy'] = 'Энергия';
    {% for crude in crude_list %}
        {% for good in storage_cl|get_attr:crude %}
            goods_names['{{ good }}'] = '{{ storage_cl|get_attr:crude|dict_key:good }}';
        {% endfor %}
    {% endfor %}

    var total_stocks = {};
    {% for storage in storages %}
        total_stocks["{{ storage|dict_key:'pk' }}"] = {};
        {% for group in crude_list %}
            {% for good in storage_cl|get_attr:group %}
                total_stocks["{{ storage|dict_key:'pk' }}"]['{{ good }}'] = {% localize off %}{{ storage|dict_key:good }}{% endlocalize %};
                {% if good != 'cash' %}
                {% with good_cap=good|get_sum:'_cap' %}
                total_stocks["{{ storage|dict_key:'pk' }}"]['{{ good }}_cap'] = {% localize off %}{{ storage|dict_key:good_cap }}{% endlocalize %};
                {% endwith %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

    var schemas = {};
    {% for schema in project_cl|get_attr:'schemas' %}
        schemas["{{ schema.0 }}"] = {};
        schemas["{{ schema.0 }}"]['energy'] = {{ project_cl|get_attr:schema.0|dict_key:'energy' }};
        {% for variant in project_cl|get_attr:schema.0|dict_key:'resources' %}
            schemas["{{ schema.0 }}"]["{{ forloop.counter }}"] = {};
            {% with counter=forloop.counter %}
                {% for good in variant %}
                    schemas["{{ schema.0 }}"]["{{ counter }}"]["{{ good }}"] = {% localize off %}{{ variant|dict_key:good }}{% endlocalize %};
                {% endfor %}
            {% endwith %}
        {% endfor %}
    {% endfor %}

</script>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <form id="produce_form" role="form">
            <div class="row" style="margin-top: 1%;">
                <div class="col-xs-6 col-sm-6 col-md-6" align="right">
                    Склад
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                    <select name="storage" id="storage">
                        {% for storage in storages %}
                        <option {% if storage == storages|first %} selected {% endif %} value="{{ storage|dict_key:'pk' }}">{{ storage|dict_key:'region__region_name' }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 1%;">
                <div class="col-xs-6 col-sm-6 col-md-6" align="right">
                    Група товаров
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                    <select id="group">
                        <option id="group_default" value='default' disabled selected value>Выберите группу</option>
                        {% for group in categories %}
                        <option value='{{ group }}'>{{ storage_cl|get_attr:'types'|dict_key:group }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 1%;">
                <div class="col-xs-6 col-sm-6 col-md-6" align="right">
                    Товар
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                    <select disabled name="good" id="good">
                        <option id="good_default" value='default' disabled selected value>Выберите товар</option>
                        {% for group in categories %}
                            {% for good in storage_cl|get_attr:group %}
                            {% if good != 'station' %}
                        <option id="good_{{ good }}" value='{{ good }}' style="display: none">{{ storage_cl|get_attr:group|dict_key:good }}</option>
                            {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 1%;">
                <div class="col-xs-6 col-sm-6 col-md-6" align="right">
                    Схема
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                    <select disabled name="schema" id="schema">
                        <option id="schema_default" value='default' disabled selected value>Выберите схему</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 1%;">
                <div class="col-xs-6 col-sm-6 col-md-6" align="right">
                    Количество
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2" align="left">
                    <input id="count" type="number" min="0" max="2147483647" value="0" step="1" name="count" maxlength="3"
                        oninput="setAnotherValues(this.value)">
                </div>
            </div>
            <div class="row" style="margin-top: 1%;">
                <div class="col-xs-12 col-sm-12 col-md-12" align="center">
                    <button disabled id="accept" type="submit" class="save btn btn-info">Создать</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" id="storage_info_block">
        <div class="row" id="crude_header" style="margin-top: 1%" align="center">
            Сырье:
        </div>
        <div class="row" id="crude_line" style="margin-top: 1%; display: none">
            <div class="col-xs-2 col-sm-2 col-md-2 crude_name" align="left">
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2" align="left">
                <input type="number" class="crude_count" min="0" style="width: 100%;">
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1" align="left">
                <div class="storage_stocks"></div>
            </div>
            <div class="col-xs-7 col-sm-7 col-md-7" align="left">
                <input type="range" class="form-range crude_amount" min="0" max="5" step="1">
            </div>
        </div>
    </div>
</div>
{% endblock %}