{% extends 'player/header.html' %}
{% load static %}
{% load dict_key %}
{% load pagination %}
{% block content %}
{% load tz %}
{% load get_mod %}
<div id="over" class="tabcontent">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <div class="row">
                    <!--регион, войны, статы/чатик-->
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <h3>Записей всего: {{ entries_count }}</h3>
                        </div>
                        <div class="row">
                             <div class="col-xs-12 col-sm-12 col-md-12" style="height: 700px; overflow-y: auto;">
                                {% for log in lines %}
                                 <div class="row" {% if forloop.counter|get_mod:2 == 1 %}style="background: #E0FFF3"{% endif %}>
                                    <div class="col-xs-2 col-sm-2 col-md-2" align="center">
                                        <!--если пользователь загрузил аватарку-->
                                        {% if log.party.image %}
                                        <img src="{{ log.party.image.url }}" width="50" height="50">
                                        {% else %}
                                        <img src="{% static 'img/nopic_party.png' %}" width="50" height="50">
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <h3>{{ log.party.title }}</h3>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3">
                                        <h3>{{ log.dtime|timezone:player.time_zone|date:"d.m.Y H:i" }}</h3>
                                    </div>
                                     <div class="col-xs-3 col-sm-3 col-md-3">
                                        <h3>{% if log.exit_dtime %}{{ log.exit_dtime|timezone:player.time_zone|date:"d.m.Y H:i" }}{% endif %}</h3>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            {% pagination lines %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
            </div>
        </div>
</div>
{% endblock %}