{% load i18n %}{% load dict_key %}
<div class="row flex">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <b>
            <font size="4">{% trans 'Уровень Госпиталя' %}: </font>
        </b>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <b>
            <font size="4">{% with level=data|dict_key:'level' %}{{ level }}{% endwith %}</font>
        </b>
    </div>
</div>
<div class="row flex">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <b>
            <font size="4">{% trans 'Рейтинг Госпиталя' %}: </font>
        </b>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <b>
            <font size="4">{% with top=data|dict_key:'top' %}{{ top }}{% endwith %}</font>
        </b>
    </div>
</div>