{% extends 'player/header.html' %}
{% load static %}
{% load get_attr %}
{% load dict_key %}
{% load define %}
{% load l10n %}{% load i18n %}

{% block for_scripts_and_css %}
<script>
{% localize off %}
    var vol_map = new Map();
    {% for type in storage_cl|get_attr:'types' %}
        {% for good in transport|get_attr:type %}
            vol_map.set('{{ good }}', '{{ transport|get_attr:type|dict_key:good }}');
        {% endfor %}
    {% endfor %}

    var trans_mul = {
        {% for key, values in trans_mul.items %}
            {{ key }}: {
                {% for i_key, i_values in values.items %}
                {{ i_key }}: {{ i_values }},
                {% endfor %}
            },
        {% endfor %}
    };

    var storage_pos = new Map();
    <!--     также создаем словари складов для отправки данных   -->
    var send_storages_map = {};

    {% for storage in storages %}
    storage_pos.set("{{ storage.pk }}", 0);

    var st_{{ storage.pk }}_map = {};
    st_{{ storage.pk }}_map[{{ storage.pk }}] = 0;
    send_storages_map[{{ storage.pk }}] = st_{{ storage.pk }}_map;
    {% endfor %}
 {% endlocalize %}
</script>

{% if storage_alone %}
<script>
    var move_storage_pk = null;
    var move_header = 'Перемещение Склада';
    var move_text = 'Склад будет перемещен в регион вашего местонахождения - {{ player.region.region_name }}. Больше этот Склад переместить не получится. Продолжить?';
    var move_yes = 'Продолжить';
    var move_cancel = 'Отмена';
</script>
<script src='{% static "js/assets_move.js" %}?{{ csrf_token }}'></script>
{% endif %}

<script src='{% static "js/assets.js" %}?{{ csrf_token }}'></script>
{% endblock %}

{% block content %}

<form id="assets_actions_form" role="form">
    <div class="col-xs-8 col-sm-8 col-md-8">
        <ul class="nav nav-tabs">
            {% for storage in storages %}
            <li {% if forloop.first %}class="active"{% endif %}>
                <a data-toggle="tab" href="#{% localize off %}{{ storage.pk }}{% endlocalize %}">
                    {% if storage_alone and not storage.was_moved and player.region != storage.region %}
                    {{ storage.region }}
                    <button type="submit" onclick="move_storage({% localize off %}{{ storage.pk }}{% endlocalize %})" class="save btn btn-default">
                        <img src="static/move_storage.png" width="15px" height="15px" alt="Переместить в текущий регион">
                    </button>

                    {% else %}
                    {{ storage.region }}
                    {% endif %}
                </a>
<!--                <a data-toggle="tab" href="#{{ storage.pk }}">{{ storage.region }}</a>-->
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for storage in storages %}
            <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{% localize off %}{{ storage.pk }}{% endlocalize %}" style="height: 400px; overflow-y: auto; overflow-x: hidden;">
                <div class="row" style="margin-top: 3%;">
                    <div class="col-xs-2 col-sm-2 col-md-2">
                    {{ storage.valut|dict_key:'cash' }}:
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2" style="color: #85bb65">
                     {{ storage|get_attr:'cash' }}
                    </div>
                </div>

                {% for group in storage_cl|get_attr:'types' %}
                    {% for good in storage_cl|get_attr:group %}
                        {% if storage|get_attr:good %}
                <div class="row" style="margin-top: 3%;">
                    <div class="col-xs-2 col-sm-2 col-md-2">
                    {{ storage_cl|get_attr:group|dict_key:good }}:
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                    <input style="width: 100%" type="number" class="good_input" data-good_name="{{ good }}" data-storage_id="{% localize off %}{{ storage.pk }}{% endlocalize %}" min="0" max="{% localize off %}{{ storage|get_attr:good }}{% endlocalize %}" value="0" step="1" name="{% localize off %}{{ storage.pk }}{% endlocalize %}_{{ good }}" maxlength="3">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                    / {{ storage|get_attr:good }}
                    </div>
                    {% if not good == 'station' %}
                    <div class="col-xs-2 col-sm-2 col-md-2">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        Объём (ед.):
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <div id="{% localize off %}{{ storage.pk }}{% endlocalize %}_{{ good }}_places" data-text="0">0</div>
                    </div>
                    {% endif %}
                </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </div>
            {% endfor %}
        </div>
    </div>
    <!--Действия-->
    <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12" align="center">
                <select name="assets_actions" id="assets_actions">
                    <option disabled selected value>Выберите действие</option>
                    <option value='transfer'>Передать</option>
                    <option value='destroy'>Уничтожить</option>
                </select>
            </div>
        </div>
        <div class="row" id="transfer_bloc" style="margin-top: 3%; display: none">
            <div class="col-xs-12 col-sm-12 col-md-12" align="center">
                <div class="row">
                    <select name="storage_options" id="storage_options">
                        <option disabled selected value="storage_none">Выберите склад</option>
                        {% for storage in storages %}
                        <option id="storage_{% localize off %}{{ storage.pk }}{% endlocalize %}" value='{% localize off %}{{ storage.pk }}{% endlocalize %}'>{{ storage.region.region_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row" style="margin-top: 3%;">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                    Объём (ед.):
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6" id="total_vol">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%;">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                    Стоимость доставки:
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6" id="total_sum">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="destroy_bloc" style="margin-top: 3%; display: none">
            <div class="col-xs-12 col-sm-12 col-md-12" align="center">
                <input type="checkbox" id="destroy_sure">
                <label for="destroy_sure">уверен</label>
            </div>
        </div>
        <div class="row" id="accept_bloc" style="margin-top: 3%; display: none">
            <div class="col-xs-12 col-sm-12 col-md-12" align="center">
                <button id="accept" disabled type="submit" enctype="multipart/form-data" class="save btn btn-default">Подтвердить</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}