{% extends 'player/header.html' %}
{% load static %}
{% load get_attr %}
{% load dict_key %}
{% load define %}


{% block for_scripts_and_css %}
<!--<script src='{% static "js/party.js" %}?{{ csrf_token }}'></script>-->
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    {% for storage in storages %}
    <li {% if forloop.first %}class="active"{% endif %}>
        <a data-toggle="tab" href="#{{ storage.pk }}">{{ storage.region }}</a>
    </li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for storage in storages %}
    <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ storage.pk }}">
        <div class="col-xs-2 col-sm-2 col-md-2">
            {{ storage.valut|dict_key:'cash' }}: {{ storage|get_attr:'cash' }}
        </div>

        {% for mineral in storage.minerals %}
        {% if storage|get_attr:mineral %}
        <div class="col-xs-2 col-sm-2 col-md-2">
            {{ storage.minerals|dict_key:mineral }}: {{ storage|get_attr:mineral }}
        </div>
        {% endif %}
        {% endfor %}

        {% for oil in storage.oils %}
        {% if storage|get_attr:oil %}
        <div class="col-xs-2 col-sm-2 col-md-2">
            {{ storage.oils|dict_key:oil }}: {{ storage|get_attr:oil }}
        </div>
        {% endif %}
        {% endfor %}

        {% for material in storage.materials %}
        {% if storage|get_attr:material %}
        <div class="col-xs-2 col-sm-2 col-md-2">
            {{ storage.materials|dict_key:material }}: {{ storage|get_attr:material }}
        </div>
        {% endif %}
        {% endfor %}

        {% for unit in storage.units %}
        {% if storage|get_attr:unit %}
        <div class="col-xs-2 col-sm-2 col-md-2">
            {{ storage.units|dict_key:unit }}: {{ storage|get_attr:unit }}
        </div>
        {% endif %}
        {% endfor %}
        
    </div>
    {% endfor %}
</div>
{% endblock %}