<div class="ct__js-table-pag">
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}" class="ct__js-table-pag-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="var(--c10two)"><path d="M22 12l-20 12 5-12-5-12z"/></svg>
    </a>
    {% endif %}
    <span>{{ page.number }} / {{ page.paginator.num_pages }}</span>
    {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}" class="ct__js-table-pag-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="var(--c10two)"><path d="M22 12l-20 12 5-12-5-12z"/></svg>
    </a>
    {% endif %}
</div>