{% load l10n %}{% load i18n %}
{% load redesign.pagination %}
{% load static %}
{% load is_dict %}
{% load tz %}
{% load get_attr %}
{% load check_object %}
{% load is_list %}
{% load has_key %}
{% load lower %}
{% load get_class_name %}
{% load get_key_list %}
{% load get_len %}
{% load get_n_chars %}
{% load dict_key %}
{% load run_meth %}

<!--Блок таблицы-->
<div class="ct__js-table-container" id="js-ct-table-1">
		<h1 class="ct__js-table-title ct__page-title">{{ page_name }}</h1>
		<!--модальное окно настроек-->
		<div class="ct__js-modal-sett">
			<button class="ct__js-modal-sett-close">
				<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"/><path d="M4 4L26 26M4 26L26 4" stroke="var(--c60)" stroke-width="3"/>
				</svg>
			</button>
		</div>
		<!--таблица-->
	<table class="ct__js-table">
	  <tbody>

		<tr>
			{% for col in header|get_key_list %}
				{% with elem=header|dict_key:col %}
					<!--если это вложенный словарь-->
					{% if not elem|has_key:'visible' %}
						{% for sub_col in elem|get_key_list %}
							{% with sub_elem=elem|dict_key:sub_col %}
							<td class="j-t-{{ col }}_{{ sub_col }}">{{ sub_elem|dict_key:'text' }}</td>
							{% endwith %}
						{% endfor %}
					{% else %}
					  <td class="j-t-{{ col }}">{{ elem|dict_key:'text' }}</td>
					{% endif %}
				{% endwith %}
			{% endfor %}
		</tr>

		{% for line in lines %}
		<tr>
			{% for col in header|get_key_list %}
				{% with elem=header|dict_key:col %}
					<!--если это вложенный словарь-->
					{% if not elem|has_key:'visible' %}
						{% for sub_col in elem|get_key_list %}
							{% with sub_obj=line|get_attr:col %}
						  <td class="j-t-{{ col }}_{{ sub_col }}">
							  {% if sub_obj|check_object %}
									<!--картинка рега-->
								  {% if col == 'region' and sub_col == 'on_map_id' %}
										<img src="/static/img/regions/{{ sub_obj.on_map_id }}.png" alt="{{ col }}_{{ sub_col }}">
									<!--картинка-->
								  {% elif sub_col == 'image' %}
									{% with sub_obj_img=sub_obj|get_attr:sub_col %}
										{% if sub_obj_img %}
										<img src="{{ sub_obj_img|get_attr:'url' }}" alt="{{ col }}_{{ sub_col }}">
										{% else %}
										<img src="{% static 'img/nopic.png' %}" alt="{{ col }}_{{ sub_col }}">
										{% endif %}
									{% endwith %}
								  	<!--дата_время-->
								  {% elif sub_col == 'dtime' %}
									{% with sub_obj_dtime=sub_obj|get_attr:sub_col %}
										{{ sub_obj_dtime|timezone:player.time_zone|date:"d.m.Y H:i" }}
									{% endwith %}
								  	<!--текст варианта-->
								  {% elif sub_col|get_len > 4 and sub_col|get_n_chars:4 == 'get_' %}
									{{ sub_obj|run_meth:sub_col }}
									<!--что угодно-->
								  {% else %}
									{{ sub_obj|get_attr:sub_col }}
								  {% endif %}
							  {% endif %}
						  </td>
							  {% endwith %}
						{% endfor %}

					{% else %}
					  <td class="j-t-{{ col }}" {% if line|get_class_name == 'Player' or line|get_class_name == 'PlayerWithTop' %} style="cursor: pointer" onclick="window.open('/profile/{{ line.pk }}/')"{% endif %}>
					  <!--картинка рега-->
					  {% if col == 'on_map_id' %}
							<img src="/static/img/regions/{{ line.on_map_id }}.png" alt="{{ col }}">
					  <!--картинка-->
					  {% elif col == 'image' %}
						{% with obj_img=line|get_attr:col %}
							{% if obj_img %}
							<img src="{{ obj_img|get_attr:'url' }}" alt="{{ col }}">
							{% else %}
							<img src="{% static 'img/nopic.png' %}" alt="{{ col }}">
							{% endif %}
						{% endwith %}
					  <!--дата_время-->
					  {% elif col == 'dtime' %}
						{% with obj_dtime=line|get_attr:col %}
							{{ obj_dtime|timezone:player.time_zone|date:"d.m.Y H:i" }}
						{% endwith %}
					  <!--текст варианта-->
					  {% elif col|get_len > 4 and col|get_n_chars:4 == 'get_' %}
						{{ line|run_meth:col }}
					  <!--что угодно-->
					  {% else %}
						{{ line|get_attr:col }}
					  {% endif %}
					{% endif %}
					</td>
				{% endwith %}
			{% endfor %}
		</tr>
		{% endfor %}
	  </tbody>
	</table>
		<!--пагинация-->
		{% pagination lines %}
		<!--конец: пагинация-->
</div>