{% extends 'player/redesign/header.html' %}
{% load l10n %}{% load i18n %}
{% load redesign.pagination %}
{% load static %}
{% load is_dict %}
{% load get_attr %}
{% load check_object %}
{% load is_list %}
{% load has_key %}
{% load lower %}
{% load get_class_name %}
{% load get_key_list %}
{% load dict_key %}

{% load redesign.template_svg.nopic_party_list %}
{% load redesign.template_svg.nopic_list %}

{% block content %}
<main>

  <section class="earn custom-scroll">

		<!--Блок таблицы-->
    <div class="ct__js-table-container" id="js-ct-table-1">
			<h1 class="ct__js-table-title ct__page-title">{{ page_name }}</h1>
			<!--кнопка открытия настроек-->
			<button class="ct__js-modal-sett-open">
				<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
				width="80px" height="76px" viewBox="0 0 1280.000000 1276.000000"
				preserveAspectRatio="xMidYMid meet">
				<g transform="translate(0.000000,1276.000000) scale(0.100000,-0.100000)"
				fill="var(--c10two)" stroke="none">
				<path d="M5975 12749 c-86 -6 -144 -14 -151 -22 -6 -6 -36 -95 -67 -197 -30
				-102 -119 -396 -197 -655 -78 -258 -156 -516 -173 -571 l-30 -102 -188 -46
				c-213 -52 -475 -135 -658 -208 -68 -27 -130 -47 -137 -44 -7 3 -301 221 -653
				485 -353 265 -644 481 -649 481 -11 0 -250 -145 -362 -220 -206 -137 -422
				-299 -608 -456 l-25 -21 271 -746 c150 -411 272 -752 272 -758 0 -6 -40 -56
				-88 -112 -175 -202 -337 -420 -457 -615 -32 -52 -64 -96 -72 -99 -8 -3 -366 4
				-796 16 -430 12 -794 21 -808 21 -23 0 -30 -9 -56 -67 -61 -137 -142 -353
				-202 -538 -61 -186 -145 -494 -138 -502 2 -2 303 -204 668 -448 562 -377 665
				-450 670 -473 3 -15 1 -72 -4 -127 -8 -99 -2 -525 11 -702 l7 -92 -668 -448
				c-368 -246 -673 -450 -678 -453 -9 -6 22 -146 72 -320 71 -249 180 -554 284
				-794 l17 -39 141 6 c78 4 443 14 810 24 l668 17 25 -29 c13 -17 68 -95 120
				-174 113 -169 222 -314 350 -467 l93 -111 -275 -752 c-151 -414 -274 -757
				-272 -761 5 -14 213 -185 361 -296 225 -170 606 -418 631 -412 7 2 299 219
				649 482 l637 479 47 -15 c27 -9 84 -30 128 -48 183 -74 392 -141 619 -200 81
				-21 149 -40 151 -42 3 -3 222 -724 386 -1273 38 -126 73 -239 78 -251 8 -18
				24 -22 137 -33 314 -30 1078 -22 1110 12 6 7 36 95 67 197 30 102 119 396 197
				655 78 259 156 516 173 571 l30 102 188 46 c213 52 475 135 658 208 68 27 130
				47 137 44 7 -3 301 -221 653 -485 353 -265 644 -481 649 -481 11 0 250 145
				362 220 206 137 422 299 608 456 l25 21 -271 746 c-150 411 -272 752 -272 758
				0 6 40 56 88 112 175 202 337 420 457 615 32 52 64 96 72 99 8 3 366 -4 796
				-16 430 -12 794 -21 808 -21 23 0 30 9 56 68 61 136 142 352 202 537 61 186
				145 494 138 502 -2 2 -303 204 -668 448 -562 377 -665 450 -670 473 -3 15 -1
				72 4 127 8 99 2 527 -11 702 l-7 92 668 448 c368 246 673 450 678 453 9 6 -22
				146 -72 320 -71 249 -180 554 -284 794 l-17 39 -141 -6 c-78 -4 -443 -14 -810
				-24 l-668 -17 -25 29 c-13 17 -68 95 -120 174 -113 169 -222 314 -350 467
				l-93 111 275 752 c151 414 274 757 272 761 -5 14 -213 185 -361 296 -225 170
				-606 418 -631 412 -7 -2 -299 -219 -649 -482 l-637 -479 -47 15 c-27 9 -84 30
				-128 48 -183 74 -392 141 -619 200 -81 21 -149 40 -151 42 -3 3 -222 724 -386
				1273 -38 127 -73 239 -78 251 -8 18 -24 22 -137 33 -164 16 -775 22 -959 10z
				m2253 -2919 c73 -39 115 -83 151 -160 22 -46 26 -69 26 -140 0 -73 -4 -93 -28
				-142 -32 -65 -95 -125 -165 -159 -70 -34 -198 -38 -274 -9 -259 97 -294 456
				-58 598 76 45 102 52 200 49 74 -3 93 -7 148 -37z m-1586 -1425 c407 -47 749
				-184 1073 -428 176 -133 407 -392 514 -575 177 -306 264 -594 291 -969 10
				-128 9 -170 -5 -270 -45 -333 -152 -618 -334 -890 -437 -654 -1225 -1012
				-2023 -918 -407 47 -749 184 -1073 428 -176 133 -407 392 -514 575 -177 306
				-264 594 -291 969 -10 128 -9 170 5 270 33 241 90 435 190 639 274 563 772
				963 1390 1119 244 62 523 80 777 50z m-3348 -134 c182 -89 246 -300 143 -472
				-62 -103 -173 -163 -302 -162 -193 2 -335 144 -337 338 -3 248 268 409 496
				296z m6489 -3167 c131 -46 218 -173 219 -321 1 -62 -4 -82 -31 -137 -37 -75
				-92 -128 -170 -164 -81 -38 -202 -38 -282 -1 -79 37 -133 90 -171 167 -29 58
				-33 77 -33 143 0 65 5 85 33 142 79 159 263 232 435 171z m-4919 -1565 c73
				-27 148 -96 183 -167 24 -50 28 -69 28 -147 0 -73 -4 -99 -23 -136 -34 -70
				-84 -122 -154 -160 -60 -32 -68 -34 -163 -34 -95 0 -103 2 -163 34 -74 40
				-116 85 -150 159 -83 182 5 385 196 454 67 24 177 23 246 -3z"/>
				</g>
				</svg>
			</button>
			<!--модальное окно настроек-->
			<div class="ct__js-modal-sett">
				<button class="ct__js-modal-sett-close">
					<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"/><path d="M4 4L26 26M4 26L26 4" stroke="var(--c60)" stroke-width="3"/>
					</svg>
				</button>
			</div>
			<!--таблица-->
    	<table class="ct__js-table">
	      <tbody>

	        <tr>
				{% for col in header|get_key_list %}
					{% with elem=header|dict_key:col %}
						<!--если это вложенный словарь-->
						{% if not elem|has_key:'visible' %}
							{% for sub_col in elem|get_key_list %}
								{% with sub_elem=elem|dict_key:sub_col %}
								<td class="j-t-{{ col }}_{{ sub_col }}">{{ sub_elem|dict_key:'text' }}</td>
								{% endwith %}
							{% endfor %}
						{% else %}
						  <td class="j-t-{{ col }}">{{ elem|dict_key:'text' }}</td>
						{% endif %}
					{% endwith %}
				{% endfor %}
	        </tr>

			{% for line in lines %}
			<tr>
				{% for col in header|get_key_list %}
					{% with elem=header|dict_key:col %}
						<!--если это вложенный словарь-->
						{% if not elem|has_key:'visible' %}
							{% for sub_col in elem|get_key_list %}
								{% with sub_obj=line|get_attr:col %}
							  <td class="j-t-{{ col }}_{{ sub_col }}" style="cursor: pointer" {% if sub_obj|check_object %}onclick="window.open('/{% if sub_obj|get_class_name == 'Player' %}profile{% elif sub_obj|get_class_name == '_PartyWithSize' %}party{% else %}{{ sub_obj|get_class_name|lower }}{% endif %}/{% localize off %}{{ sub_obj.pk }}{% endlocalize %}/')"{% endif %}>
								  {% if sub_obj|check_object %}
								  		<!--картинка рега-->
									  {% if col == 'region' and sub_col == 'on_map_id' %}
											<img src="/static/img/regions/{{ sub_obj.on_map_id }}.png" alt="{{ col }}_{{ sub_col }}">
										<!--картинка-->
									  {% elif sub_col == 'image' %}
								      	{% with sub_obj_img=sub_obj|get_attr:sub_col %}
								  			{% if sub_obj_img %}
											<img src="{{ sub_obj_img|get_attr:'url' }}" alt="{{ col }}_{{ sub_col }}">
								  			{% else %}
								  			{% nopic_list player '' %}
								  			{% endif %}
										{% endwith %}
								  	  <!--название региона-->
								  	  {% elif sub_col == 'region_name' %}
								      	{% with sub_obj_name=sub_obj|get_attr:sub_col %}
								  			{% trans sub_obj_name context "regions_list" %}
										{% endwith %}
										<!--что угодно-->
									  {% else %}
								  		{{ sub_obj|get_attr:sub_col }}
									  {% endif %}
								  {% endif %}
							  </td>
								  {% endwith %}
							{% endfor %}

						{% else %}
						  <td class="j-t-{{ col }}" style="cursor: pointer" onclick="window.open('/{% if line|get_class_name == 'Player' or line|get_class_name == 'PlayerWithDmg' or line|get_class_name == 'PlayerWithTop' or line|get_class_name == '_PlayerWithTop' or line|get_class_name == 'PlayerWithCash' or line|get_class_name == 'PPlayerWithTop' or line|get_class_name == 'KPlayerWithTop' or line|get_class_name == 'EPlayerWithTop' %}profile{% elif line|get_class_name == '_PartyWithSize' %}party{% elif line|get_class_name == 'RegionWithPop' %}region{% else %}{{ line|get_class_name|lower }}{% endif %}/{% localize off %}{{ line.pk }}{% endlocalize %}/')">
						  <!--картинка рега-->
						  {% if col == 'on_map_id' %}
								<img src="/static/img/regions/{{ line.on_map_id }}.png" alt="{{ col }}">
						  <!--картинка-->
						  {% elif col == 'image' %}
							{% with obj_img=line|get_attr:col %}
								{% if obj_img %}
								<img src="{{ obj_img|get_attr:'url' }}" alt="{{ col }}">
								{% else %}
								  {% if line|get_class_name == 'Player' or line|get_class_name == 'PlayerWithDmg' or line|get_class_name == 'PlayerWithTop' or line|get_class_name == '_PlayerWithTop' or line|get_class_name == 'PlayerWithCash' or line|get_class_name == 'PPlayerWithTop' or line|get_class_name == 'KPlayerWithTop' or line|get_class_name == 'EPlayerWithTop' %}
							  		<!--нет картинки: игрок-->
							  		{% nopic_list player '' %}
								  {% elif line|get_class_name == '_PartyWithSize' %}
									<!--нет картинки: партия-->
							  		{% nopic_party_list player '' %}
								  {% endif %}
							    {% endif %}
							{% endwith %}
					  		<!--название региона-->
						  {% elif col == 'region_name' %}
							{% with obj_name=line|get_attr:col %}
								{% trans obj_name context "regions_list" %}
							{% endwith %}
						  <!--что угодно-->
						  {% else %}
							{{ line|get_attr:col }}
						  {% endif %}
						{% endif %}
						</td>
					{% endwith %}
				{% endfor %}
			</tr>
			{% endfor %}
	      </tbody>
	    </table>
			<!--пагинация-->
			{% pagination lines %}
			<!--конец: пагинация-->
    </div>

    <script>

      class JsTable {
        constructor(data) {
          this.settings = data;
					this.tableContainer = document.getElementById(this.settings.tableContainerId);
					console.log(this.tableContainer);

          // сохраняем все ячейки
          this.columns = [];
          this.settings.columns.forEach((column) => {
            let newColumnDomNodes = [...document.querySelectorAll(`.${column.className}`)]
            this.columns.push(newColumnDomNodes);
          });

					// загрузка настроек из LocalStorage
					this.loadFromLocalStorage()

          // прячем колонки изначально
          this.refreshTableColumns()

					// окно модальных настроек
					this.modalSett = {
						node: null,
						open: null,
						close: null,
					}
					this.modalSett.node = this.tableContainer.querySelector('.ct__js-modal-sett')
					this.modalSett.open = this.tableContainer.querySelector('.ct__js-modal-sett-open')
					this.modalSett.close = this.tableContainer.querySelector('.ct__js-modal-sett-close')

					this.modalSett.open.addEventListener('click', () => { this.openModalSettings() })
					this.modalSett.close.addEventListener('click', () => { this.closeModalSettings() })

					this.settings.columns.forEach((column, index) => {
						this.modalSett.node.insertAdjacentHTML('beforeend', `
							<label>
								<input class="col${index} visually-hidden" type="checkbox" ${column.isVisible ? 'checked' : ''}>
								<span></span>
								${column.name}
							</label>
						`)
						const currentCol = this.modalSett.node.querySelector(`.col${index}`)
						currentCol.addEventListener('click', () => { this.checkboxClickHandler(column) })
					})

        }

				openModalSettings() {
					this.modalSett.node.classList.add('active');
				}

				closeModalSettings() {
					this.modalSett.node.classList.remove('active');
					console.log('click');
					this.saveToLocalStorage();
				}

				checkboxClickHandler(column) {
					column.isVisible = !column.isVisible;
					this.refreshTableColumns();
				}

				refreshTableColumns() {
					this.settings.columns.forEach((column, index) => {
            if (!column.isVisible) {
              this.columns[index].forEach((item) => item.style.display = 'none')
            } else {
              this.columns[index].forEach((item) => item.style.display = '')
						}
          });
				}

				saveToLocalStorage() {
					let saveArray = [];
					this.settings.columns.forEach((column) => {
						saveArray.push(column.isVisible);
					})
					localStorage.setItem(`${this.settings.tableContainerId}`, JSON.stringify(saveArray))
				}

				loadFromLocalStorage() {
					if (!localStorage.getItem(`${this.settings.tableContainerId}`)) return;
					const loadedArray = JSON.parse(localStorage.getItem(`${this.settings.tableContainerId}`));
					this.settings.columns.forEach((column, index) => {
						column.isVisible = loadedArray[index];
					})
				}

      }

      const jsTable1 = new JsTable({
        tableContainerId: 'js-ct-table-1',
        columns: [
			{% for col in header|get_key_list %}
				{% with elem=header|dict_key:col %}
					<!--если это вложенный словарь-->
					{% if not elem|has_key:'visible' %}
						{% for sub_col in elem|get_key_list %}
							{% with sub_elem=elem|dict_key:sub_col %}
						{ name: '{{ sub_elem|dict_key:'select_text' }}', className: 'j-t-{{ col }}_{{ sub_col }}', isVisible: {{ sub_elem|dict_key:'visible' }} },
							{% endwith %}
						{% endfor %}
					{% else %}
				    	{ name: '{{ elem|dict_key:'select_text' }}', className: 'j-t-{{ col }}', isVisible: {{ elem|dict_key:'visible' }} },
					{% endif %}
				{% endwith %}
			{% endfor %}
        ],
      })

    </script>

	</section>

	<svg style="display: none;" width="362" class="border-bottom" height="194" viewBox="0 0 362 194" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g>
		<path d="M13 7H151L156 2V1H7V7H13Z" fill="var(--c60)"/>
		<path d="M7 6.99999L151 7L157 1" stroke="var(--c10two)"/>
		<path d="M13 1L13 13L1 13" stroke="var(--c10two)"/>
		<path d="M7.00001 7L7 151L1 157" stroke="var(--c10two)"/>
		<path d="M1 163L7 157L7 169L1 175M1 181L7 175L7 181L1 187M1 193L7 187" stroke="var(--c10two)"/>
		</g>
		<g>
		<path d="M349 7H211L206 2V1H355V7H349Z" fill="var(--c60)"/>
		<path d="M355 6.99999L211 7L205 1" stroke="var(--c10two)"/>
		<path d="M349 1L349 13L361 13" stroke="var(--c10two)"/>
		<path d="M355 7L355 151L361 157" stroke="var(--c10two)"/>
		<path d="M361 163L355 157L355 169L361 175M361 181L355 175L355 181L361 187M361 193L355 187" stroke="var(--c10two)"/>
		</g>
	</svg>

</main>
{% endblock %}