{% extends 'player/header.html' %}
{% load static %}
{% load dict_key %}
{% load pagination %}
{% block content %}
{% load tz %}
{% load l10n %}{% load i18n %}
<div id="over" class="tabcontent">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <div class="row">
                    <!--регион, войны, статы/чатик-->
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <h3>Население в регионе <img src="/static/img/regions/{{ request_region.on_map_id }}.png" width="25px" height="25px" alt="world_icon">{{ request_region.region_name }}: {{ players_count }}</h3>
                        </div>
                        <div class="row">
                             <div class="col-xs-12 col-sm-12 col-md-12" style="height: 700px; overflow-y: auto;">
                                {% for character in lines %}
                                 <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">
                                        <a href='/profile/{% localize off %}{{ character.pk }}{% endlocalize %}' target="_blank">
                                            <!--если пользователь загрузил аватарку-->
                                            {% if character.image %}
                                            <img src="{{ character.image.url }}" width="50" height="50" align="right">
                                            {% else %}
                                            <img src="{% static 'img/nopic.png' %}" width="50" height="50" align="right">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <a href='/profile/{% localize off %}{{ character.pk }}{% endlocalize %}' target="_blank">
                                            <h3>{{ character.nickname }}</h3>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            {% pagination lines %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
            </div>
        </div>
</div>
{% endblock %}