.chat__header {
  text-align: center;
}

.chat__item {
  display: flex;
  align-items: flex-start;
}

.chat__messages {
  margin-left: 10px;
}

.chat__message {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 10px;
}

.chat__message-content {
  border-radius: 5px;
  padding: 7px;
  background-color: #ccc;
  display: inline-block;

  margin-left: 5px;
}

.chat__item--responder {
  flex-direction: row-reverse;
}

  .chat__item--responder .chat__message {
    flex-direction: row-reverse;
  }

  .chat__item--responder .chat__message-content {
    margin-left: 0;
    margin-right: 5px;
  }
