{% extends 'player/redesign/header.html' %}
{% load l10n %}{% load i18n %}
{% load redesign.pagination %}
{% load static %}
{% load is_dict %}
{% load get_attr %}
{% load check_object %}
{% load is_list %}
{% load has_key %}
{% load lower %}
{% load get_class_name %}
{% load get_key_list %}
{% load dict_key %}

{% load redesign.template_svg.nopic %}

{% block content %}
<style>
  .overview__chat-message--new {
    color: var(--c10two)!important;
  }
</style>
<main>

  <section class="dialogs custom-scroll">
		<h1 class="dialogs__title ct__page-title">
			Диалоги
			{% if user.is_superuser %}
			<button class="nav__svg-newMessage " onclick="window.location.href = '/new_admin_sending/'" style="cursor: pointer">

				<svg width="43" height="27" viewBox="0 0 43 27" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16.2073 14.4351L0 25.6548V1.00525L16.2073 14.4351Z" fill="var(--c10two)"></path>
					<path d="M25.8514 14.4398L42.0587 25.6594V1.00989L25.8514 14.4398Z" fill="var(--c10two)"></path>
					<path d="M1.93774 0L9.08032 6.04102V6.04297L21.3049 16.3809L33.5295 6.04102L40.6702 0H32.4104H10.1975H1.93774Z" fill="var(--c10two)"></path>
					<path d="M17.2631 15.9076L2.27258 26.7068H9.91768H32.2556H39.9007L24.9082 15.9076L21.0857 18.6621L17.2631 15.9076Z" fill="var(--c10two)"></path>
				</svg>

			</button>
			{% endif %}
		</h1>
		<ul class="dialogs__grid">
			{% for dialog in dialogs %}
			<li>
				{% with data=dialogs_data|dict_key:dialog %}

				{% if data|dict_key:'dtime' %}

				{% if data|dict_key:'author' %}
				<a href='/im/{% localize off %}{{ data|dict_key:"author" }}{% endlocalize %}' class="overview__chat-message overview__chat-message--dialog">
				{% else %}
				<a class="overview__chat-message overview__chat-message--dialog">
				{% endif %}
					<!--аватарка-->
					<span class="overview__chat-ava-link">
						{% if data|dict_key:'image_link' == 'nopic' %}
						  {% nopic player 'overview__chat-ava' %}
						{% else %}
						  <img src="{{ data|dict_key:'image_link' }}" class="overview__chat-ava">
						{% endif %}
					</span>
					<div class="overview__chat-message-wrapper">
						<!--ник и дата-->
						<div class="overview__chat-message-header">
							<h3 class="{% if not data|dict_key:'read' %}overview__chat-message--new{% endif %}">{{ data|dict_key:"author_nickname" }}</h3>
							{% if data|dict_key:'dtime' %}
							<span class="{% if not data|dict_key:'read' %}overview__chat-message--new{% endif %}">{{ data|dict_key:'dtime' }}</span>
							{% endif %}
						</div>
						<div class="overview__chat-message-body">
							<!--текст сообщения-->
						{% if data|dict_key:'content' %}
						  {% if 'img' in data|dict_key:'content' %}
							  {% autoescape off %}
						  <p class="overview__chat-message-sticker">{{ data|dict_key:'content' }}</p>
							  {% endautoescape %}
						  {% else %}
						  <p>{{ data|dict_key:'content' }}</p>
						  {% endif %}
					  	{% endif %}
						</div>
					</div>
				{% if data|dict_key:'author' %}
				</a>
				{% else %}
				</a>
				{% endif %}

				{% endif %}

				{% endwith %}
			</li>
			{% endfor %}
		</ul>
  </section>
</main>
{% endblock %}