{% extends 'player/header.html' %}
{% load static %}
{% load bootstrap3 %}
{% load l10n %}{% load i18n %}
{% load tz %}
{% load get_mod %}
{% load get_attr %}
{% load dict_key %}
{% load pagination %}

{% block for_scripts_and_css %}
<script>
    {% if available_packs %}
    var pack_info = {
        {% for pack in available_packs %}
{% localize off %}{{ pack.pk }}{% endlocalize %}: {
                'author': '{{ pack.creator }}',
                'link': '{{ pack.creator_link }}',
                'description': {% autoescape off %}'{{ pack.description }}'{% endautoescape %},
                'price': {% localize off %}{{ pack.price }}{% endlocalize %},
            },
        {% endfor %}
    };
    {% endif %}

    jQuery(document).ready(function ($) {
    $('#buy_pack_form').submit(function(e){
        e.preventDefault();
        var sending_data = $(this).serialize();
        $.ajax({
            type: "POST",
            url: "/buy_sticker_pack/",
            data:  sending_data,
            cache: false,
            success: function(data){
                if (data.response == 'ok'){
                    location.reload();
                }
                else{
                    display_modal('notify', data.header, data.response, null, data.grey_btn)
                }
            }
        });
    });
});
</script>
{% endblock %}

{% block content %}
<div id="over" class="tabcontent">
    {% if available_packs %}
    <ul class="nav nav-tabs">
        {% for pack in available_packs %}
        <li {% if forloop.counter0 == 0 %}class="active"{% endif %}>
            <a data-toggle="tab" href="#stickerpack_{{ pack.pk }}" data-id="{{ pack.pk }}" class="pack_header">
                <img src="{{ header_img_dict|dict_key:pack.pk }}" width="100" height="100">
                {{ pack.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        <div class="row" style="height: 70px">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div style="display: flex; flex-direction: row;">
                    Автор: <a id="pack_author" href="{{ available_packs|first|get_attr:'creator_link' }}">
                        {{ available_packs|first|get_attr:'creator' }}
                    </a>
                </div>
                <div id="pack_desk">
                    {% autoescape off %}
                        {{ available_packs|first|get_attr:'description' }}
                     {% endautoescape %}
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6" style="display: flex; flex-direction: row; align-items: center;">
                <div style="margin-right: 15px">Купить набор:</div>
                <form id="buy_pack_form" role="form">
                    {% csrf_token %}
                    <input type="hidden" id="pack_id" name="pack_id" value="{{ available_packs|first|get_attr:'pk' }}">
                    <input class="btn btn-success" type="submit" id="buy_button"
                           value="{{ available_packs|first|get_attr:'price' }} G" style="margin-top: 15px"/>
                </form>
            </div>
        </div>
        {% for pack in available_packs %}
        <div id="stickerpack_{{ pack.pk }}" class="tab-pane fade {% if forloop.counter0 == 0 %}in active{% endif %}">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; height: 800px; overflow-y: auto;">
            {% with set=stickers_dict|dict_key:pack.pk %}
                {% for sticker in set %}
                <img src="{{ sticker.image.url }}" alt="{{ sticker.description }}" width="250" height="250"
                     style="margin: 5px;">
                {% endfor %}
            {% endwith %}
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        $(".pack_header").click(function () {
            $('#pack_author').html(pack_info[$(this).data('id')]['author']);
            $('#pack_author').attr("href", pack_info[$(this).data('id')]['link']);

            $('#pack_desk').html(pack_info[$(this).data('id')]['description']);

            $('#pack_id').val($(this).data('id'));
            $('#buy_button').val(pack_info[$(this).data('id')]['price'] + ' G');
        })
    </script>
    {% else %}
    <div class="row" align="center">
        Похоже, вы скупили все стикерпаки.
        <br>Да вы мажор!
    </div>
    {% endif %}
</div>
{% endblock %}
