{% extends 'player/header.html' %}
{% load static %}
{% load dict_key %}
{% load pagination %}
{% block content %}
<div id="over" class="tabcontent">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <div class="row">
                    <!--регион, войны, статы/чатик-->
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <h3>Регионов всего: {{ regions_count }}</h3>
                        </div>
                        <div class="row">
                             <div class="col-xs-12 col-sm-12 col-md-12" style="height: 700px; overflow-y: auto;">
                                  <div class="row">
                                     <div class="col-xs-6 col-sm-6 col-md-6">
                                        <h3>Регион</h3>
                                     </div>
                                        <div class="col-xs-2 col-sm-2 col-md-2"></div>
                                     <div class="col-xs-2 col-sm-2 col-md-2">
                                        <h3>Онлайн</h3>
                                     </div>
                                   <div class="col-xs-2 col-sm-2 col-md-2">
                                        <h3>Всего</h3>
                                     </div>
                                </div>
                                {% for region in lines %}
                                 <div class="row" onclick="window.location.href = '/region/{{ region.pk }}/'" style="cursor: pointer">
                                     <div class="col-xs-2 col-sm-2 col-md-2" align="center">
                                        <img src="/static/img/regions/{{ region.on_map_id }}.png" width="50" height="50" align="right">
                                     </div>
                                     <div class="col-xs-4 col-sm-4 col-md-4">
                                        <h3>{{ region.region_name }}</h3>
                                     </div>
                                     <div class="col-xs-2 col-sm-2 col-md-2"></div>
                                     <div class="col-xs-2 col-sm-2 col-md-2">
                                         {% if region.pk in regions_online %}
                                        <h3>{{ regions_online|dict_key:region.pk }}</h3>
                                         {% else %}
                                        <h3>0</h3>
                                         {% endif %}
                                     </div>
                                     <div class="col-xs-2 col-sm-2 col-md-2">
                                         {% if region in regions_pop %}
                                        <h3>{{ regions_pop|dict_key:region }}</h3>
                                         {% else %}
                                        <h3>0</h3>
                                         {% endif %}
                                     </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            {% pagination lines %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
            </div>
        </div>
</div>
{% endblock %}