{% extends 'player/redesign/header.html' %}
{% load static %}
{% load dict_key %}
{% load l10n %}{% load i18n %}{% load tz %}
{% load get_class_name %}
{% load get_sum %}
{% load get_str %}
{% load redesign.template_svg.nopic %}

{% block for_scripts_and_css %}
<script>
	var header_text = "{% trans 'Новая статья' context "article" %}";
	var body_text = "{% trans 'Статья не может быть пустой' context "article" %}";
	var ok_text = "{% trans 'Закрыть' context "core" %}";
</script>
<script src='{% static "js/new_article.js" %}?{{ csrf_token }}'></script>
{% endblock %}

{% block content %}
   <section class="articles custom-scroll">
    <!-- Заголовок -->
    <h1 class="articles__title ct__page-title">
      {% trans 'Новая статья' context 'article' %}
    </h1>

<!--    <div class="articles__inner">-->

<!--        <div class="ct__selectWithImage">-->
<!--            <div class="ct__selectWithImage-selected">-->
<!--                <img src="img/gerb.png" alt="Выбор">-->
<!--                <div class="ct__selectWithImage-firstText">-->
<!--                    <span>выберите регион</span>-->
<!--                    <svg class="ct__selectWithImage-arrow" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                        <path d="M1 1L7.5 7L14 1" stroke="var(&#45;&#45;c10one)"/>-->
<!--                    </svg>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="ct__selectWithImage-content custom-scroll custom-scroll&#45;&#45;alt">-->
<!--                <div data-value="1"><img src="img/gerb.png"> Элемент 1</div>-->
<!--                <div data-value="2"><img src="img/gerb.png"> Элемент 2</div>-->
<!--                <div data-value="3"><img src="https://test.wildpolitics.online/static/img/regions/DE-BB.png"> Элемент 3</div>-->
<!--                <div data-value="4"><img src="https://test.wildpolitics.online/static/img/regions/DE-BB.png"> Элемент 4</div>-->
<!--                <div data-value="5"><img src="https://test.wildpolitics.online/static/img/regions/DE-BB.png"> Элемент 5</div>-->
<!--            </div>-->
<!--        </div>-->

<!--      <label class="articles__labelSelect ct__wide-modal-label-select ct__wide-modal-label-select&#45;&#45;100">-->
<!--        <select>-->
<!--          <option value="" disabled selected>выбор действия</option>-->
<!--          <option value="">действие 1</option>-->
<!--          <option value="">действие 2</option>-->
<!--          <option value="">действие 3</option>-->
<!--        </select>-->
<!--				<svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--					<path d="M1 1L7.5 7L14 1" stroke="var(&#45;&#45;c10one)"/>-->
<!--				</svg>-->
<!--      </label>-->

<!--      <div class="DecorLine"></div>-->

<!--    </div>-->

		<!--ДЛЯ ПАНЕЛЬКИ РЕДАКТИРОВАНИЯ СТАТЬИ-->
		<form id="new_article_form" method="post">
			<div class="articles__inner">
<!--			<div class="DecorLine"></div>-->
				<label class="articles__titleInput">
					<input type="text" id="title" name="title" placeholder="{% trans 'Заголовок статьи' context 'article' %}">
				</label>

				<label class="articles__textarea">
					{% csrf_token %}
					{{ form }}
				</label>

			</div>

			<div style="display: flex; justify-content: center; width: 100%; margin-top: 24rem;">
				<button class="ct__top-tab ct__top-tab1 active ct__mid-btn">
					<svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
						<mask id="mask0_259_317" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
							<path class="geometry1" d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
						</mask>
						<g mask="url(#mask0_259_317)">
							<path class="geometry2" d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z"/>
							<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
							<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
							<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
						</g>
					</svg>
					<span>{% trans 'опубликовать' context "article" %}</span>
				</button>
			</div>
		</form>
		<div class="box__tabs ct__top-tabs">
<!--			<button class="ct__top-tab ct__top-tab2 active ct__mid-btn">-->
<!--				<svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">-->
<!--					<mask id="mask0_259_318" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">-->
<!--						<path class="geometry1" d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>-->
<!--					</mask>-->
<!--					<g mask="url(#mask0_259_318)">-->
<!--						<path class="geometry2" d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z"/>-->
<!--						<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(&#45;&#45;c10one)"/>-->
<!--						<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(&#45;&#45;c10one)"/>-->
<!--						<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(&#45;&#45;c10one)"/>-->
<!--					</g>-->
<!--				</svg>-->
<!--				<span>предпросмотр</span>-->
<!--			</button>-->
		</div>


  </section>
{% endblock %}