{% load get_key_list %}
{% load get_mod %}
{% load dict_key %}
<div class="row">
    {% if stickers_header_dict %}
    <div class="col-xs-12 col-sm-12 col-md-12">
        <ul class="nav nav-tabs" style="display: flex; flex-direction: row; align-items: center;">
            {% for pack_id in stickers_header_dict|get_key_list %}
            <li {% if forloop.counter0 == 0 %}class="active"{% endif %}><a data-toggle="tab" href="#stickerpack_{{ pack_id }}">
        <!--        <img src="/static/img/{{ LANGUAGE_CODE }}.png" width="30" height="30">-->
                {{ stickers_header_dict|dict_key:pack_id }}</a></li>
            {% endfor %}
            <a href="{% url 'stickers_shop' %}" class="btn btn-success">Магазин</a>
        </ul>
        <div class="tab-content">
            {% for pack_id in stickers_dict|get_key_list %}
            <div id="stickerpack_{{ pack_id }}" class="tab-pane fade {% if forloop.counter0 == 0 %}in active{% endif %}">
                <div style="display: flex; flex-direction: row; flex-wrap: wrap; height: 300px; overflow-y: auto;">
                {% with pack=stickers_dict|dict_key:pack_id %}
                    {% for sticker in pack %}
                    <img src="{{ sticker.image.url }}" id="{{ pack_id }}_{{ sticker.pk }}" class="sticker_img" width="100" height="100" alt="{{ sticker.description }}"
                         style="margin: 5px;">
                    {% endfor %}
                {% endwith %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <a href="{% url 'stickers_shop' %}" class="btn btn-success">Перейти</a> в магазин стикеров
    {% endif %}
</div>