{% load static %}
{% load get_attr %}
{% load dict_key %}
{% load define %}
{% load has_key %}
{% load l10n %}{% load i18n %}
{% load get_key_list %}

<!--Наличные-->
  <div class="ct__s">
    <h2 class="ct__s-title">{% trans 'Уровень' context "storage" %}:</h2>
    <p class="ct__s-text">
      {{ storage|get_attr:'level' }}
    </p>
  </div>
  <div class="ct__s">
    <h2 class="ct__s-title">{{ storage.valut|dict_key:'cash' }}:</h2>
    <p class="ct__s-text">
      {{ storage|get_attr:'cash' }}
    </p>
  </div>

{% for size in size_dict|get_key_list %}
    {% if all_stocks|has_key:size %}
        {% for stock in all_stocks|dict_key:size %}
            {% with good=stock|get_attr:'good' %}
              <div class="ct__s">
                <h2 class="ct__s-title">{{ good.name }}:</h2>
                <div class="ct__s-text-input">
                    <label>
                        <input type="number" value="0" step="1" min="0" max="{% localize off %}{{ stock|get_attr:'stock' }}{% endlocalize %}" data-storage_id="{% localize off %}{{ storage.pk }}{% endlocalize %}" data-stock_id="{% localize off %}{{ stock.pk }}{% endlocalize %}" data-good_vol="{% localize off %}{{ stock.good.volume }}{% endlocalize %}" class="good_input" name="{% localize off %}{{ storage.pk }}_{{ stock.pk }}{% endlocalize %}">
                    </label>
                    <span>/ {{ stock|get_attr:'stock' }}</span>
                    <span>{% trans 'объём (ед)' context "assets" %}: <span id="{% localize off %}{{ storage.pk }}_{{ stock.pk }}_places{% endlocalize %}" data-text="0">0</span></span>
                </div>
              </div>
            {% endwith %}
        {% endfor %}
    {% endif %}
{% endfor %}
