{% extends 'player/redesign/header.html' %}
{% load redesign.storage_blocks.has_storage %}
{% load redesign.storage_blocks.no_storage %}
{% load static %}
{% load get_mul %}
{% load dict_key %}
{% load static %}
{% load l10n %}{% load i18n %}
{% block content %}
<section class="store">
    <h1 class="store__title ct__page-title">Склад</h1>
    <div class="store__tabs ct__top-tabs">
        <button class="ct__top-tab ct__top-tab1 active ct__mid-btn">
            <svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_259_317" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
                    <path class="geometry1" d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
                </mask>
                <g mask="url(#mask0_259_317)">
                    <path class="geometry2" d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z"/>
                    <path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
                    <path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
                    <path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
                </g>
            </svg>
            <span>склад</span>
        </button>
        <button class="ct__top-tab ct__top-tab2 ct__mid-btn">
            <svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_259_318" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
                <path class="geometry1" d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
                </mask>
                <g mask="url(#mask0_259_318)">
                    <path class="geometry2" d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z"/>
                    <path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
                    <path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
                    <path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
                </g>
            </svg>
            <span>хранилище</span>
        </button>
    </div>
    <div class="store__wrapper-overflow">
    	<div class="store__wrapper">
          {% if storage %}
	      <!-- ВКЛАДКА СКЛАД -->
          {% has_storage storage player %}
	      <!-- КОНЕЦ ВКЛАДКИ СКЛАД -->
          {% else %}
		  {% no_storage player %}
          {% endif %}
	      <!-- ВКЛАДКА ХРАНИЛИЩЕ -->
	      <div class="store__right">
					<h2 class="store__right-title">
						энергетики:
						<label id="bottles">
						{{ player.bottles }} <!--значение количества энергетиков-->
						</label>
					</h2>
					<form method="POST" id="produce_energy_form" enctype="multipart/form-data" class="store__right-block">
						{% csrf_token %}
						<span>создать:</span>
						<label>
						<input type="number" {% localize off %}min="{% if player.gold == 0 %}0{% else %}10{% endif %}" max="{{ player.gold|get_mul:10 }}"{% endlocalize %} step="10" name="energy_field" id="energy_field">
						</label>
						<span>стоимость:
							<i id="gold_cost">100</i> <!--значение стоимость-->
						</span>
						<input type="range" id="energy_range" {% localize off %}min="{% if player.gold == 0 %}0{% else %}10{% endif %}" max="{{ player.gold|get_mul:10 }}"{% endlocalize %} step="10">
						<button class="store__create-btn ct__mid-btn">
							<svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<mask id="mask0_259_319" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
									<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="var(--c10two)"/>
								</mask>
								<g mask="url(#mask0_259_319)">
									<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
									<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
									<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
									<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
								</g>
							</svg>
							<span>создать</span>
						</button>
						<svg width="312" height="98" viewBox="0 0 314 100" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.46447 11.5355L11.5355 2.46447C12.4732 1.52678 13.745 1 15.0711 1H308C310.761 1 313 3.23857 313 6V94C313 96.7614 310.761 99 308 99H6C3.23858 99 1 96.7614 1 94V15.0711C1 13.745 1.52678 12.4732 2.46447 11.5355Z" fill="var(--c30)" stroke="var(--c30)"/>
						</svg>
					</form>
					<div class="store__wp-wrapper">
						<h2>WILD PASS</h2>
						<picture>
							<img src="{% static 'img/wild_pass.png' %}" alt="wild_pass">
						</picture>
						<div class="store__wp-wrapper-r">
							<span>Количество: <label id="wp_count">{{ player.cards_count }}</label></span>
							<button onclick="check_card()" {% if not player.cards_count > 0 %}disabled{% endif %} class="ct__mid-btn">
								<svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
									<mask id="mask0_259_320" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
										<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
									</mask>
									<g mask="url(#mask0_259_320)">
										<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
										<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
										<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
										<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
									</g>
								</svg>
								<span>использовать</span>
							</button>
						</div>
					</div>
				</div>
	      <!-- КОНЕЦ ВКЛАДКИ ХРАНИЛИЩЕ -->
	    </div>
    </div>
</section>
<script>
	var move_header = '{% if premium %}Продление{% else %}Активация{% endif %} премиум-аккаунта';

	{% if premium %}
	var move_text = 'Ваш премиум-аккаунт будет продлён на один месяц. Данную операцию невозможно отменить. Продолжить?';
	{% else %}
	var move_text = 'Вы активируете премиум-аккаунт, длительностью один месяц. Данную операцию невозможно отменить. Продолжить?';
	{% endif %}

	var move_yes = 'Продолжить';
	var move_cancel = 'Отмена';
</script>
<script src='{% static "js/storage.js" %}?{{ csrf_token }}'></script>
<script src='{% static "js/redesign/vault.js" %}?{{ csrf_token }}'></script>
{% endblock %}