{% extends 'player/redesign/header.html' %}
{% load redesign.storage_blocks.has_storage %}
{% load redesign.storage_blocks.no_storage %}
{% load static %}
{% load get_attr %}
{% load get_mul %}
{% load get_sum %}
{% load get_verbose %}
{% load check_up_limit %}
{% load dict_key %}
{% load static %}
{% load l10n %}{% load i18n %}
{% block content %}
<style>
	.up_plus {
		cursor: pointer;
	}
	.up_minus {
		cursor: pointer;
	}
</style>
<section class="store custom-scroll">
    <h1 class="store__title ct__page-title">{% trans 'Склад' context "storage" %}</h1>
	<button class="store__title-settings ct__js-modal-sett-open" id="store__modal1-open" style="cursor: pointer;">
		<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
	width="80px" height="76px" viewBox="0 0 1280.000000 1276.000000"
	preserveAspectRatio="xMidYMid meet">
	<g transform="translate(0.000000,1276.000000) scale(0.100000,-0.100000)"
	fill="var(--c10two)" stroke="none">
	<path d="M5975 12749 c-86 -6 -144 -14 -151 -22 -6 -6 -36 -95 -67 -197 -30
	-102 -119 -396 -197 -655 -78 -258 -156 -516 -173 -571 l-30 -102 -188 -46
	c-213 -52 -475 -135 -658 -208 -68 -27 -130 -47 -137 -44 -7 3 -301 221 -653
	485 -353 265 -644 481 -649 481 -11 0 -250 -145 -362 -220 -206 -137 -422
	-299 -608 -456 l-25 -21 271 -746 c150 -411 272 -752 272 -758 0 -6 -40 -56
	-88 -112 -175 -202 -337 -420 -457 -615 -32 -52 -64 -96 -72 -99 -8 -3 -366 4
	-796 16 -430 12 -794 21 -808 21 -23 0 -30 -9 -56 -67 -61 -137 -142 -353
	-202 -538 -61 -186 -145 -494 -138 -502 2 -2 303 -204 668 -448 562 -377 665
	-450 670 -473 3 -15 1 -72 -4 -127 -8 -99 -2 -525 11 -702 l7 -92 -668 -448
	c-368 -246 -673 -450 -678 -453 -9 -6 22 -146 72 -320 71 -249 180 -554 284
	-794 l17 -39 141 6 c78 4 443 14 810 24 l668 17 25 -29 c13 -17 68 -95 120
	-174 113 -169 222 -314 350 -467 l93 -111 -275 -752 c-151 -414 -274 -757
	-272 -761 5 -14 213 -185 361 -296 225 -170 606 -418 631 -412 7 2 299 219
	649 482 l637 479 47 -15 c27 -9 84 -30 128 -48 183 -74 392 -141 619 -200 81
	-21 149 -40 151 -42 3 -3 222 -724 386 -1273 38 -126 73 -239 78 -251 8 -18
	24 -22 137 -33 314 -30 1078 -22 1110 12 6 7 36 95 67 197 30 102 119 396 197
	655 78 259 156 516 173 571 l30 102 188 46 c213 52 475 135 658 208 68 27 130
	47 137 44 7 -3 301 -221 653 -485 353 -265 644 -481 649 -481 11 0 250 145
	362 220 206 137 422 299 608 456 l25 21 -271 746 c-150 411 -272 752 -272 758
	0 6 40 56 88 112 175 202 337 420 457 615 32 52 64 96 72 99 8 3 366 -4 796
	-16 430 -12 794 -21 808 -21 23 0 30 9 56 68 61 136 142 352 202 537 61 186
	145 494 138 502 -2 2 -303 204 -668 448 -562 377 -665 450 -670 473 -3 15 -1
	72 4 127 8 99 2 527 -11 702 l-7 92 668 448 c368 246 673 450 678 453 9 6 -22
	146 -72 320 -71 249 -180 554 -284 794 l-17 39 -141 -6 c-78 -4 -443 -14 -810
	-24 l-668 -17 -25 29 c-13 17 -68 95 -120 174 -113 169 -222 314 -350 467
	l-93 111 275 752 c151 414 274 757 272 761 -5 14 -213 185 -361 296 -225 170
	-606 418 -631 412 -7 -2 -299 -219 -649 -482 l-637 -479 -47 15 c-27 9 -84 30
	-128 48 -183 74 -392 141 -619 200 -81 21 -149 40 -151 42 -3 3 -222 724 -386
	1273 -38 127 -73 239 -78 251 -8 18 -24 22 -137 33 -164 16 -775 22 -959 10z
	m2253 -2919 c73 -39 115 -83 151 -160 22 -46 26 -69 26 -140 0 -73 -4 -93 -28
	-142 -32 -65 -95 -125 -165 -159 -70 -34 -198 -38 -274 -9 -259 97 -294 456
	-58 598 76 45 102 52 200 49 74 -3 93 -7 148 -37z m-1586 -1425 c407 -47 749
	-184 1073 -428 176 -133 407 -392 514 -575 177 -306 264 -594 291 -969 10
	-128 9 -170 -5 -270 -45 -333 -152 -618 -334 -890 -437 -654 -1225 -1012
	-2023 -918 -407 47 -749 184 -1073 428 -176 133 -407 392 -514 575 -177 306
	-264 594 -291 969 -10 128 -9 170 5 270 33 241 90 435 190 639 274 563 772
	963 1390 1119 244 62 523 80 777 50z m-3348 -134 c182 -89 246 -300 143 -472
	-62 -103 -173 -163 -302 -162 -193 2 -335 144 -337 338 -3 248 268 409 496
	296z m6489 -3167 c131 -46 218 -173 219 -321 1 -62 -4 -82 -31 -137 -37 -75
	-92 -128 -170 -164 -81 -38 -202 -38 -282 -1 -79 37 -133 90 -171 167 -29 58
	-33 77 -33 143 0 65 5 85 33 142 79 159 263 232 435 171z m-4919 -1565 c73
	-27 148 -96 183 -167 24 -50 28 -69 28 -147 0 -73 -4 -99 -23 -136 -34 -70
	-84 -122 -154 -160 -60 -32 -68 -34 -163 -34 -95 0 -103 2 -163 34 -74 40
	-116 85 -150 159 -83 182 5 385 196 454 67 24 177 23 246 -3z"/>
	</g>
	</svg>
	</button>
    <div class="store__tabs ct__top-tabs">
        <button class="ct__top-tab ct__top-tab1 active ct__mid-btn">
            <svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_259_317" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
                    <path class="geometry1" d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
                </mask>
                <g mask="url(#mask0_259_317)">
                    <path class="geometry2" d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z"/>
                    <path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
                    <path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
                    <path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
                </g>
            </svg>
            <span>{% trans 'склад' context "storage" %}</span>
        </button>
        <button class="ct__top-tab ct__top-tab2 ct__mid-btn eduBlock4">
            <svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_259_318" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
                <path class="geometry1" d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
                </mask>
                <g mask="url(#mask0_259_318)">
                    <path class="geometry2" d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z"/>
                    <path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
                    <path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
                    <path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
                </g>
            </svg>
            <span>{% trans 'хранилище' context "storage" %}</span>
        </button>
    </div>
    <div class="store__wrapper-overflow">
    	<div class="store__wrapper">
          {% if storage %}
	      <!-- ВКЛАДКА СКЛАД -->
          {% has_storage storage player %}
	      <!-- КОНЕЦ ВКЛАДКИ СКЛАД -->
          {% else %}
		  {% no_storage player %}
          {% endif %}
	      <!-- ВКЛАДКА ХРАНИЛИЩЕ -->
	      <div class="store__right">
					<h2 class="store__right-title">
						{% trans 'энергетики' context "storage_assets" %}:
						<label id="bottles">
						{{ player.bottles }} <!--значение количества энергетиков-->
						</label>
					</h2>
					<form method="POST" id="produce_energy_form" enctype="multipart/form-data" class="store__right-block eduBlock5">
						{% csrf_token %}
						<span>{% trans 'создать' context "storage_assets" %}:</span>
						<label>
						<input type="number" {% localize off %}min="{% if player.gold == 0 %}0{% else %}10{% endif %}" max="{{ player.gold|get_mul:10 }}"{% endlocalize %} step="10" name="energy_field" id="energy_field">
						</label>
						<span>{% trans 'стоимость' context "storage_assets" %}:
							<i>G</i> <i id="gold_cost">100></i> <!--значение стоимость-->
						</span>
						<input type="range" id="energy_range" {% localize off %}min="{% if player.gold == 0 %}0{% else %}10{% endif %}" max="{{ player.gold|get_mul:10 }}"{% endlocalize %} step="10">
						<button class="store__create-btn ct__mid-btn">
							<svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<mask id="mask0_259_319" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
									<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="var(--c10two)"/>
								</mask>
								<g mask="url(#mask0_259_319)">
									<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
									<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
									<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
									<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
								</g>
							</svg>
							<span>{% trans 'создать' context "storage_assets" %}</span>
						</button>
						<svg width="312" height="98" viewBox="0 0 314 100" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.46447 11.5355L11.5355 2.46447C12.4732 1.52678 13.745 1 15.0711 1H308C310.761 1 313 3.23857 313 6V94C313 96.7614 310.761 99 308 99H6C3.23858 99 1 96.7614 1 94V15.0711C1 13.745 1.52678 12.4732 2.46447 11.5355Z" fill="var(--c30)" stroke="var(--c30)"/>
						</svg>
					</form>
					<div class="store__wp-wrapper">
						<h2>WILD PASS</h2>
						<picture>
							<img src="{% static 'img/wild_pass.svg' %}" alt="wild_pass" class="eduBlock6">
						</picture>
						<div class="store__wp-wrapper-r" id="wildpass_main">
							<span>{% trans 'Количество' context "storage_assets" %}: <label id="wp_count">{{ player.cards_count }}</label></span>
							<button {% if not player.cards_count > 0 %}disabled{% else %}onclick="open_sub()"{% endif %} class="ct__mid-btn">
								<svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
									<mask id="mask0_259_320" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
										<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
									</mask>
									<g mask="url(#mask0_259_320)">
										<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
										<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
										<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
										<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
									</g>
								</svg>
								<span>{% trans 'использовать' context "storage_assets" %}</span>
							</button>
						</div>
						<div class="store__wp-wrapper-r" id="wildpass_sub" style="display: none">
							<button onclick="check_card_4gold()" class="ct__mid-btn">
								<svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
									<mask id="mask0_259_320" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
										<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
									</mask>
									<g mask="url(#mask0_259_320)">
										<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
										<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
										<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
										<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
									</g>
								</svg>
								<span>{% trans '+ G 1000' context "storage_vault" %}</span>
							</button>
							<button onclick="check_card()" class="ct__mid-btn">
								<svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
									<mask id="mask0_259_320" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
										<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
									</mask>
									<g mask="url(#mask0_259_320)">
										<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
										<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
										<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
										<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
									</g>
								</svg>
								<span>{% trans '+ премиум' context "storage_vault" %}</span>
							</button>
						</div>
					</div>
				</div>
	      <!-- КОНЕЦ ВКЛАДКИ ХРАНИЛИЩЕ -->
	    </div>
    </div>
	<!--мдалка улучшения 1-->
	<div class="store__modal1" id="store__modal1">
		<!--закрыть модалку-->
		<button class="store__modal1-close ct__square-mid-btn" id="store__modal1-close">
			<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"></path><path d="M4 4L26 26M4 26L26 4" stroke="var(--c60)" stroke-width="3"></path>
			</svg>
		</button>
		{% if single_storage and not single_storage.was_moved and player.region != single_storage.region %}
		<!--перенести-->
		<div class="store__modal1-container">
			<h2 class="store__modal1-title">{% trans 'Перемещение Склада' context "storage_transfer" %}</h2>
			{% if war_there %}
			<p>{% trans 'Нельзя Вывезти Склад из региона боеВых действий' context "storage_transfer" %}</p>
			{% else %}
			<p>{% trans 'Вы можете перенести Склад в регион текущего местоположения (один раз)' context "storage_transfer" %}</p>
			<button class="store__modal1-btn ct__mid-btn" onclick="move_storage(event, {% localize off %}{{ single_storage.pk }}{% endlocalize %})">
				<svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
					<mask id="mask0_259_320" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
						<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
					</mask>
					<g mask="url(#mask0_259_320)">
						<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
						<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
						<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
						<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
					</g>
				</svg>
				<span>{% trans 'перенести' context "storage_transfer" %}</span>
			</button>
			{% endif %}
		</div>
		{% endif %}
		{% if storage %}
		<!--улучшить-->
		<div class="store__modal1-container">
			<h2 class="store__modal1-title">{% trans 'Улучшение склада' context "storage_upgrade" %}</h2>
			<p>{% trans 'Вы можете улучшить Склад, расширив его хранилища' context "storage_upgrade" %}</p>
			<p>{% trans 'Стоимость' context "storage_upgrade" %}: 500 {% trans 'Сталь' context "goods" %}, 500 {% trans 'Алюминий' context "goods" %}</p>
			{% if limit_upgrade %}
			<h2 class="store__modal1-title" style="color: var(--c10two);">{% trans 'Максимальный уровень' context "storage_upgrade" %}</h2>

			{% else %}

			{% if can_upgrade %}
			<button class="store__modal1-btn ct__mid-btn" id="store__modal2-open">
				<svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
					<mask id="mask0_259_320" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
						<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
					</mask>
					<g mask="url(#mask0_259_320)">
						<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
						<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
						<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
						<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
					</g>
				</svg>
				<span>{% trans 'улучшить' context "storage_upgrade" %}</span>
			</button>
			{% else %}
			<h2 class="store__modal1-title" style="color: var(--c10two);">{% trans 'Недостаточно материалов' context "storage_upgrade" %}</h2>
			{% endif %}

			{% endif %}
		</div>
		{% endif %}
	</div>

	{% if can_upgrade %}
	<!--модалка улучшения 2-->
	<div class="store__modal2" id="store__modal2">
		<!--закрыть модалку-->
		<button class="store__modal2-close ct__square-mid-btn" id="store__modal2-close">
			<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"></path><path d="M4 4L26 26M4 26L26 4" stroke="var(--c60)" stroke-width="3"></path>
			</svg>
		</button>

		<!--заголовок-->
		<h2 class="store__modal2-title ct__page-title">{% trans 'Улучшение склада' context "storage_upgrade" %}</h2>
		<p>{% trans 'После подтверждения улучшения Склада, его ёмкость изменится следующим образом' context "storage_upgrade" %}</p>

		<!--линия-->
		<div class="store__modal2-line ct__line"></div>

		<!--список1-->
		<div class="store__modal2-list-container">
			<h3>{% trans 'Большой объём запасов' context "storage_upgrade" %}</h3>
			{% with cap_val=storage|get_attr:'large_cap' %}
			<div style="display: inline-block" class="ct__page-title">{{ cap_val }} ➝ {{ cap_val|get_sum:120000 }} </div>
			{% endwith %}
		</div>

		<!--линия-->
		<div class="store__modal2-line ct__line"></div>

		<!--список2-->
		<div class="store__modal2-list-container">
			<h3>{% trans 'Средний объём запасов' context "storage_upgrade" %}</h3>
			{% with cap_val=storage|get_attr:'medium_cap' %}
			<div style="display: inline-block" class="ct__page-title">{{ cap_val }} ➝ {{ cap_val|get_sum:20000 }} </div>
			{% endwith %}
		</div>

		<!--линия-->
		<div class="store__modal2-line ct__line"></div>

		<!--список3-->
		<div class="store__modal2-list-container">
			<h3>{% trans 'Малый объём запасов' context "storage_upgrade" %}</h3>
			{% with cap_val=storage|get_attr:'small_cap' %}
			<div style="display: inline-block" class="ct__page-title">{{ cap_val }} ➝ {{ cap_val|get_sum:2000 }} </div>
			{% endwith %}
		</div>

		<!--линия-->
		<div class="store__modal2-line store__modal2-line--bottom-m ct__line"></div>

		<button onclick="up_storage()" class="store__modal1-btn ct__mid-btn">
			<svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
				<mask id="mask0_259_320" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
					<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
				</mask>
				<g mask="url(#mask0_259_320)">
					<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
					<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
					<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
					<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
				</g>
			</svg>
			<span>{% trans 'улучшить' context "storage_upgrade" %}</span>
		</button>

	</div>
	{% endif %}
</section>
<script>
	var gold_usage = 0;

	var wildpass_header = '{% if premium %}{% trans 'Продление' context "storage_assets" %}{% else %}{% trans 'Активация' context "storage_assets" %}{% endif %} {% trans 'премиум-аккаунта' context "storage_assets" %}';

	{% if premium %}
	var wildpass_text = '{% trans 'Ваш премиум-аккаунт будет продлён на один месяц. Данную операцию невозможно отменить. Продолжить?' context "storage_assets" %}';
	{% else %}
	var wildpass_text = '{% trans 'Вы активируете премиум-аккаунт, длительностью один месяц. Данную операцию невозможно отменить. Продолжить?' context "storage_assets" %}';
	{% endif %}

	var wildpass_gold_header = '{% trans 'Обмен Wild Pass' context "storage_vault" %}';
	var wildpass_gold_text = '{% trans 'Вы обменяете премиум-карту на G 1000. Данную операцию невозможно отменить. Продолжить?' context "storage_vault" %}';

	var wildpass_yes = '{% trans 'Продолжить' context "storage_assets" %}';
	var wildpass_cancel = '{% trans 'Отмена' context "storage_assets" %}';

	function open_sub(){
		$('#wildpass_main').hide();
		$('#wildpass_sub').show();
	}
</script>
{% if single_storage %}
<script>
    var move_storage_pk = null;
    var move_header = '{% trans 'Перемещение Склада' context "storage_transfer" %}';
    var move_text = '{% trans 'Склад будет перемещен в регион вашего местонахождения' context "storage_transfer" %} - {{ player.region.region_name }}. {% trans 'Больше этот Склад переместить не получится. Продолжить?' context "storage_transfer" %}';
    var move_yes = '{% trans 'Продолжить' context "storage_transfer" %}';
    var move_cancel = '{% trans 'Отмена' context "storage_transfer" %}';
</script>
<script src='{% static "js/assets_move.js" %}?{{ csrf_token }}'></script>
{% endif %}
<script src='{% static "js/storage.js" %}?{{ csrf_token }}'></script>
<script src='{% static "js/redesign/vault.js" %}?{{ csrf_token }}'></script>
{% if can_upgrade %}
<script src='{% static "js/redesign/up_storage.js" %}?{{ csrf_token }}'></script>
{% endif %}
{% endblock %}

{% block for_scripts_and_css %}
<script>
	const storeModal1 = new ModalOpenClose({
		main: document.getElementById('store__modal1'),
		openModalBtn: document.getElementById('store__modal1-open'),
		closeModalBtn: document.getElementById('store__modal1-close'),
	})

	if (document.getElementById("store__modal2") != undefined){
		const storeModal2 = new ModalOpenClose({
			main: document.getElementById('store__modal2'),
			openModalBtn: document.getElementById('store__modal2-open'),
			closeModalBtn: document.getElementById('store__modal2-close'),
		})
	}

	{% if can_upgrade %}

	large_upgrade_counter = 0;
	medium_upgrade_counter = 0;
	small_upgrade_counter = 0;

	large_counter_limit = {{ large_limit }};
	medium_counter_limit = {{ medium_limit }};
	small_counter_limit = {{ small_limit }};

	var upgrade_dict = {
        {% for good in storage|get_attr:'sizes'|dict_key:'large' %}
            {{ good }}: 0,
        {% endfor %}
		{% for good in storage|get_attr:'sizes'|dict_key:'medium' %}
            {{ good }}: 0,
        {% endfor %}
		{% for good in storage|get_attr:'sizes'|dict_key:'small' %}
            {{ good }}: 0,
        {% endfor %}
    };

	{% endif %}
</script>

{% if not player.educated %}
<script src="/static/redesign/js/education_n.js"></script>
{% endif %}

<script>
    var check_edu = true;

    {% if not player.educated %}
    check_edu = false;

     function getFromLS(){
        return localStorage.getItem('edu_assistant');
      }

    var assist_img = this.getFromLS() ?? "/static/redesign/img/Ann.png";

    document.getElementsByClassName('edu__img')[0].src = assist_img;

    function claim_reward(id){
      var data = "&csrfmiddlewaretoken=" + csrftoken + "&edu_id=" + id;
      $.ajax({
          beforeSend: function() {},
          type: "POST",
          url: "/claim_reward/",
          data: data,
          cache: false,
          success: function(result){
              if (result.response == 'ok'){
                  actualize();
              }
          }
      });
    }

    function edu_pragma(page) {
        if (page == 11){
            claim_reward('edu_04');
        }
        if (page == 99){
            window.location.href = "/map";
        }
    }

    const edu = new Educator({
    onEduStart: () => { console.log('[EDU]: Started') },
    onEduEnd: () => { console.log('[EDU]: Ended'); edu_pragma(99) },
    onEduPageChange: (num) => { console.log(`[EDU]: Current page is ${num}`); edu_pragma(num) },
    onCloseEdu: () => { console.log(`[EDU]: Education closed`); claim_reward('edu_00'); },
    pages: [
        {
        text: 'Это Ваш cклад. Таких Складов у Вас может быть много, но этот - Ваш первый.',
        },
		{
        text: 'Он состоит из двух крупных разделов - непосредственно Склада и защищённого Хранилища, которое всегда у Вас под рукой.',
        },
		{
        text: 'У Вас даже может не быть Склада в регионе Вашего местонахождения, но Хранилище - будет всегда.',
        },
		{
        text: 'Для начала же, посмотрим на запасы Склада. Они поделены на три размера:',
		awaitedDomElemClass: 'eduBlock2',
        onlyGlowing: true,
        },
		{
        text: '- большой объём, который позволяет хранить Вам необработанное сырьё',
        },
		{
        text: '- средний объём, хранящий, в основном, материалы и некоторые товары',
        },
		{
        text: '- малый объём, занимаемый, в основном, оружием.',
        },
		{
        text: 'Вам ничего не мешает занять весь малый объём только танками, к примеру. А в большом объёме же у Вас хранятся те ресурсы, что Вы распорядились добыть.',
        },
		{
        text: 'Когда Вы приметесь торговать, то обратите внимание, что та часть запасов, что Вы захотели продать, со Склада не пропадает до тех пор, пока их не купят. Поэтому, распоряжайтесь объёмом своих Складов с умом.',
        },
		{
        text: 'Помимо запасов, на Склад можно Выложить Наличные, которыми будут оплачиваться производство заказанных Вами товаров.',
		awaitedDomElemClass: 'eduBlock3',
        onlyGlowing: true,
        },
		{
        text: 'Чтобы выложить Наличные, Вам потребуется прилететь в регион Склада, и указать сумму, которая должна остаться здесь.',
        },
		  {
			text: 'Награда: 200 золота',
			rewardImgUrl: '/static/redesign/img/200_gold.png',
		  },
		{
        text: 'Ладно, это скучно - глядеть на булыжники и нефтяную жижу. Давайте посмотрим на действительно ценные вещи!',
		awaitedDomElemClass: 'eduBlock4',
        onlyMobileInteractive: true,
        },
		{
        text: 'Помните Энергетики, которые я Вам давала? Они лежат именно здесь. В тёмном, прохладном месте. Здесь же, мы можем заказать производство новых, расходуя Золото.',
		awaitedDomElemClass: 'eduBlock5',
        onlyGlowing: true,
        },
		{
        text: 'Так же, в Хранилище находятся Wild Pass. Это карты премиум-доступа.',
		awaitedDomElemClass: 'eduBlock6',
        onlyGlowing: true,
        },
		{
        text: 'При их активации, Вы получите возможности, позволяющие облегчить улучшение Ваших характеристик, а также упростить организацию работ на рудниках и заводах.',
        },
		{
        text: 'Этими предметами можно свободно торговать - они всегда высоко ценятся, и прочие политики готовы платить за них крупные суммы денег.',
        },
		{
        text: 'Раздел "Склад" позволяет Вам управлять тем Складом, который находится в регионе Вашего местоположения.',
        },
		{
        text: 'Но, обратите внимание - в других регионах Склада у Вас ещё нет. Поэтому, его потребуется построить там.',
        },
		{
        text: 'Список всех Складов доступен в разделе "Активы". Там же Вы сможете организовать перевозку своих товаров из одного региона в другой.',
        },
		{
        text: 'Всё это время, мы с Вами решали задачи, которые были ограничены одним регионом. Теперь же, давайте посмотрим на мир шире!',
        },
    ]
  })

  {% endif %}
</script>
{% endblock %}