{% extends 'player/redesign/header.html' %}
{% load static %}
{% load bootstrap3 %}
{% load l10n %}{% load i18n %}{% load tz %}
{% load dict_key %}
{% load get_sum %}
{% load get_attr %}
{% load get_key_list %}
{% load get_class_name %}

{% block content %}
<section class="factory custom-scroll">
    <h1 class="factory__title ct__page-title">{% trans 'Производство' context "factory" %}</h1>

    <script>
      {% localize off %}
          var price_text = '{% trans 'цена' context "factory" %}';

          var count = 0;

          var consignment = 1;
          var consignment_dict = {};

          {% for group in consignment_dict|get_key_list %}
              consignment_dict['{{ group }}'] = {{ consignment_dict|dict_key:group }};
          {% endfor %}

          var groups_n_goods = {};

          {% for type in good_by_type|get_key_list %}
              groups_n_goods['{{ type }}'] = [];
              {% for good in good_by_type|dict_key:type %}
                  groups_n_goods['{{ type }}'].push('{% localize off %}{{ good }}{% endlocalize %}');
              {% endfor %}
          {% endfor %}

            var goods_names = {};
            goods_names['energy'] = '{% trans 'Энергия' context "factory" %}';
            {% for good_key in good_names|get_key_list %}
                goods_names['{% localize off %}{{ good_key }}{% endlocalize %}'] = '{{ good_names|dict_key:good_key }}';
            {% endfor %}

          var total_stocks = {};

          {% for storage in total_stocks|get_key_list %}
            total_stocks["{% localize off %}{{ storage }}{% endlocalize %}"] = {};

            {% for good_pk in total_stocks|dict_key:storage|get_key_list %}

                total_stocks["{% localize off %}{{ storage }}{% endlocalize %}"]['{{ good_pk }}'] = {% localize off %}{{ total_stocks|dict_key:storage|dict_key:good_pk }}{% endlocalize %};

            {% endfor %}

          {% endfor %}


            var schemas = {};

            {% for good in schemas|get_key_list %}
                schemas["{{ good }}"] = {};

                {% for schema in schemas|dict_key:good|get_key_list %}

                    schemas["{{ good }}"]["{{ schema }}"] = {};

                    {% with components=schemas|dict_key:good|dict_key:schema %}
                        {% for component in components|get_key_list %}

                            schemas["{{ good }}"]["{{ schema }}"]["{{ component }}"] = {{ components|dict_key:component }};

                        {% endfor %}
                    {% endwith %}

                {% endfor %}

            {% endfor %}

      {% endlocalize %}
      </script>

    <form id="produce_form" role="form" class="factory__topBlock">

      <div class="ct__selectWithImage">
          {% with store_1=first_storage %}
          <div class="ct__selectWithImage-selected" id="storage" data-value="{% localize off %}{{ store_1.pk }}{% endlocalize %}">
              <img src="static/img/regions/webp/55/{{ store_1.region.on_map_id }}.webp">
              <div class="ct__selectWithImage-firstText">
                  {% with region_name=store_1.region.region_name %}
                  <span>{% trans region_name context "regions_list" %}</span>
                  {% endwith %}
                  <svg class="ct__selectWithImage-arrow" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
                  </svg>
              </div>
          </div>
          {% endwith %}
          <div class="ct__selectWithImage-content custom-scroll custom-scroll--alt">
              {% for storage in storages %}
              <div data-value="{% localize off %}{{ storage.pk }}{% endlocalize %}"><img src="static/img/regions/webp/55/{{ storage.region.on_map_id }}.webp">{% with region_name=storage.region.region_name %}{% trans region_name context "regions_list" %}{% endwith %}</div>
              {% endfor %}
          </div>
      </div>

      <label class="factory__topLabel ct__wide-modal-label-select ct__wide-modal-label-select--min">
        <select id="group">
          <option id="group_default" value='default' disabled {% if not auto %}selected{% endif %}>{% trans 'выбор группы товаров' context "factory" %}</option>
          {% for group in categories %}
          <option value='{{ group }}' {% if auto and auto.good.type == group %}selected{% endif %}>{{ storage_cl|get_attr:'types'|dict_key:group }}</option>
          {% endfor %}
        </select>
        <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
        </svg>
      </label>

      <label class="factory__topLabel ct__wide-modal-label-select ct__wide-modal-label-select--min">
        <select disabled name="good" id="good">
          <option id="good_default" value='default' disabled {% if not auto %}selected{% endif %}>{% trans 'выбор товара' context "factory" %}</option>
          {% for type in good_by_type|get_key_list %}
              {% for good in good_by_type|dict_key:type %}
          <option id="good_{% localize off %}{{ good }}{% endlocalize %}" value='{% localize off %}{{ good }}{% endlocalize %}' {% if auto and auto.good.pk == good %}selected{% else %}style="display: none"{% endif %} >{{ good_names|dict_key:good }}</option>
              {% endfor %}
          {% endfor %}
        </select>
        <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
        </svg>
      </label>

      <label class="factory__topLabel ct__wide-modal-label-select ct__wide-modal-label-select--min">
        <select disabled name="schema" id="schema">
          <option id="schema_default" value='default' disabled {% if not auto %}selected{% endif %}>{% trans 'выбор схемы' context "factory" %}</option>
            {% if auto %}
          <option id="schema_auto" value='default' disabled selected>{% trans 'авто-производство' context "factory" %}</option>
            {% endif %}
        </select>
        <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
        </svg>
      </label>

      <label class="factory__topLabelInput">
        <input disabled id="count" type="number" min="0" max="2147483647" value="0" step="1" name="count" maxlength="3"
          class="factory__topInput" oninput="setInputValue(this.value)">
      </label>

      <div style="display: flex; justify-content: center; gap: 8rem;">
            <style>
            .factory__topCreate:disabled {
              filter: grayscale(1);
              cursor: auto;
            }
            </style>
          {% if player.destination %}
          <button disabled class="factory__topCreate ct__mid-btn">
            <svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_259_319" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
                <path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="var(--c10two)"/>
              </mask>
              <g mask="url(#mask0_259_319)">
                <path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
                <path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
                <path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
                <path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
              </g>
            </svg>
            <span>{% trans 'в полете' context "daily_header" %}</span>
          </button>
          {% else %}
            {% if premium %}
          <button disabled class="factory__topCreate ct__mid-btn start_auto" onclick="start_auto(event)" style="{% if auto %}display:none{% endif %}">
            <svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_259_319" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
                <path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="var(--c10two)"/>
              </mask>
              <g mask="url(#mask0_259_319)">
                <path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
                <path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
                <path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
                <path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
              </g>
            </svg>
            <span>{% trans 'авто' context "mining" %}</span>
          </button>
          <button class="cancel_auto ct__mid-btn" onclick="cancel_auto(event)" style="{% if not auto %}display:none{% endif %}">
            <svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_259_319" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
                <path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="var(--c10two)"/>
              </mask>
              <g mask="url(#mask0_259_319)">
                <path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
                <path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
                <path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
                <path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
              </g>
            </svg>
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" style="
                                                                                                                position: static;
                                                                                                                width: 14rem;
                                                                                                                height: 14rem;
                                                                                                                display: block;
                                                                                                                margin-right: 6rem;
                                                                                                                margin-top: -2rem;
                                                                                                                z-index: 0;
                                                                                                            ">
						<circle cx="7" cy="7" r="6.5" stroke="var(--c60)"></circle>
						<path d="M7 2.24V7.07L10.71 10.78" stroke="var(--c60)"></path>
					</svg>
            <span>{{ auto.task.start_time|timezone:player.time_zone|date:"H:i" }}</span>
          </button>
            {% endif %}
          <button disabled id="accept" type="submit" class="factory__topCreate ct__mid-btn">
            <svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_259_319" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
                <path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="var(--c10two)"/>
              </mask>
              <g mask="url(#mask0_259_319)">
                <path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
                <path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
                <path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
                <path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
              </g>
            </svg>
            <span>{% trans 'создать' context "factory" %}</span>
          </button>
          {% endif %}
      </div>

    </form>

    <ul class="factory__block" id="storage_info_block">
      <div id="crude_header" style="display: none"></div><!--  костыльный элемент, чтобы после него всякое пихать  -->
      <li class="factory__blockElement" style="display: none" id="crude_line">
        <h2 class="crude_name"></h2>
        <div class="factory__blockRow">
          <span class="crude_price"></span>
          <div class="factory__inputBlock">
            <label class="factory__inputBlockLabel">
              <input type="number" class="crude_count" min="0" style="color: var(--c10one)">
            </label>
            <span style="padding-left: 1vh;padding-right: 1vh;">/</span>
            <span class="storage_stocks"></span>
          </div>
        </div>
        <input class="factory__range crude_amount" type="range" min="0" max="5" step="1">
      </li>
    </ul>

	</section>
{% endblock %}

{% block for_scripts_and_css %}
<script src='{% static "redesign/js/factory.js" %}'></script>
{% if premium %}
<script src='{% static "redesign/js/auto_produce.js" %}'></script>
{% endif %}
{% endblock %}