<html>
{% load static %}
{% load bootstrap3 %}
<head>
    <title>{{ page_name }}</title>
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <script src='{% static "header.js" %}?{{ csrf_token }}'></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118774469-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-118774469-1');
    </script>
</head>
<body>
<div style="width: 100%; margin-top: 1%; display: flex;">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div>
            <h1 align="center" style="height: 50px; font-size: 20pt; font-weight: bold; color: black"><b>Ваша учетная запись была заблокирована</b></h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12" align="center">
                <p style="color: black">Для решения проблемы обратитесь к администрации проекта через
                    <a href="https://vk.com/topic-164930433_41355449" style="color: black">официальную группу игры (ссылка)</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12" align="center">
                <p style="color: black">Сообщите:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12" align="center">
                <p style="color: black">ID вашего персонажа - {{ player.pk }}
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
