<html>
{% load static %}
{% load player_status %}
{% load menu %}
{% load bootstrap3 %}
<head>
    <title>{{ page_name }}</title>
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <script src='{% static "header.js" %}'></script>
    {% block for_scripts_and_css %}
    {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118774469-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118774469-1');
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(95467903, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/95467903" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
<!-- Глобальное модальное окно -->
<div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="InfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <font class="modal-title" id="InfoModalTitle" style="width: 20px">
                    <!--Заголовок сообщения-->
                </font>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Текст сообщения-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-grey" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success modal-green">Save</button>
            </div>
        </div>
    </div>
</div>
{% if player %}
{% if not player.banned %}
<!--Информация в шапке игры-->
{% player_status player %}
{% endif %}
{% endif %}
<div style="width: 100%; margin-top: 1%; display: flex;">
    <!--<div style="width: 1300px">-->
    <div class="col-xs-2 col-sm-2 col-md-2">
        <!--Информация в шапке игры-->
        {% menu %}
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>