{% extends 'player/header.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
{% block for_scripts_and_css %}
<script src="{% bootstrap_jquery_url %}"></script>
{% bootstrap_javascript %}
{% bootstrap_css %}
<link rel="stylesheet" href='{% static "overview.css" %}?{{ csrf_token }}'>
{% endblock %}

{% block content %}
<script>
    const csrftoken = '{{ csrf_token }}';
    const ban_button = "{% if request.user.is_superuser %} <input type='button' class='message__ban' value='отключить чат'>{% endif %}";
</script>
<div class="row">
    Привет, {{ player }} !
    <br>
    <!--если игрок в полете-->
    {% if player.destination %}
    Вы летите в регион {{ player.destination }}
    {% else %}
    Ты находишься в регионе {{ player.region }}
    {% endif %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_language_info for LANGUAGE_CODE as lang %}
    <!-- Tabs -->
    {{ LANGUAGE_CODE|json_script:"room-name" }}
    {{ player.pk|json_script:"player_id" }}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#{{ language.code }}"><img
                src="/static/img/{{ LANGUAGE_CODE }}.png" width="30" height="30"> {{ lang.name_local }}</a></li>
    </ul>
    <div class="tab-content">
        <div id="{{ LANGUAGE_CODE }}" class="tab-pane fade in active" >
            <section id="chat-log-{{ LANGUAGE_CODE }}" class="chat" style="height: 50vh; flex: 10 10 auto; overflow-x: hidden; overflow-y: auto;">
            </section>
            <div style="display: flex">
                <div style="flex: 10 10 auto">
                    <input id="chat-message-input-{{ LANGUAGE_CODE }}" type="text" size="100" style="width: 100%">
                </div>
                <div style="flex: 1 1 auto">
                    <input id="chat-message-submit-{{ LANGUAGE_CODE }}" type="button" value="Отправить"
                           style="width: 100%">
                </div>
            </div>
        </div>
    </div>
    <script src='{% static "chat.js" %}?{{ csrf_token }}'></script>
    <script src='{% static "chat_admin.js" %}?{{ csrf_token }}'></script>
</div>
{% endblock %}
