{% load get_sum %}
{% load get_sub %}
{% load get_mul %}
{% load i18n %}
{% load tz %}
{% load static %}
{% load get_hh_mm_ss %}
<script src='{% static "overview_skills.js" %}?{{ csrf_token }}'></script>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" align="center">
        Сила
    </div>
</div>
<div class="row" style="margin-top: 1%">
    {% if train and train.skill == 'power' %}
    <div class="col-xs-12 col-sm-12 col-md-12" align="center" style="color: 959595;">
        Завершение: {{ train.end_dtime|timezone:player.time_zone|date:"d.m.Y H:i" }}
    </div>
    {% endif %}
</div>
<div class="row" style="margin-top: 1%">
    <div class="col-xs-6 col-sm-6 col-md-6" align="center">
        <div class="row">
            Стоимость:
        </div>
        <div class="row">
            <b style="color: #85bb65;">${{ player.power|get_sum:power_count|get_sum:1|get_mul:1000 }}</b>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="row">
            Время изучения:
        </div>
        <div class="row">
            {% if premium %}
            {{ player.power|get_sum:power_count|get_sum:1|get_mul:2400|get_hh_mm_ss }}
            {% else %}
            {{ player.power|get_sum:power_count|get_sum:1|get_mul:3600|get_hh_mm_ss }}
            {% endif %}
        </div>
    </div>
</div>
<div class="row" style="margin-top: 1%">
    <div class="col-xs-12 col-sm-12 col-md-12" align="center">
        <button type="submit" {% if not train or premium and has_slot  %} onclick="up_skill('power')" {% else %} disabled {% endif %} class="save btn btn-default" style="width: 50%;border-color: FF0000!important;">
            {% if train %}
                {% if premium %}
                    {% if has_slot %}
                        Добавить в очередь
                    {% else %}
                        Недоступно
                    {% endif %}
                {% else %}
                    {% if train.skill == 'power' %}
                        Изучается...
                    {% else %}
                        Недоступно
                    {% endif %}
                {% endif %}
            {% else %}
            Изучить
            {% endif %}
        </button>
    </div>
</div>
<!--знания-->
<div class="row" style="margin-top: 10%;">
    <div class="col-xs-12 col-sm-12 col-md-12" align="center">
        Интеллект
    </div>
</div>
<div class="row" style="margin-top: 1%">
    {% if train and train.skill == 'knowledge' %}
    <div class="col-xs-12 col-sm-12 col-md-12" align="center" style="color: 959595;">
        Завершение: {{ train.end_dtime|timezone:player.time_zone|date:"d.m.Y H:i" }}
    </div>
    {% endif %}
</div>
<div class="row" style="margin-top: 1%">
    <div class="col-xs-6 col-sm-6 col-md-6" align="center">
        <div class="row">
            Стоимость:
        </div>
        <div class="row">
            <b style="color: #85bb65;">${{ player.knowledge|get_sum:knowledge_count|get_sum:1|get_mul:1000 }}</b>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="row">
            Время изучения:
        </div>
        <div class="row">
            {% if premium %}
            {{ player.knowledge|get_sum:knowledge_count|get_sum:1|get_mul:2400|get_hh_mm_ss }}
            {% else %}
            {{ player.knowledge|get_sum:knowledge_count|get_sum:1|get_mul:3600|get_hh_mm_ss }}
            {% endif %}
        </div>
    </div>
</div>
<div class="row" style="margin-top: 1%">
    <div class="col-xs-12 col-sm-12 col-md-12" align="center">
        <button type="submit" {% if not train or premium and has_slot  %} onclick="up_skill('knowledge')" {% else %} disabled {% endif %} class="save btn btn-default" style="width: 50%;border-color: 337AB7!important;">
            {% if train %}
                {% if premium %}
                    {% if has_slot %}
                        Добавить в очередь
                    {% else %}
                        Недоступно
                    {% endif %}
                {% else %}
                    {% if train.skill == 'knowledge' %}
                        Изучается...
                    {% else %}
                        Недоступно
                    {% endif %}
                {% endif %}
            {% else %}
            Изучить
            {% endif %}
        </button>
    </div>
</div>
<!--выносливость-->
<div class="row" style="margin-top: 10%;">
    <div class="col-xs-12 col-sm-12 col-md-12" align="center">
        Выносливость
    </div>
</div>
<div class="row" style="margin-top: 1%">
    {% if train and train.skill == 'endurance' %}
    <div class="col-xs-12 col-sm-12 col-md-12" align="center" style="color: 959595;">
        Завершение: {{ train.end_dtime|timezone:player.time_zone|date:"d.m.Y H:i" }}
    </div>
    {% endif %}
</div>
<div class="row" style="margin-top: 1%">
    <div class="col-xs-6 col-sm-6 col-md-6" align="center">
        <div class="row">
            Стоимость:
        </div>
        <div class="row">
            <b style="color: #85bb65;">${{ player.endurance|get_sum:endurance_count|get_sum:1|get_mul:1000 }}</b>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="row">
            Время изучения:
        </div>
        <div class="row">
            {% if premium %}
            {{ player.endurance|get_sum:endurance_count|get_sum:1|get_mul:2400|get_hh_mm_ss }}
            {% else %}
            {{ player.endurance|get_sum:endurance_count|get_sum:1|get_mul:3600|get_hh_mm_ss }}
            {% endif %}
        </div>
    </div>
</div>
<div class="row" style="margin-top: 1%">
    <div class="col-xs-12 col-sm-12 col-md-12" align="center">
        <button type="submit" {% if not train or premium and has_slot  %} onclick="up_skill('endurance')" {% else %} disabled {% endif %} class="save btn btn-default" style="width: 50%;border-color: 18D04C!important;">
            {% if train %}
                {% if premium %}
                    {% if has_slot %}
                        Добавить в очередь
                    {% else %}
                        Недоступно
                    {% endif %}
                {% else %}
                    {% if train.skill == 'endurance' %}
                        Изучается...
                    {% else %}
                        Недоступно
                    {% endif %}
                {% endif %}
            {% else %}
            Изучить
            {% endif %}
        </button>
    </div>
</div>
{% if premium %}
<hr>
<div class="row" style="margin-top: 1%">
   <div class="col-xs-12 col-sm-12 col-md-12" align="center">
        Очередь навыков
    </div>
</div>
{% if queue %}
<div class="row" style="margin-top: 1%">
    <div class="col-xs-12 col-sm-12 col-md-12" align="center" style="color: 959595;">
        Завершение: {{ last_skill.end_dtime|timezone:player.time_zone|date:"d.m.Y H:i" }}
    </div>
</div>
{% endif %}
<div class="row" style="margin-top: 5%">
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
    {% for perk in queue %}
    <div class="col-xs-2 col-sm-2 col-md-2" align="center">
        <button type="submit" disabled class="save btn btn-default" style="
        {% if perk.skill == 'power' %}
             color: FF0000!important;
             background-color: FF0000!important;
             border-color: FF0000!important;

        {% elif perk.skill == 'knowledge' %}
             color: 337AB7!important;
             background-color: 337AB7!important;
             border-color: 337AB7!important;

        {% elif perk.skill == 'endurance' %}
             color: 18D04C!important;
             background-color: 18D04C!important;
             border-color: 18D04C!important;
        {% endif %}
        ">
            +
        </button>
    </div>
    {% endfor %}
    {% if has_slot %}
    {% with 5|get_sub:skills_count as free_slots %}
        {% with ''|center:free_slots as range %}
            {% for _ in range %}
    <div class="col-xs-2 col-sm-2 col-md-2" align="center">
        <button type="submit" disabled class="save btn btn-default">
            +
        </button>
    </div>
            {% endfor %}
        {% endwith %}
    {% endwith %}
    {% endif %}
</div>
{% endif %}
{% if queue_need %}
<!--<hr>-->
<!--<div class="row" style="margin-top: 1%">-->
<!--    <div class="col-xs-12 col-sm-12 col-md-12" align="center">-->
<!--        <button type="submit" onclick="window.location.href = '{% url 'skill_queue' %}'" class="save btn btn-default" style="width: 80%;">-->
<!--            Перейти к списку навыков-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->
{% endif %}