{% extends 'player/header.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
{% block for_scripts_and_css %}
{% load dict_key %}
{% load get_attr %}
<script src="{% bootstrap_jquery_url %}"></script>
{% bootstrap_javascript %}
{% bootstrap_css %}
<link rel="stylesheet" href='{% static "overview.css" %}?{{ csrf_token }}'>
{% endblock %}

{% block content %}
{% if player.account.groups.all.0.name == "chat_moderator" %}
<script>
    const ban_button = "{% if request.user.is_superuser %} <input type='button' class='message__ban' value='отключить чат'><input type='button' class='message__delete' value='удалить'>{% endif %}";
</script>
{% endif %}
<div class="row" style="margin-right: 0 !important;">
    Привет, {{ player }} !
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2" align="left">
            Мир
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2" align="left" onclick="window.location.href = '/world/regions/'"  style="cursor: pointer">
            Регионов: {{ regions_count }}
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2" align="left"></div>
        <div class="col-xs-6 col-sm-6 col-md-6" align="left">
            <!--если игрок в полете-->
            {% if player.destination %}
            Вы летите в регион <img src="static/img/regions/{{ player.destination.on_map_id }}.png" width="25px" height="25px" alt="world_icon">{{ player.destination }}
            {% else %}
            Регион: <img src="static/img/regions/{{ player.region.on_map_id }}.png" width="25px" height="25px" alt="world_icon">{{ player.region }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2" align="left" onclick="window.location.href = '/world/players/'"  style="cursor: pointer">Игроков: {{ world_pop }}</div>
        <div class="col-xs-2 col-sm-2 col-md-2" align="left" onclick="window.location.href = '/world/parties/'"  style="cursor: pointer">Партий: {{ world_parties }}</div>
        <div class="col-xs-2 col-sm-2 col-md-2" align="left"></div>
        <div class="col-xs-2 col-sm-2 col-md-2" align="left" onclick="window.location.href = '/region/{{ player.region.pk }}/players/'"  style="cursor: pointer">Игроков: {{ region_pop }}</div>
        <div class="col-xs-2 col-sm-2 col-md-2" align="left" onclick="window.location.href = '/region/{{ player.region.pk }}/parties/'"  style="cursor: pointer">Партий: {{ region_parties }}</div>
        <div class="col-xs-2 col-sm-2 col-md-2" align="left"></div>
    </div>
    <div class="row">
        <!--блок чата-->
        <div class="col-xs-9 col-sm-9 col-md-9">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_language_info for LANGUAGE_CODE as lang %}
            <!-- Tabs -->
            {{ LANGUAGE_CODE|json_script:"room-name" }}
            {{ player.pk|json_script:"player_id" }}
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#{{ language.code }}"><img
                        src="/static/img/{{ LANGUAGE_CODE }}.png" width="30" height="30"> {{ lang.name_local }}</a></li>
            </ul>
            <div class="tab-content">
                <div id="{{ LANGUAGE_CODE }}" class="tab-pane fade in active chat_window" >
                    <section id="chat-log-{{ LANGUAGE_CODE }}" class="chat" style="height: 50vh; flex: 10 10 auto; overflow-x: hidden; overflow-y: auto;">
                        {% if not player.chat_ban %}
                            {% for message in messages %}
                                {% if message|dict_key:'content' != 'ban_chat' and message|dict_key:'content' != 'delete_message' %}
                        <div class="row" style="margin-top: 1%">
                            <div class='message {% if message|dict_key:"author" == player.pk %}message--user-2{% else %}message--user-1{% endif %}' data-counter='{{  message|dict_key:"counter" }}' data-sender='{{  message|dict_key:"author" }}'>
                                <div class='massage__name' style="cursor: pointer;">{{  message|dict_key:"author_nickname" }}</div>
                                <time class='message__time'>
                                    {{ message|dict_key:'dtime' }}
                                    {% if player.account.groups.all.0.name == "chat_moderator" %}
                                        {% if message|dict_key:"author" != player.pk %}
                                    <input type='button' class='message__ban' value='отключить чат'>
                                    <input type='button' class='message__delete' value='удалить'>
                                        {% endif %}
                                    {% endif %}
                                </time>
                                <figure class='message__author-pic'>
                                    <a href='/profile/{{  message|dict_key:"author" }}' target='_blank'>
                                        <img src="{{  message|dict_key:'image_link'  }}" width='50px' height='50px'>
                                    </a>
                                </figure>
                                <div class='message__text'>
                                    <p>{{ message|dict_key:'content' }}</p>
                                </div>
                            </div>
                        </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </section>
                    <script>
                        document.getElementById('chat-log-{{ LANGUAGE_CODE }}').scrollTop = document.getElementById('chat-log-{{ LANGUAGE_CODE }}').scrollHeight;
                    </script>
                    <div style="display: flex">
                        <div style="flex: 10 10 auto">
                            <input id="chat-message-input-{{ LANGUAGE_CODE }}" class="chat-message-input" type="text" size="100" maxlength="500" style="width: 100%">
                        </div>
                        <div style="flex: 1 1 auto">
                            <input id="chat-message-submit-{{ LANGUAGE_CODE }}" type="button" value="Отправить" class="chat-button"
                                   style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>
            <script>
            const chat_conn_type = "{% if http_use %}ws{% else %}wss{% endif %}";
            </script>
            <script src='{% static "chat.js" %}?{{ csrf_token }}'></script>
            {% if player.account.groups.all.0.name == "chat_moderator" %}
            <script src='{% static "chat_admin.js" %}?{{ csrf_token }}'></script>
            {% endif %}
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1"></div>
        <div class="col-xs-2 col-sm-2 col-md-2">
            <div class="row" align="center">
                Активные опросы:
            </div>
            {% for poll in polls %}
            <div class="row" style="margin-top: 5%; cursor: pointer" onclick="window.location.href = '/poll/{{ poll.pk }}/'">
                {{ poll.header }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
