{% load l10n %}{% load i18n %}
{% load static %}
<div style="width: 100%; max-height: 100px; display: flex; align-items: stretch">
<!--<div style="width: 1300px">-->
    <div class="col-xs-2 col-sm-2 col-md-1">
        <img {% if player.image %}src="{{ player.image.url }}"{% else %}src="{% static 'img/nopic.png' %}"{% endif %} width="80px" height="80px">
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="row">{{ player.nickname }}</div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                <script>
                    const locked_txt = 'Заблокировано: $';
                </script>
                <b style="color: #85bb65" id="cash" {% localize off %} data-text="{{ player.cash }}" {% endlocalize %}
                                     data-toggle="tooltip" data-placement="bottom" title="Заблокировано: ${% if locked %}{{ locked }}{% else %}0{% endif %}">
                    ${{ player.cash }}
                </b>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6" align="right">
                <b style="color: gold" id="gold" data-text="{{ player.gold }}">{{ player.gold }}</b>
            </div>
        </div>
        <div class="row">уровень {{ player.level }}</div>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8">
        <script>
            const energy_txt = 'энергии: ';
        </script>
        <div class="row" id="energy">энергии: {{ player.energy }}%</div>
        <div class="row">
            <script>
                const csrftoken = '{{ csrf_token }}';
            </script>
            <button type="submit" onclick="recharge()" class="save btn btn-default">Пополнить</button>
        </div>
    </div>
</div>