{% extends 'player/header.html' %}
{% load l10n %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
{% load tz %}
{% load get_mod %}
{% load pagination %}

{% block for_scripts_and_css %}
{% endblock %}

{% block content %}
{% localize off %}
<!-- translation_table.html -->
<form method="POST" action="">
    {% csrf_token %}
    <input type="hidden" name="context" id="{{ context }}">
    <input type="submit" value="Save">
    {% if user.is_superuser %}<input type="checkbox" name="rebuild_mo_file">{% endif %}
    <table>
        <thead>
            <tr>
                <th>Original Text</th>
                <th>Translation</th>
            </tr>
        </thead>
        {% for entry in entries %}
        <tr>
            <td>{% if entry.fuzzy %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                  <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                  <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                </svg>
                {% endif %}</td>
            <td>{{ entry.msgid }}</td>
            <td><textarea name="{{ entry.msgid }}">{{ entry.msgstr }}</textarea></td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endlocalize %}
{% endblock %}

