{% extends 'player/header.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
{% load tz %}
{% block for_scripts_and_css %}
<link rel="stylesheet" type="text/css" href='{% static "css/overview.css" %}'/>
<script src='{% static "js/profile/profile.js" %}?{{ csrf_token }}'></script>
{% endblock %}

{% block content %}
<div id="over" class="tabcontent">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1" align="center"></div>
            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
                <!--Картинка профиля-->
                <img id="plr_image_link" src="{% if char.image %}{{ char.image.url }}{% else %}{% static 'img/nopic.png' %}{% endif %}" width="250" height="250" {% if char.party %}{% if char.party.members_image %}style="background-image: url({{ char.party.members_image.url }}); background-size: cover;"{% endif %}{% endif %}>
            </div>
            <!--колонка характеристик персонажа-->
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div align="center" id="char_nickname" style="cursor: pointer; font-size: 20pt; font-weight: bold;">{{ char.nickname }}</div>
                <ul class="nav nav-tabs">
<!--                    <li class="active"><a data-toggle="tab" href="#info">{% trans 'char_info' %}</a></li>-->
                    <li class="active"><a data-toggle="tab" href="#info">Информация</a></li>
                </ul>
                <div class="tab-content">
                    <div id="info" class="tab-pane fade in active" style="min-width: 600px">
                        <!--ID персонажа-->
                        <div class="row flex" style="margin-left: 10px;">
                            <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                                <b><font size="5" >ID:</font></b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b><font size="5" >{{ char.pk }}</font></b>
                            </div>
                        </div>
                        <!--Был в сети-->
                        <div class="row flex" style="margin-left: 10px;">
                            <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                                <b><font size="5" >Был в сети:</font></b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b><font size="4" >{% if dtime %}{{ dtime }}{% else %}давно{% endif %}</font></b>
                            </div>
                        </div>
                        <!--место нахождения-->
                        <div class="row flex" style="margin-left: 10px;">
                            <div class="col-xs-6 col-sm-6 col-md-6" align="left">
<!--                                <b><font size="5" >{% trans 'region' %}:</font></b>-->
                                <b><font size="5">Место жительства:</font></b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b><font size="4"  onclick="window.open('/region/{{ char.region.pk }}/', '_blank')" style="cursor: pointer">{{ char.region }}</font></b>
                            </div>
                        </div>
                        <!--место прописки-->
                        <div class="row flex" style="margin-left: 10px;">
                            <div class="col-xs-6 col-sm-6 col-md-6" align="left">
<!--                                <b><font size="5" >{% trans 'residency' %}:</font></b>-->
                                <b><font size="5" >Прописка:</font></b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <!--получена-->
<!--                                <b><font size="4"  onclick="window.open('/region/{{ char.residency.pk }}/', '_blank')" style="cursor: pointer">{{ char.residency }}, {% trans 'since' %}: {{ char.residency_date|timezone:char.time_zone|date:"d.m.Y H:i" }}</font></b>-->
                                <b><font size="4"  onclick="window.open('/region/{{ char.residency.pk }}/', '_blank')" style="cursor: pointer">{{ char.residency }}, с: {{ char.residency_date|timezone:player.time_zone|date:"d.m.Y H:i" }}</font></b>
                            </div>
                        </div>
                        <!--партия-->
                        <div class="row flex" style="margin-left: 10px;">
                            <div class="col-xs-6 col-sm-6 col-md-6" align="left">
<!--                                <b><font size="5" >{% trans 'party' %}:</font></b>-->
                                <b><font size="5" >Партия:</font></b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                {% if char.party %}
                                    <a href='/party/{{ char.party.pk }}' target="_blank">
                                    {% if char.party.image %}
                                        <!--Картинка партии-->
                                        <img src="{{ char.party.image.url }}" width="50" height="50">
                                    {% else %}
                                        <img src="{% static 'img/nopic_party.png' %}" width="50" height="50">
                                    {% endif %}
                                    </a>
                                    <b><font size="4" style="cursor: pointer" onclick="window.open('/party/{{ char.party.pk }}/', '_blank')">{{ char.party.title }}</font></b>
                                {% else %}
                                    <b><font size="5" >беспартийный</font></b>
<!--                                    <b><font size="5" >{% trans 'unaffiliated' %}</font></b>-->
                                {% endif %}
                                <b> <font size="3" onclick="window.location.href = '/party_history/{{ char.pk }}/'" style="cursor: pointer">( история )</font></b>
                            </div>
                        </div>
                        <!--партия-->
                        <div class="row flex" style="margin-left: 10px;">
                            <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                                <b><font size="5" >Должность в партии:</font></b>
<!--                                <b><font size="5" >{% trans 'party_post' %}:</font></b>-->
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                {% if char.party_post %}
                                    <b><font size="4" >{{ char.party_post.title }}</font></b>
                                {% else %}
                                    <b><font size="5" >беспартийный</font></b>
<!--                                    <b><font size="5" >{% trans 'unaffiliated' %}</font></b>-->
                                {% endif %}
                            </div>
                        </div>
                        <!--биография-->
                        <div class="row flex" style="margin-left: 10px;">
                            <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                                <b><font size="5" >О себе:</font></b>
                            </div>
                        </div>
                        <div class="row flex" style="margin-left: 10px;">
                            <div class="col-xs-10 col-sm-10 col-md-10">
                                <textarea id="player_bio" disabled maxlength="250" style="width: 100%; height: 60px">{% if not char.bio %}{{ user_link }}{% else %}{{ char.bio }}{% endif %}</textarea>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1" align="center"></div>
        </div>
    </div>
{% endblock %}
