{% extends 'player/header.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
{% load tz %}
{% load get_mod %}
{% load pagination %}

{% block for_scripts_and_css %}
{% endblock %}

{% block content %}
<div id="over" class="tabcontent">
        <div class="row" style="margin-bottom: 25px">
            <div class="col-xs-4 col-sm-4 col-md-4">
                Баланс: <b style="color: #85bb65">${{ player.cash }}</b>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                Блокировано: <b style="color: #FF0000">${% if locked %}{{ locked }}{% else %}0{% endif %}</b>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                Наличных: <b>${{ stored }}</b>
            </div>
        </div>
        <div class="row">
            <!--колонка характеристик персонажа-->
            <div class="col-xs-12 col-sm-12 col-md-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#logs">Операции</a></li>
                    <li><a data-toggle="tab" href="#locks">Блокировки</a></li>
                    <li><a data-toggle="tab" href="#storages">Наличные</a></li>
                </ul>
                <div class="tab-content">
                    <div id="logs" class="tab-pane fade in active">
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
                                Время
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
                                Изменение
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
                                Причина
                            </div>
                        </div>
                        {% for log in lines %}
                        <div class="row" {% if forloop.counter|get_mod:2 == 1 %}style="background: #f1f3f4"{% endif %}>
                            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
                                {{ log.dtime|timezone:player.time_zone|date:"d.m.Y H:i" }}
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4" style="color: #{% if log.cash < 0 %}FF0000{% else %}85bb65{% endif %}" align="center">
                                {{ log.cash }}
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
                                {{ log.get_activity_txt_display }}
                            </div>
                        </div>
                        {% endfor %}
                        {% pagination lines %}
                    </div>
                    <div id="locks" class="tab-pane fade">
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
                                Товар
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
                                Количество
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                Блокировано
                            </div>
                        </div>
                        {% for lock in locks %}
                        <div class="row" {% if forloop.counter|get_mod:2 == 1 %}style="background: #f1f3f4"{% endif %}>
                            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
                                {{ lock.lock_offer.get_good_display }}
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
                                {{ lock.lock_offer.count }}
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4" style="color: #FF0000">
                                {{ lock.lock_cash }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="storages" class="tab-pane fade">
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-xs-6 col-sm-6 col-md-6" align="center">
                                Регион
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                Наличные
                            </div>
                        </div>
                        {% for storage in storages %}
                        <div class="row" {% if forloop.counter|get_mod:2 == 1 %}style="background: #f1f3f4"{% endif %}>
                            <div class="col-xs-6 col-sm-6 col-md-6" align="center">
                                {{ storage.region }}
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                {{ storage.cash }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1" align="center"></div>
        </div>
    </div>
{% endblock %}
