{% load l10n %}{% load i18n %}{% load tz %}

<script>
    check_edu = false;

     function getFromLS(){
        return localStorage.getItem('edu_assistant');
      }

    var assist_img = this.getFromLS() ?? "/static/redesign/img/Ann.png";
    document.getElementsByClassName('edu__img')[0].src = assist_img;

    function claim_reward(id){
      var data = "&csrfmiddlewaretoken=" + csrftoken + "&edu_id=" + id;
      $.ajax({
          beforeSend: function() {},
          type: "POST",
          url: "/edu_reward/",
          data: data,
          cache: false,
          success: function(result){
            if (id == 'edu_all'){
                  if (result.response == 'ok'){
                      location.reload();
                  }
            }
          }
      });
    }

    function edu_pragma(page) {
        if (page == 6){
            const imgElement = document.querySelector('.edu__img');
            if (imgElement) {
                imgElement.src = this.getFromLS() ?? "/static/redesign/img/Ann.png";
            }
        }
        if (page == 7){
            const imgElement = document.querySelector('.edu__img');
            if (imgElement) {
                imgElement.src = "/static/img/party_2.webp";
            }
        }
        if (page == 8){
            const imgElement = document.querySelector('.edu__img');
            if (imgElement) {
                imgElement.src = "/static/img/party_3.webp";
            }
        }
        if (page == 9){
            const imgElement = document.querySelector('.edu__img');
            if (imgElement) {
                imgElement.src = "/static/img/party_2.webp";
            }
        }
        if (page == 10){
            const imgElement = document.querySelector('.edu__img');
            if (imgElement) {
                imgElement.src = this.getFromLS() ?? "/static/redesign/img/Ann.png";
            }
        }
        if (page == 16){
            window.location.href = "/edu_3";
        }
    }

    const edu = new Educator({
    onEduStart: () => { console.log('[EDU]: Started') },
    onEduEnd: () => { console.log('[EDU]: Ended'); edu_pragma(16) },
    onEduPageChange: (num) => { console.log(`[EDU]: Current page is ${num}`); edu_pragma(num) },
    onCloseEdu: () => { console.log(`[EDU]: Education closed`); claim_reward('edu_all'); },
    pages: [

      {
        text: "{% trans 'Добро пожаловать на избирательный участок!' context 'education' %}",
      },

      {
        text: "{% trans 'Этот момент — не просто формальность, а важный шаг для любого политика. Ваш голос и ваша активность сейчас заложат основу для будущих побед.' context 'education' %}",
      },

      {
        text: "{% trans 'Как только вы проголосуете, ваш голос пойдет в копилку нашей партии. Чем больше людей поддержат нас, тем больше у нас шансов получить места в парламенте.' context 'education' %}",
      },

      {
        text: "{% trans 'Каждое кресло в парламенте открывает новые возможности для решения государственных вопросов: от налоговой реформы до влияния на внешнюю политику.' context 'education' %}",
      },

      {
        text: "{% trans 'Помните, каждый голос важен! Чем выше результат партии на этих выборах, тем выше шанс, что вы займете место среди избранных, сможете продвигать законы, инициировать реформы и даже влиять на оборонную стратегию страны.' context 'education' %}",
      },

      {
        text: "{% trans 'Выбор за вами, но от него зависит ваше будущее как политика.' context 'education' %}",
        awaitedDomElemClass: 'eduBlock1',
      },

      {
        text: "{% trans 'Дело сделано! А теперь давайте вернёмся в офис партии. Там спокойнее и не слышно всех этих радикалов.' context 'education' %}",
      },

      {
        text: "{% trans 'Хватит подкручивать результаты в свою пользу!' context 'education' %}",
      },

      {
        text: "{% trans 'Нам нужны честные выборы, а не очередной фарс!' context 'education' %}",
      },

      {
        text: "{% trans 'Они всё равно всё уже купили!' context 'education' %}",
      },

      {
        text: "{% trans 'Не обращайте внимания, это всего лишь часть нашей работы.' context 'education' %}",
      },

      {
        text: "{% trans 'На пути к вершинам всегда будет недовольные, но мы справимся. Главное — ваш выбор и ваша решимость.' context 'education' %}",
      },
    ]
  })
</script>