{% load l10n %}{% load i18n %}{% load tz %}

<script>
    let button = document.getElementById("refill-countdown");

    // Создаем новый элемент button
    let newButton = document.createElement("button");

    // Копируем классы
    newButton.className = button.className;

    // Копируем внутренние элементы и текст
    newButton.innerHTML = button.innerHTML;

    // Заменяем старую кнопку на новую
    button.parentNode.replaceChild(newButton, button);

    check_edu = false;

    sending_dmg = 1823;

     function getFromLS(){
        return localStorage.getItem('edu_assistant');
      }

    var assist_img = this.getFromLS() ?? "/static/redesign/img/Ann.png";
    document.getElementsByClassName('edu__img')[0].src = assist_img;

    function claim_reward(id){
      var data = "&csrfmiddlewaretoken=" + csrftoken + "&edu_id=" + id;
      $.ajax({
          beforeSend: function() {},
          type: "POST",
          url: "/edu_reward/",
          data: data,
          cache: false,
          success: function(result){
            if (id == 'edu_all'){
                  if (result.response == 'ok'){
                      location.reload();
                  }
            }
          }
      });
    }

    function edu_pragma(page) {
        if (page == 1){
            const imgElement = document.querySelector('.edu__img');
            if (imgElement) {
                imgElement.src = this.getFromLS() ?? "/static/redesign/img/Ann.png";
            }
        }
        if (page == 2){
            const imgElement = document.querySelector('.edu__img');
            if (imgElement) {
                imgElement.src = "/static/img/soldier.webp";
            }
        }
        if (page == 4){
            document.getElementById('edu_tanks').value = 10;
            document.getElementById('edu_rifles').value = 30;
            document.getElementById('edu_ifv').value = 20;
            document.getElementById('energy_count').innerHTML = 100;
            document.getElementById('damage_count').innerHTML = '1 823';
        }
        if (page == 6){
            document.getElementById('energy').innerHTML = '0';

            const imgElement = document.querySelector('.edu__img');
            if (imgElement) {
                imgElement.src = this.getFromLS() ?? "/static/redesign/img/Ann.png";
            }
        }
        if (page == 8){
            document.getElementById('energy').innerHTML = '100';
            send_edu_enemies_1();

            const imgElement = document.querySelector('.edu__img');
            if (imgElement) {
                imgElement.src = "/static/img/soldier.webp";
            }

            document.getElementById('edu_tanks').value = 10;
            document.getElementById('edu_rifles').value = 50;
            document.getElementById('edu_ifv').value = 10;
            document.getElementById('energy_count').innerHTML = 100;
            document.getElementById('damage_count').innerHTML = '2 197';
            sending_dmg = 2197;
        }
        if (page == 9){
            send_edu_enemies_2();
        }
        if (page == 16){
            window.location.href = "/edu_5";
        }
    }

    const edu = new Educator({
    onEduStart: () => { console.log('[EDU]: Started') },
    onEduEnd: () => { console.log('[EDU]: Ended'); edu_pragma(16) },
    onEduPageChange: (num) => { console.log(`[EDU]: Current page is ${num}`); edu_pragma(num) },
    onCloseEdu: () => { console.log(`[EDU]: Education closed`); claim_reward('edu_all'); },
    pages: [

      {
        text: "{% trans 'Ваша решимость отправиться на передовую вызывает восхищение.' context 'education' %}",
      },

      {
        text: "{% trans 'Помощь правительственным силам сейчас как никогда необходима. Вы будете командовать отдельным подразделением самообороны столицы.' context 'education' %}",
      },

      {
        text: "{% trans 'Добро пожаловать, командир. Ваше присутствие вдохновляет бойцов!' context 'education' %}",
      },

      {
        text: "{% trans 'В вашем распоряжении 100 единиц энергии для управления действиями войск. Мы готовы действовать по вашему приказу, чтобы отбить натиск противника.' context 'education' %}",
      },

      {
        text: "{% trans 'В вашем распоряжении находятся различные подразделения, и для вашего удобства мной уже собран оперативный отряд для первой атаки.' context 'education' %}",
      },

      {
        text: "{% trans 'Нажмите кнопку «в бой», чтобы начать операцию и потратить первые 100 единиц энергии.' context 'education' %}",
        awaitedDomElemClass: 'eduBlock1',
      },

      {
        text: "{% trans 'Я вижу, что вы на посту уже вторые сутки… Вот, принесла вам кофе, чтобы восстановить силы.' context 'education' %}",
      },

      {
        text: "{% trans 'Не забывайте заботиться о себе! Кнопка «пополнить энергию» поможет вам получить еще 100 единиц энергии.' context 'education' %}",
        awaitedDomElemClass: 'eduBlockMining4',
      },

      {
        text: "{% trans 'Левый фланг начинает ослабевать. Предлагаю направить туда дополнительные силы для поддержки.' context 'education' %}",
        awaitedDomElemClass: 'eduBlock1',
      },

      {
        text: "{% trans 'Командир, ситуация выходит из-под контроля. Враг прорывается.' context 'education' %}",
      },

      {
        text: "{% trans 'Вам нужно немедленно покинуть штаб — здесь скоро будет жарко. Мы будем прикрывать ваш отход до последнего.' context 'education' %}",
      },

    ]
  })
</script>