{% load get_attr %}
{% load get_mod %}
{% load get_sub %}
{% load get_sum %}
{% load dict_key %}
{% load has_key %}
{% load get_proc %}
{% load get_sum %}
{% load static %}
{% load l10n %}{% load i18n %}
{% load get_key_list %}
<svg style="display: none;">
    <symbol viewBox="0 0 14 14" id="minus">
            <rect width="14" height="14" fill="var(--c10two)"/>
            <rect x="2" y="6" width="10" height="2" fill="var(--c30)"/>
    </symbol>
    <symbol viewBox="0 0 14 14" id="plus">
        <rect width="14" height="14" fill="var(--c10two)"/>
        <rect x="2" y="6" width="10" height="2" fill="var(--c30)"/>
        <rect x="6" y="12" width="10" height="2" transform="rotate(-90 6 12)" fill="var(--c30)"/>
    </symbol>
</svg>
<div class="store__left">
    <div id="trade_tab">
        <form id="money_transfer_frm" role="form" class="store__exch-wrapper">
            {% csrf_token %}
            <span class="store__exch-left-text">{% trans 'счёт' context "has_storage" %}</span>
            <button type="submit" id="do_transfer" disabled> <!--кнопка перевода средств на склад-->
                <svg width="41" height="60" viewBox="0 0 41 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M41 0L-3.8147e-06 -1.79217e-06L-5.53219e-06 39.2917L20.5 59.7917L41 39.2917L41 0Z" fill="var(--c10two)"/>
                    <path d="M35.5 23L6.65384 23L5.5 23M35.5 23L27.4231 15M35.5 23L27.4231 31M5.5 23L13.5 15M5.5 23L13.5 31" stroke="var(--c60)" stroke-width="3"/>
                </svg>
            </button> <!--конец кнопки перевода средств на склад-->
            <span class="store__exch-right-text">{% trans 'наличные' context "has_storage" %}</span>
            <input class="store__num-left" type="number" min="0" value="{% localize off %}{{ player.cash }}{% endlocalize %}" name="cash_at_player" id="cash_at_player"> <!--инпут наличных-->
            <input class="store__num-right" type="number" min="0" value="{% localize off %}{{ storage|get_attr:'cash' }}{% endlocalize %}" name="cash_at_storage" id="cash_at_storage"> <!--инпут на складе-->
            <div id="storage_cash" {% localize off %}data-text="{{ storage.cash }}"{% endlocalize %} style="display: none"></div>
            <p>
                <span>{% trans 'всего денег' context "has_storage" %}:</span>
                <p>
                {{ player.cash|get_sum:storage.cash }}
                </p> <!--значение "всего денег"-->
            </p>
            <svg class="eduBlock3" width="314" height="100" viewBox="0 0 314 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.46447 11.5355L11.5355 2.46447C12.4732 1.52678 13.745 1 15.0711 1H308C310.761 1 313 3.23857 313 6V94C313 96.7614 310.761 99 308 99H6C3.23858 99 1 96.7614 1 94V15.0711C1 13.745 1.52678 12.4732 2.46447 11.5355Z" fill="var(--c30)" stroke="var(--c30)"/>
            </svg>
        </form>
    </div>
    <ul class="store__list">
        <li class="store__item" style="justify-content: center">
            <p>{% trans 'Уровень:' context "has_storage" %} {{ storage|get_attr:'level' }}</p>
        </li>
        <!-- ['small', 'medium', 'large'] -->
        {% for size in size_dict|get_key_list %}
        {% if goods_dict|has_key:size %}
        <li class="store__item eduBlock2" style="margin-top: 2vh"><!--шапка типоразмера-->
            {% with cap_name=size|get_sum:'_cap' %}
            <p>{{ size_dict|dict_key:size }} {% trans 'объём' context "has_storage" %}</p>
            <span>
                {{ cap_dict|dict_key:size }} /
                {% if size_locks|has_key:size %}
                    {% with lock_val=size_locks|dict_key:size %}
                <span class="store__item-span-r">{{ size_locks|dict_key:size }}</span> /
                    {% endwith %}
                {% endif %}
                {{ storage|get_attr:cap_name }}
            </span> <!--значение товара-->
            <div class="store__bar">
                {% with cap_val=storage|get_attr:cap_name %}
                    {% with size_val=cap_dict|dict_key:size %}
                <div class="store__bar-fill" style="width: {{ cap_val|get_proc:size_val }}%;"></div> <!--width: 45% - процент заполнения шкалы-->
                    {% endwith %}
                    {% if size_locks|has_key:size %}
                        {% with lock_val=size_locks|dict_key:size %}
                <div class="store__bar-reserved" style="width: {{ cap_val|get_proc:lock_val }}%;"></div>
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            </div>
            {% endwith %}
        </li><!--шапка типоразмера-->

            {% for stock in goods_dict|dict_key:size %}
                {% with good=stock|get_attr:'good' %}
                    {% if stock|get_attr:'stock' > 0 or locks|has_key:good %}
                    <li class="store__item"><!--начало товара-->

                        <p>{{ good|get_attr:'name' }}</p>
                        <span>
                        {% if stock|get_attr:'stock' > 0 %}
                            {{ stock|get_attr:'stock' }}
                        {% endif %}

                        {% if locks|has_key:good %}
                            {% with lock_val=locks|dict_key:good %}
                        <span class="store__item-span-r">{% if stock|get_attr:'stock' > 0 %} / {% endif %}
                            {{ locks|dict_key:good }}
                        </span>
                            {% endwith %}
                        {% endif %}
                        </span> <!--значение товара-->
                    </li><!--конец товара-->
                    {% endif %}
                {% endwith %}
            {% endfor %}
        {% endif %}
        {% endfor %}

    </ul>
</div>