{% load dict_key %}
{% load static %}
<div class="store__left">
    <!--БЛОК когда нет склада-->
    <div class="store__nostore">
        <h2 class="store__notitle">склад в регионе <br>{{ player.region }}</h2>
        <div class="store__noblock">
            <p>Стоимость создания:</p>
            <p>{{ material_cost }} стали, {{ material_cost }} алюминия</p>
            <p>(доставка оплачивается отдельно)</p>
            <svg width="314" height="100" viewBox="0 0 314 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.46447 11.5355L11.5355 2.46447C12.4732 1.52678 13.745 1 15.0711 1H308C310.761 1 313 3.23857 313 6V94C313 96.7614 310.761 99 308 99H6C3.23858 99 1 96.7614 1 94V15.0711C1 13.745 1.52678 12.4732 2.46447 11.5355Z" fill="var(--c30)" stroke="var(--c30)"/>
            </svg>
        </div>
        <h3>выберите склад списания материалов:</h3>
        <form method="POST" id="new_storage_form" enctype="multipart/form-data" class="post-form" style="display: flex; flex-direction: column; align-items: center;">
            {% csrf_token %}
            <label class="store__noselect">
                <select name="storage">
                {% for storage in storages %}
                    <option {% if forloop.first %}selected{% endif %} value='{{ storage.pk }}'>{{ storage.region }}{% if not materials_exists|dict_key:storage %} - нехватка материалов!{% else %} - доставка ${{delivery_sum|dict_key:storage }}{% endif %}
                    </option>
                {% endfor %}
                </select>
                <i>
                    <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.3" d="M1 1L6 7L11 1" stroke="var(--c10one)"/>
                    </svg>
                </i>
            </label>
            <button type="submit" enctype="multipart/form-data" class="store__nobtn ct__mid-btn">
                <svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_258_309" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
                        <path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="var(--c10two)"/>
                    </mask>
                    <g mask="url(#mask0_258_309)">
                        <path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
                        <path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
                        <path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
                        <path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
                    </g>
                </svg>
                <span>создать</span>
            </button>
        </form>
    </div>
</div>
<script src='{% static "js/new_storage.js" %}?{{ csrf_token }}'></script>