{% extends 'player/header.html' %}
{% load floor_to_tens %}
{% load dict_key %}
{% block content %}

{% load static %}

{% block for_scripts_and_css %}
<script src='{% static "js/map.js" %}?{{ csrf_token }}'></script>
<script src='{% static "js/leaflet.js" %}?{{ csrf_token }}'></script>
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}?{{ csrf_token }}"/>
{% endblock %}


<div style="position: relative; height: 80vh">
  <div id="mapid" style="z-index: 1"></div>
  <div id="district_info" style="z-index: 2; display:none; position: absolute; background-color:rgba(13, 13, 13, 0.5);
  font:13px bold sans-serif;color:#fff; width: 400px; top:20px; right:20px; overflow:hidden;
  padding: 15px;"></div>
<!--  <div id="district_info" style="display:none; position:fixed;background-color:rgba(13, 13, 13, 0.5);font:13px bold sans-serif;color:#fff;width:20%;overflow:hidden"></div>-->
</div>
 <style>
     #mapid { height: 100%; }
 </style>
 <script>
 // сделать из цвета его темную версию
 const pSBC=(p,c0,c1,l)=>{
     let r,g,b,P,f,t,h,i=parseInt,m=Math.round,a=typeof(c1)=="string";
     if(typeof(p)!="number"||p<-1||p>1||typeof(c0)!="string"||(c0[0]!='r'&&c0[0]!='#')||(c1&&!a))return null;
     if(!this.pSBCr)this.pSBCr=(d)=>{
         let n=d.length,x={};
         if(n>9){
             [r,g,b,a]=d=d.split(","),n=d.length;
             if(n<3||n>4)return null;
             x.r=i(r[3]=="a"?r.slice(5):r.slice(4)),x.g=i(g),x.b=i(b),x.a=a?parseFloat(a):-1
         }else{
             if(n==8||n==6||n<4)return null;
             if(n<6)d="#"+d[1]+d[1]+d[2]+d[2]+d[3]+d[3]+(n>4?d[4]+d[4]:"");
             d=i(d.slice(1),16);
             if(n==9||n==5)x.r=d>>24&255,x.g=d>>16&255,x.b=d>>8&255,x.a=m((d&255)/0.255)/1000;
             else x.r=d>>16,x.g=d>>8&255,x.b=d&255,x.a=-1
         }return x};
     h=c0.length>9,h=a?c1.length>9?true:c1=="c"?!h:false:h,f=this.pSBCr(c0),P=p<0,t=c1&&c1!="c"?this.pSBCr(c1):P?{r:0,g:0,b:0,a:-1}:{r:255,g:255,b:255,a:-1},p=P?p*-1:p,P=1-p;
     if(!f||!t)return null;
     if(l)r=m(P*f.r+p*t.r),g=m(P*f.g+p*t.g),b=m(P*f.b+p*t.b);
     else r=m((P*f.r**2+p*t.r**2)**0.5),g=m((P*f.g**2+p*t.g**2)**0.5),b=m((P*f.b**2+p*t.b**2)**0.5);
     a=f.a,t=t.a,f=a>=0||t>=0,a=f?a<0?t:t<0?a:a*P+t*p:0;
     if(h)return"rgb"+(f?"a(":"(")+r+","+g+","+b+(f?","+m(a*1000)/1000:"")+")";
     else return"#"+(4294967296+r*16777216+g*65536+b*256+(f?m(a*255):0)).toString(16).slice(1,f?undefined:-2)
 }

 function get_district_info(event) {
     var id = event.target.options.data.id;

     $.ajax({
       type: "GET",
       url: "info/region/"+id,
       dataType: "html",
       cache: false,
       success: function(data){

           region_infos = document.getElementsByClassName("region_info");
           for (i = 0; i < region_infos.length; i++) {
               region_infos[i].remove();
           }

           var div = document.createElement('div');
           div.className = 'row region_info';
           div.id = id + '_info';

           div.innerHTML = data;

           if ( div.getElementsByClassName("to_fly").length > 0 ){
               var button = div.getElementsByClassName("to_fly")[0];
               button.addEventListener ("click", to_fly)
           }
           document.getElementById('district_info').appendChild(div);
           document.getElementById('district_info').style.display = "block";
       }
     });
 }

        {% with map_shape=shapes_dict|dict_key:player.region.pk %}
     var mymap = L.map('mapid').setView([{{ player.region.latitude }}, {{ player.region.longitude }}], {{ map_shape.zoom }});
        {% endwith %}
     L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
     attribution: '',
     minZoom: 2,
     maxZoom: 18,
     id: 'mapbox/streets-v11',
     tileSize: 256,
     accessToken: 'your.mapbox.access.token'
 }).addTo(mymap);

 {% for district in regions %}
 {% with map_shape=shapes_dict|dict_key:district.pk %}
 var region = [
   {
       "type": "Feature",
       "properties": {
            "color": "#{% if district.state.color %}{{ district.state.color }}{% else %}{% if district.is_off %}000000{% else %}ffffff{% endif %}{% endif %}",
       },
       "geometry": {
           "type": "Polygon",
           "coordinates": {{ map_shape.shape }}

       }
   },
 ];

 region_poly_{{ district.pk }} = L.geoJSON(region, {
     style: function(feature) {
         return {
         {% if district.is_off %}color: '#ffffff',{% else %}color: pSBC( -0.4, feature.properties.color, false, true ),{% endif %}
          {% if district.is_off %}fillOpacity: 0.5,{% else %}fillOpacity: 0.8,{% endif %}
          fillColor: feature.properties.color,
          weight: 1
         };
     },
     data:{
          "id": "{{ map_shape.on_map_id }}",
       },
 }){% if not district.is_off %}.on('click', get_district_info){% endif %};

 region_poly_{{ district.pk }}.addTo(mymap);
 {% endwith %}
 {% endfor %}
 </script>
{% endblock %}