{% extends 'player/header.html' %}
{% load floor_to_tens %}

{% block content %}

{% load static %}

{% block for_scripts_and_css %}
<script src='{% static "js/map.js" %}?{{ csrf_token }}'></script>
<script src='{% static "js/leaflet.js" %}?{{ csrf_token }}'></script>
 <link rel="stylesheet" href="{% static 'css/leaflet.css' %}?{{ csrf_token }}"/>
{% endblock %}


<div style="position: relative;">
  <div id="mapid" style="z-index: 1"></div>
  <div id="district_info" style="z-index: 2; display:none; position: absolute; background-color:rgba(13, 13, 13, 0.5);
  font:13px bold sans-serif;color:#fff; width: 400px; top:20px; right:20px; overflow:hidden;
  padding: 15px;"></div>
<!--  <div id="district_info" style="display:none; position:fixed;background-color:rgba(13, 13, 13, 0.5);font:13px bold sans-serif;color:#fff;width:20%;overflow:hidden"></div>-->
</div>
 <style>
     #mapid { height: 200%; }
 </style>
 <script>
 function get_district_info(event) {
     var id = event.target.options.data.id;

     $.ajax({
       type: "GET",
       url: "info/region/"+id,
       dataType: "html",
       cache: false,
       success: function(data){

           region_infos = document.getElementsByClassName("region_info");
           for (i = 0; i < region_infos.length; i++) {
               region_infos[i].remove();
           }

           var div = document.createElement('div');
           div.className = 'row region_info';
           div.id = id + '_info';

           div.innerHTML = data;

           if ( div.getElementsByClassName("to_fly").length > 0 ){
               var button = div.getElementsByClassName("to_fly")[0];
               button.addEventListener ("click", to_fly)
           }
           document.getElementById('district_info').appendChild(div);
           document.getElementById('district_info').style.display = "block";
       }
     });
 }


     var mymap = L.map('mapid').setView([{{ player.region.latitude }}, {{ player.region.longitude }}], {{ player.region.zoom }});
     L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
     attribution: '',
     minZoom: 2,
     maxZoom: 18,
     id: 'mapbox/streets-v11',
     tileSize: 512,
     zoomOffset: -1,
     accessToken: 'your.mapbox.access.token'
 }).addTo(mymap);

 {% for district in regions %}
 var region = [
   {
       "type": "Feature",
       "properties": {
            "color": "#{% if district.state.color %}{{ district.state.color }}{% else %}{% if district.is_off %}000000{% else %}ffffff{% endif %}{% endif %}",
       },
       "geometry": {
           "type": "Polygon",
           "coordinates": {{ district.shape }}
       }
   },
 ];

 region_poly_{{ district.pk }} = L.geoJSON(region, {
     style: function(feature) {
         return {
         {% if district.is_off %}color: '#ffffff',{% else %}color: feature.properties.color,{% endif %}
          {% if district.is_off %}fillOpacity: 0.5,{% else %}fillOpacity: 0.8,{% endif %}
          fillColor: feature.properties.color,
          weight: 1
         };
     },
     data:{
          "id": "{{ district.on_map_id }}",
       },
 }){% if not district.is_off %}.on('click', get_district_info){% endif %};

 region_poly_{{ district.pk }}.addTo(mymap);

 {% endfor %}
 </script>
{% endblock %}