{% extends 'player/header.html' %}
{% load floor_to_tens %}
{% load static %}
{% load l10n %}{% load i18n %}

{% block for_scripts_and_css %}
<script src='{% static "js/mining.js" %}?{{ csrf_token }}'></script>
{% if premium %}
<script src='{% static "js/auto_mining.js" %}?{{ csrf_token }}'></script>
{% endif %}
{% endblock %}

{% block content %}
<script>
    const var_mining_default = 'Добыча ресурсов';
    const var_mining_process = 'Копаем...';
</script>

<div class="row" align="center">
    Ежедневное финансирование
</div>
<div class="row" align="center">
    Потрать энергию и получи до <b style="color: #85bb65">${{ daily_limit }}</b> за день!
</div>
<div class="row" style="margin-top: 25px; margin-bottom: 50px">
    <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="row" align="center">
            энергии потрачено: {{ player.energy_consumption }} / {{ daily_energy_limit }}
        </div>
        <div class="row" align="center">
            уже получено: <b style="color: #85bb65">${{ player.paid_sum }}</b>
        </div>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8">
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ daily_procent }}%; background-color: #85bb65!important"></div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="row" align="center">
            <form class="cash_retrieve" role="form">
                {% csrf_token %}
                <!--если игрок в полете-->
                {% if player.destination %}
                <button type="button" class="btn btn-danger">Вы в полете</button>
                {% else %}
                <button type="submit" class="save btn btn-mining btn-default">
                    <div class="process" style="display: none">Получаем...</div>
                    <div class="main">Забрать <b class="sum" style="color: #85bb65">${{ daily_current_sum }}</b></div>
                </button>
                {% endif %}
            </form>
        </div>
    </div>
</div>

<!--если игрок в полете-->
{% if player.destination %}
Вы летите в регион {{ player.destination }}
{% else %}
Добыча ресурсов в регионе {{ player.region }}
{% endif %}
<div id="mining_main">
    <br>
    <br>
    <b>Золото</b>
    <br>
    Запасы: {{ player.region.gold_has }} / {{ player.region.gold_cap }}
    <br>
    <br>
    <form class="mining_form" role="form">
        {% csrf_token %}
        <input type="hidden" name="resource" value="gold">
        <input type="number" min="0" max="100" value="{{ player.energy|floor_to_tens }}" step="10" name="energy"
               maxlength="3">
        <!--если игрок в полете-->
        {% if player.destination %}
        <button type="button" class="btn btn-danger">Вы в полете</button>
        {% else %}
        <button type="submit" class="save btn btn-mining btn-default" style="margin-left: 1%">Добыча ресурсов</button>

            {% if premium %}
            <button type="button" class="btn btn-warning start_auto" onclick="start_auto(event, 'gold')" style="margin-left: 1% {% if auto_mining.resource == 'gold' %};display:none{% endif %}">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger cancel_auto" onclick="cancel_auto(event)" style="margin-left: 1% {% if not auto_mining or auto_mining.resource != 'gold' %}; display:none {% endif %}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            {% endif %}
        {% endif %}
    </form>
    <br>
    <br>
    <b>Нефть</b>
    <br>
    Запасы: {{ player.region.oil_has }} / {{ player.region.oil_cap }}
    <br>
    Марка нефти: {{ player.region.get_oil_type_display }}
    <br>
    <br>
    <form class="mining_form" role="form">
        {% csrf_token %}
        <input type="hidden" name="resource" value="oil">
        <input type="number" min="0" max="100" value="{{ player.energy|floor_to_tens }}" step="10" name="energy"
               maxlength="3">
        <!--если игрок в полете-->
        {% if player.destination %}
        <button type="button" class="btn btn-danger">Вы в полете</button>
        {% else %}
        <button type="submit" enctype="multipart/form-data" class="save btn btn-mining btn-default" style="margin-left: 1%">Добыча ресурсов</button>

                {% if premium %}
        <button type="button" class="btn btn-warning start_auto" onclick="start_auto(event, 'oil')" style="margin-left: 1% {% if auto_mining.resource == 'oil' %};display:none{% endif %}">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-danger cancel_auto" onclick="cancel_auto(event)" style="margin-left: 1% {% if not auto_mining or auto_mining.resource != 'oil' %}; display:none {% endif %}">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
            {% endif %}
        {% endif %}
    </form>
    <br>
    <br>
    <b>Руда</b>
    <br>
    Запасы: {{ player.region.ore_has }} / {{ player.region.ore_cap }}
    <br>
    Качество руды: {{ player.region.coal_proc }}% / {{ player.region.iron_proc }}% / {{ player.region.bauxite_proc }}%
    <br>
    <br>
    <form class="mining_form" role="form">
        {% csrf_token %}
        <input type="hidden" name="resource" value="ore">
        <input type="number" min="0" max="100" value="{{ player.energy|floor_to_tens }}" step="10" name="energy"
               maxlength="3">
        <!--если игрок в полете-->
        {% if player.destination %}
        <button type="button" class="btn btn-danger">Вы в полете</button>
        {% else %}
        <button type="submit" enctype="multipart/form-data" class="save btn btn-mining btn-default" style="margin-left: 1%">Добыча ресурсов</button>

            {% if premium %}
        <button type="button" class="btn btn-warning start_auto" onclick="start_auto(event, 'ore')" style="margin-left: 1% {% if auto_mining.resource == 'ore' %};display:none{% endif %}">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-danger cancel_auto" onclick="cancel_auto(event)" style="margin-left: 1% {% if not auto_mining or auto_mining.resource != 'ore' %}; display:none {% endif %}">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
            {% endif %}
        {% endif %}
    </form>
</div>
{% endblock %}