{% extends 'player/header.html' %}
{% load floor_to_tens %}

{% block content %}
<!--если игрок в полете-->
{% if player.destination %}
    Вы летите в регион {{ player.destination }}
{% else %}
    Добыча ресурсов в регионе {{ player.region }}
{% endif %}
<br>
<br>
<b>Золото</b>
<br>
Запасы: {{ player.region.gold_has }} / {{ player.region.gold_cap }}
<br>
<br>
<form method="POST" action="{% url 'do_mining' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="resource" value="gold">
    <input type="number" min="0" max="100" value="{{ player.energy|floor_to_tens }}" step="10" name="energy" maxlength="3">
    <!--если игрок в полете-->
    {% if player.destination %}
        <button type="button" class="btn btn-danger">Вы в полете</button>
    {% else %}
        <button type="submit" enctype="multipart/form-data" class="save btn btn-default">Добыча ресурсов</button>
    {% endif %}
</form>
<br>
<br>
<b>Нефть</b>
<br>
Запасы: {{ player.region.oil_has }} / {{ player.region.oil_cap }}
<br>
Марка нефти: {{ player.region.get_oil_type_display }}
<br>
<br>
<form method="POST" action="{% url 'do_mining' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="resource" value="oil">
    <input type="number" min="0" max="100" value="{{ player.energy|floor_to_tens }}" step="10" name="energy" maxlength="3">
    <!--если игрок в полете-->
    {% if player.destination %}
        <button type="button" class="btn btn-danger">Вы в полете</button>
    {% else %}
        <button type="submit" enctype="multipart/form-data" class="save btn btn-default">Добыча ресурсов</button>
    {% endif %}
</form>
<br>
<br>
<b>Руда</b>
<br>
Запасы: {{ player.region.ore_has }} / {{ player.region.ore_cap }}
<br>
Качество руды: {{ player.region.coal_proc }}% / {{ player.region.iron_proc }}% / {{ player.region.bauxite_proc }}%
<br>
<br>
<form method="POST" action="{% url 'do_mining' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="resource" value="ore">
    <input type="number" min="0" max="100" value="{{ player.energy|floor_to_tens }}" step="10" name="energy" maxlength="3">
    <!--если игрок в полете-->
    {% if player.destination %}
        <button type="button" class="btn btn-danger">Вы в полете</button>
    {% else %}
        <button type="submit" enctype="multipart/form-data" class="save btn btn-default">Добыча ресурсов</button>
    {% endif %}
</form>
{% endblock %}