{% extends 'player/header.html' %}
{% load static %}
{% load i18n %}{% load tz %}{% load dict_key %}
{% load get_building_info %}

{% block for_scripts_and_css %}
<script src='{% static "js/region_view.js" %}?{{ csrf_token }}'></script>
<script src='{% static "js/map.js" %}?{{ csrf_token }}'></script>
{% endblock %}

{% block content %}
<div id="over" class="tabcontent">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1" align="center"></div>
            <div class="col-xs-4 col-sm-4 col-md-4" align="center">
                <div class="row">
                    <div align="center" style="height: 50px; font-size: 20pt; font-weight: bold;">{{ region.region_name }}</div>
                </div>
                <div class="row">
                    <img src='/static/img/regions/{{ region.on_map_id }}.png' class='image' width='250' height='250'>
                </div>
                <div class="row">
                    {% if not player.residency == region %}
                        {% if not player.destination %}
                            {% if residency == 'free' %}
                            <button type="submit" onclick="get_residency({{ region.pk }})" class="save btn btn-success" style="margin-top: 3%">Получить прописку</button>
                            {% else %}
                                {% if request %}
                                <button type="submit" disabled class="save btn btn-default" style="margin-top: 3%">Запрос отправлен</button>
                                {% else %}
                                <button type="submit" onclick="get_residency({{ region.pk }})" class="save btn btn-success" style="margin-top: 3%">Запросить прописку</button>
                                {% endif %}
                            {% endif %}
                            {% if not player.region == region %}
                            <div style="margin-top: 3%">
                                {% csrf_token %}
                                <input type="hidden" class="region_id" name="region" value="{{ region.pk }}">
                                <input type="submit" class="to_fly btn btn-success" value="{% trans 'Отправиться' %}, - {{ cost }}" style="font-weight: bold; font-size: 15px;"/>
                            </div>
                            {% endif %}
                        {% else %}
                            <button type="submit" disabled class="save btn btn-danger" style="margin-top: 3%">Недоступно в полете</button>
                        {% endif %}
                    {% else %}
                        {% if not player.destination %}
                            {% if player.region == region %}
                                <button type="submit" disabled class="save btn btn-default" style="margin-top: 3%">Регион прописки</button>
                            {% else %}
                            <div style="margin-top: 3%">
                                {% csrf_token %}
                                <input type="hidden" class="region_id" name="region" value="{{ region.pk }}">
                                <input type="submit" class="to_fly btn btn-success" value="{% trans 'Отправиться' %}, - {{ cost }}" style="font-weight: bold; font-size: 15px;"/>
                            </div>
                            {% endif %}
                        {% else %}
                            <button type="submit" disabled class="save btn btn-danger" style="margin-top: 3%">В полете</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="row" style="margin-right: 10px">
                    <div class="tab-content">
                        <div class="row flex" >
                            <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                                <b><font size="4">Жителей:</font></b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b><font size="4">{{ players_count }}</font></b>
                            </div>
                        </div>
                        <div class="row flex" onclick="window.location.href = '/region/{{ region.pk }}/citizens/'">
                            <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                                <b><font size="4">Граждан:</font></b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b><font size="4">{{ residents_count }}</font></b>
                            </div>
                        </div>
                        <div class="row flex" >
                            <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                                <b><font size="4">Партий:</font></b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b><font size="4">{{ parties_count }}</font></b>
                            </div>
                        </div>
<!--                        <div class="row flex" >-->
<!--                            <div class="col-xs-6 col-sm-6 col-md-6" align="left">-->
<!--                                <b><font size="4">Войн:</font></b>-->
<!--                            </div>-->
<!--                            <div class="col-xs-6 col-sm-6 col-md-6">-->
<!--                                <b><font size="4">{{ wars_cnt }}</font></b>-->
<!--                            </div>-->
<!--                        </div>-->
                        <!--гос-->
                        <div class="row flex" >
                            <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                                <b><font size="4">{% trans 'Государство' %}:</font></b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                {% if region.state %}
                                    {% if region.state.image %}
                                    <!--Картинка партии-->
                                    <img src="{{ region.state.image.url }}" width="30" height="30" onclick="window.location.href = '/state/{{ region.state.pk }}/'" style="cursor: pointer">
                                    {% else %}
                                    <img src="{% static 'img/congress.svg' %}" width="30" height="30" onclick="window.location.href = '/state/{{ region.state.pk }}/'" style="cursor: pointer">
                                    {% endif %}
                                    <b><font size="4" onclick="window.location.href = '/state/{{ region.state.pk }}/'" style="cursor: pointer">{{ region.state.title }}</font></b>
                                {% else %}
                                    <b><font size="4">{% trans 'Независимый регион' %}</font></b>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="row flex" >
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4">{% trans 'Запасы золота' %}: </font>
                                </b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4" color="gold">{{ region.gold_has }}</font>
                                    <font size="4"> / </font>
                                    <font size="4" color="gold">{{ region.gold_cap }}</font>
                                </b>
                            </div>
                        </div>
                        <div class="row flex" >
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4">{% trans 'Запасы нефти' %}: </font>
                                </b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4" color="black">{{ region.oil_has }}</font>
                                    <font size="4"> / </font>
                                    <font size="4" color="black">{{ region.oil_cap }}</font>
                                </b>
                            </div>
                        </div>
                        <div class="row flex" >
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4">{% trans 'Марка нефти' %}: </font>
                                </b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4" color="black">{{ region.get_oil_type_display }}</font>
                                </b>
                            </div>
                        </div>
                        <div class="row flex" >
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4">{% trans 'Запасы руд' %}: </font>
                                </b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4" color="#D2361C">{{ region.ore_has }}</font>
                                    <font size="4"> / </font>
                                    <font size="4" color="#D2361C">{{ region.ore_cap }}</font>
                                </b>
                            </div>
                        </div>
                        <div class="row flex" >
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4">{% trans 'Качество руды (уголь/железо/бокситы)' %}: </font>
                                </b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4" color="#D2361C">{{ region.coal_proc }}%</font>
                                    <font size="4"> / </font>
                                    <font size="4" color="#D2361C">{{ region.iron_proc }}%</font>
                                    <font size="4"> / </font>
                                    <font size="4" color="#D2361C">{{ region.bauxite_proc }}%</font>
                                </b>
                            </div>
                        </div>
                        <hr>
                        {% for building_cl in building_classes %}
                            {% get_building_info %}
                            <hr>
                        {% endfor %}
                        <div class="row flex">
                            <div class="col-xs-12 col-sm-12 col-md-12" align="center">
                                <b>
                                    <font size="4">{% trans 'Региональные налоги' %}: </font>
                                </b>
                            </div>
                        </div>
                        <div class="row flex">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4">{% trans 'На финансирование' %}: </font>
                                </b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4" color="#85bb65">{{ region.cash_tax }}%</font>
                                </b>
                            </div>
                        </div>
                        <div class="row flex">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4">{% trans 'На добычу' %}: </font>
                                </b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4" color="black">{{ region.oil_tax }}%</font>
                                    <font size="4"> / </font>
                                    <font size="4" color="#D2361C">{{ region.ore_tax }}%</font>
                                </b>
                            </div>
                        </div>
                        <div class="row flex">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4">{% trans 'На торговлю' %}: </font>
                                </b>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <b>
                                    <font size="4" color="#85bb65">{{ region.trade_tax }}%</font>
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1" align="center"></div>
        </div>
        <script>
           if ( document.getElementsByClassName("to_fly").length > 0 ){
               var button = document.getElementsByClassName("to_fly")[0];
               button.addEventListener ("click", to_fly)
           }
        </script>
</div>
{% endblock %}