@media (max-width: 425px) {
  a,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  span {
    font-style: normal;
    font-weight: bold;
    font-size: 7px;
    line-height: 10px;
    letter-spacing: 0.04em;
  }
  #partBtn,
  #eventBtn {
    display: inline-block;
    width: 100%;
    padding: 15px 0px;
  }
  #partBoxId,
  #eventBoxId {
    height: 180px;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .container {
    width: 100%;
  }
  .container .wrapper .content {
    background-color: #27272f;
  }
  .container .wrapper .content .tabBox .tabBox__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #31313a;
  }
  .container .wrapper .content .tabBox .tabBox__button .buttonHr {
    width: 0%;
    border: 2px solid #31313a;
  }
  .container .wrapper .content .tabBox .tabBox__button #tab1:checked ~ #btn1,
  .container .wrapper .content .tabBox .tabBox__button #tab2:checked ~ #btn2 {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #31313a;
  }
  .container .wrapper .content .tabBox .tabBox__button label {
    background: #222227;
    border: none;
    -webkit-box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.42);
            box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.42);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    padding: 15px;
  }
  .container .wrapper .content .tabBox .tabBox__button button {
    width: 100vh;
    padding: 15px 69px;
    background: #27272f;
    border: none;
    -webkit-box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.42);
            box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.42);
  }
  .container .wrapper .content .tabBox .mainTab span,
  .container .wrapper .content .tabBox .mainTab h5 {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
  }
  .container .wrapper .content .tabBox .mainTab .mainBox {
    background-color: #27272f;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    overflow: scroll;
  }
  .container .wrapper .content .tabBox .mainTab .mainBox hr {
    border: 1px solid #31313a;
  }
  .container .wrapper .content .tabBox .mainTab .mainBox .mainTab__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px 9px;
  }
  .container .wrapper .content .tabBox .mainTab .mainBox .mainTab__item .icon__elemet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .wrapper .content .tabBox .mainTab .mainBox .mainTab__item .icon__elemet h5 {
    margin-left: 4px;
  }
  .container .wrapper .content .tabBox .mainTab .mainBox .mainTab__item .icon__elemet .info__elemet-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .wrapper .content .tabBox .mainTab .mainBox .mainTab__item .info__elemet img {
    width: 13px;
  }
  .container .wrapper .content .tabBox .mainTab .mainBox .mainTab__item .info__elemet .info__elemet-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2px 0;
  }
  .container .wrapper .content .tabBox .mainTab .mainBox .mainTab__item .info__elemet .info__elemet-item span {
    margin-right: 5px;
    margin-left: 5px;
  }
  .container .wrapper .content .tabBox .mainTab .mainBox .mainTab__item .info__elemet .info__elemet-item img {
    margin-left: 1px;
  }
  .container .wrapper .content .tabBox .mainTab .warBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 13px 9px;
    margin: 11px 0;
    background-color: #27272f;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  }
  .container .wrapper .content .tabBox .mainTab .warBox .power__count {
    font-size: 15px;
  }
  .container .wrapper .content .tabBox .mainTab .warBox .warBox__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .wrapper .content .tabBox .mainTab .warBox .warBox__item span {
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.04em;
    width: 77px;
    margin-left: 3px;
  }
  .container .wrapper .content .tabBox .mainTab .warBox button {
    padding: 6px 20px;
  }
  .container .wrapper .content .tabBox .mainTab .partBox {
    margin-bottom: 17px;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  }
  .container .wrapper .content .tabBox .mainTab .partBox .partBox-label {
    text-align: center;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.04em;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0px 0px;
  }
  .container .wrapper .content .tabBox .mainTab .partBox .partBox__panel {
    padding: 10px 9px;
    overflow: scroll;
  }
  .container .wrapper .content .tabBox .mainTab .partBox .partBox__panel .partBox__panel__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 7px 0;
  }
  .container .wrapper .content .tabBox .mainTab .partBox .partBox__panel .partBox__panel__item img {
    width: 22px;
  }
  .container .wrapper .content .tabBox .mainTab .partBox .partBox__panel .partBox__panel__item p {
    font-size: 8px;
    line-height: 11px;
    letter-spacing: 0.04em;
    margin-left: 4px;
  }
  .container .wrapper .content .tabBox .mainTab .eventBox .eventBox-label {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.04em;
    padding: 7px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0px 0px;
  }
  .container .wrapper .content .tabBox .mainTab .eventBox .eventBox__panel {
    overflow: scroll;
    padding: 14px 14px;
  }
  .container .wrapper .content .tabBox .mainTab .eventBox .eventBox__panel .eventBox__panel__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6px;
  }
  .container .wrapper .content .tabBox .mainTab .eventBox .eventBox__panel .eventBox__panel__item p {
    font-weight: normal;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.04em;
    margin-left: 19px;
  }
  .container .wrapper .content .tabBox .seconTab input {
    display: block;
    border: none;
  }
  .container .wrapper .content .tabBox .seconTab hr {
    border: 1px solid #31313a;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3px;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelMassegeBox {
    height: 70vh;
    overflow: scroll;
    padding: 13px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelMassegeBox .massage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 12px 0px;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelMassegeBox .massage .massage__box {
    margin-left: 10px;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelMassegeBox .massage .massage__box .massage__name {
    font-size: 14px;
    margin-bottom: 7px;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelMassegeBox .massage .massage__box .massage__name span {
    font-size: 14px;
    margin-right: 4px;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelMassegeBox .massage .massage__box .massage__name::after {
    content: attr(data-title);
    margin-left: 5px;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelMassegeBox .massage .massage__box .massage__text {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelInputBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #27272f;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 5px 5px;
    padding: 6px 7px;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelInputBox .chatPanelInputBox-text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-radius: 5px 0px 0px 5px;
    padding: 11px 0px 11px 11px;
    background-color: #303039;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelInputBox .chatPanelInputBox-text:focus {
    outline: 0;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelInputBox .chatPanelInputBox-button {
    border-radius: 0px 5px 5px 0px;
    padding: 11px;
  }
  .container .wrapper .footer {
    padding: 8px 8px;
  }
  .container .wrapper .footer .menu .power__item .resources__item-addPower {
    margin-left: 5px;
    padding: 6px 5px;
  }
  .container .wrapper .footer .menu .power__item .resources__item-addPower span {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
  }
  .container .wrapper .footer .menu .power__item img {
    width: 12px;
  }
  .container .wrapper .footer .menu .power__item p {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #18d04c;
  }
  .container .wrapper .footer .menu .currency {
    margin-left: 10px;
    margin-right: 9px;
  }
  .container .wrapper .footer .menu .currency .currency__box {
    list-style: none;
  }
  .container .wrapper .footer .menu .currency .currency__box p {
    padding-left: 6px;
  }
  .container .wrapper .footer .menu .currency .currency__box .cash__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 5px;
    position: relative;
  }
  .container .wrapper .footer .menu .currency .currency__box .cash__item .itemData-title:after {
    content: attr(data-title);
    display: none;
    position: absolute;
    bottom: 24px;
    color: #000000;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
  }
  .container .wrapper .footer .menu .currency .currency__box .cash__item .itemData-title:hover::after {
    display: block;
  }
  .container .wrapper .footer .menu .currency .currency__box .cash__item img {
    width: 19px;
  }
  .container .wrapper .footer .menu .currency .currency__box .cash__item p {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
  }
  .container .wrapper .footer .menu .currency .currency__box .gold__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .wrapper .footer .menu .currency .currency__box .gold__item img {
    width: 19px;
  }
  .container .wrapper .footer .menu .currency .currency__box .gold__item p {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: #cdd018;
  }
  .container .wrapper .footer .menu .otherMenu img {
    width: 30px;
  }
  .container .wrapper .footer .menu .otherMenu .menu__item {
    margin-right: 14px;
  }
  .container .wrapper .footer .menu .otherMenu .menu__profile {
    border-radius: 50%;
  }
  .container .wrapper .footer .menu .otherMenu .menu__profile a img {
    border-radius: 50%;
  }
  .container .wrapper .footer .menu .menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    border: none;
    background: none;
  }
  .container .wrapper .footer .menu .menu__button .menu__button-hr {
    width: 32px;
    border: 2px solid #747474;
    background-color: #747474;
    margin: 3px 0px;
  }
  .container .wrapper .footer .navMenu__box a label {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.04em;
  }
}

@media (max-width: 397px) {
  .container .wrapper .content .tabBox .mainTab .warBox .power__count {
    font-size: 12px;
  }
  .container .wrapper .content .tabBox .mainTab .warBox .warBox__item span {
    font-size: 11px;
    width: 67px;
  }
  .container .wrapper .footer .menu .currency .currency__box .cash__item p {
    font-size: 9px;
  }
  .container .wrapper .footer .menu .currency .currency__box .gold__item p {
    font-size: 9px;
  }
}

@media (max-width: 377px) {
  .container .wrapper .content .tabBox .mainTab .warBox .power__count {
    font-size: 10px;
  }
  .container .wrapper .content .tabBox .mainTab .warBox .warBox__item span {
    font-size: 9px;
    width: 67px;
  }
  .container .wrapper .footer .menu .power__item .resources__item-addPower {
    padding: 4px 3px;
  }
  .container .wrapper .footer .menu .currency .currency__box .cash__item img {
    width: 15px;
  }
  .container .wrapper .footer .menu .currency .currency__box .cash__item p {
    font-size: 11px;
  }
  .container .wrapper .footer .menu .currency .currency__box .gold__item img {
    width: 15px;
  }
  .container .wrapper .footer .menu .currency .currency__box .gold__item p {
    font-size: 11px;
  }
  .container .wrapper .footer .navMenu .upDownMenu__label .burgerMenu {
    width: 20px;
  }
}

@media (max-width: 353px) {
  .container .wrapper .content .tabBox .mainTab .warBox .power__count {
    font-size: 9px;
  }
  .container .wrapper .content .tabBox .mainTab .warBox .warBox__item span {
    font-size: 7px;
    width: 43px;
  }
  .container .wrapper .footer .menu .currency .currency__box .cash__item p {
    font-size: 9px;
  }
  .container .wrapper .footer .menu .currency .currency__box .gold__item p {
    font-size: 9px;
  }
  .container .wrapper .footer .navMenu .upDownMenu__label .burgerMenu {
    width: 20px;
  }
}

@media (max-width: 337px) {
  .container .wrapper .content .tabBox .mainTab .warBox .power__count {
    font-size: 9px;
  }
  .container .wrapper .content .tabBox .mainTab .warBox .warBox__item span {
    font-size: 7px;
    width: 43px;
  }
  .container .wrapper .footer .menu .currency .currency__box .cash__item p {
    font-size: 7px;
  }
  .container .wrapper .footer .menu .currency .currency__box .gold__item p {
    font-size: 7px;
  }
  .container .wrapper .footer .navMenu .upDownMenu__label .burgerMenu {
    width: 20px;
  }
}

@media (max-width: 328px) {
  .container .wrapper .content .tabBox .mainTab .warBox .power__count {
    font-size: 9px;
  }
  .container .wrapper .content .tabBox .mainTab .warBox .warBox__item span {
    font-size: 7px;
    width: 43px;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelInputBox .chatPanelInputBox-text::-webkit-input-placeholder {
    font-size: 10px;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelInputBox .chatPanelInputBox-text:-ms-input-placeholder {
    font-size: 10px;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelInputBox .chatPanelInputBox-text::-ms-input-placeholder {
    font-size: 10px;
  }
  .container .wrapper .content .tabBox .seconTab .secondTab__chat .chatPanelInputBox .chatPanelInputBox-text::placeholder {
    font-size: 10px;
  }
  .container .wrapper .footer .menu .otherMenu img {
    width: 30px;
  }
  .container .wrapper .footer .menu .power__item .resources__item-addPower {
    padding: 4px 3px;
  }
  .container .wrapper .footer .menu .currency .currency__box .cash__item img {
    width: 15px;
  }
  .container .wrapper .footer .menu .currency .currency__box .cash__item p {
    font-size: 6px;
  }
  .container .wrapper .footer .menu .currency .currency__box .gold__item img {
    width: 15px;
  }
  .container .wrapper .footer .menu .currency .currency__box .gold__item p {
    font-size: 6px;
  }
  .container .wrapper .footer .navMenu .upDownMenu__label .burgerMenu {
    width: 20px;
  }
}
/*# sourceMappingURL=media.css.map */