$font_size_mb: 7px;
$font_size_tablet: 15px;

// background-color
$main_bg: #1c1b23;
$sec_bg: #27272f;
$hr_bg: #31313a;
$button_bg: #f36920;

@media (max-width: 425px) {
    a,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    span {
        font-style: normal;
        font-weight: bold;
        font-size: 7px;
        line-height: 10px;
        letter-spacing: 0.04em;
    }

    #partBtn,
    #eventBtn {
        display: inline-block;
        width: 100%;
        padding: 15px 0px;
    }

    #partBoxId,
    #eventBoxId {
        height: 180px;
        transition: 1s ease;
    }

    .container {
        width: 100%;
        .wrapper {
            .content {
                background-color: $sec_bg;
                .tabBox {
                    .tabBox__button {
                        display: flex;
                        background: #31313a;

                        .buttonHr {
                            width: 0%;
                            border: 2px solid #31313a;
                        }

                        #tab1:checked ~ #btn1,
                        #tab2:checked ~ #btn2 {
                            box-shadow: none;
                            background: $hr_bg;
                        }

                        label {
                            background: #222227;
                            border: none;
                            box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.42);
                            flex-grow: 1;
                            text-align: center;
                            padding: 15px;
                        }

                        button {
                            width: 100vh;
                            padding: 15px 69px;
                            background: #27272f;
                            border: none;
                            box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.42);
                        }
                    }
                    .mainTab {
                        span,
                        h5 {
                            font-size: 12px;
                            line-height: 15px;
                            letter-spacing: 0.04em;
                        }
                        .mainBox {
                            background-color: $sec_bg;
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
                            overflow: scroll;
                            hr {
                                border: 1px solid $hr_bg;
                            }
                            .mainTab__item {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 4px 9px;
                                .icon__elemet {
                                    display: flex;
                                    align-items: center;
                                    h5 {
                                        margin-left: 4px;
                                    }
                                    .info__elemet-item {
                                        display: flex;
                                    }
                                }
                                .info__elemet {
                                    img {
                                        width: 13px;
                                    }
                                    .info__elemet-item {
                                        display: flex;
                                        justify-content: flex-end;
                                        align-items: center;
                                        padding: 2px 0;
                                        span {
                                            margin-right: 5px;
                                            margin-left: 5px;
                                        }
                                        img {
                                            margin-left: 1px;
                                        }
                                    }
                                }
                            }
                        }
                        .warBox {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 13px 9px;
                            margin: 11px 0;
                            background-color: $sec_bg;
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
                            .power__count {
                                font-size: 15px;
                            }
                            .warBox__item {
                                display: flex;
                                align-items: center;
                                span {
                                    font-size: 9px;
                                    line-height: 12px;
                                    letter-spacing: 0.04em;
                                    width: 77px;
                                    margin-left: 3px;
                                }
                            }
                            button {
                                padding: 6px 20px;
                            }
                        }
                        .partBox {
                            margin-bottom: 17px;
                            box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
                            .partBox-label {
                                text-align: center;
                                font-weight: 600;
                                font-size: 10px;
                                line-height: 14px;
                                letter-spacing: 0.04em;
                                padding: 5px;
                                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
                                border-radius: 5px 5px 0px 0px;
                            }
                            .partBox__panel {
                                padding: 10px 9px;
                                overflow: scroll;
                                .partBox__panel__item {
                                    display: flex;
                                    align-items: center;
                                    margin: 7px 0;
                                    img {
                                        width: 22px;
                                    }
                                    p {
                                        font-size: 8px;
                                        line-height: 11px;
                                        letter-spacing: 0.04em;
                                        margin-left: 4px;
                                    }
                                }
                            }
                        }
                        .eventBox {
                            .eventBox-label {
                                font-weight: 600;
                                font-size: 10px;
                                line-height: 14px;
                                letter-spacing: 0.04em;
                                padding: 7px;
                                text-align: center;
                                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
                                border-radius: 5px 5px 0px 0px;
                            }
                            .eventBox__panel {
                                overflow: scroll;
                                padding: 14px 14px;
                                .eventBox__panel__item {
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 6px;
                                    p {
                                        font-weight: normal;
                                        font-size: 9px;
                                        line-height: 12px;
                                        letter-spacing: 0.04em;
                                        margin-left: 19px;
                                    }
                                }
                            }
                        }
                    }
                    .seconTab {
                        input {
                            display: block;
                            border: none;
                        }
                        hr {
                            border: 1px solid #31313a;
                        }
                        .secondTab__chat {
                            display: flex;
                            flex-direction: column;
                            margin-top: 3px;

                            .chatPanelMassegeBox {
                                height: 70vh;
                                overflow: scroll;
                                padding: 13px;
                                flex-grow: 1;
                                .massage {
                                    display: flex;
                                    align-items: flex-start;
                                    margin: 12px 0px;
                                    .massage__box {
                                        margin-left: 10px;
                                        .massage__name {
                                            font-size: 14px;
                                            margin-bottom: 7px;
                                            span {
                                                font-size: 14px;
                                                margin-right: 4px;
                                            }
                                            &::after {
                                                content: attr(data-title);
                                                margin-left: 5px;
                                            }
                                        }
                                        .massage__text {
                                            font-size: 14px;
                                            line-height: 17px;
                                            letter-spacing: 0.04em;
                                        }
                                    }
                                }
                            }

                            .chatPanelInputBox {
                                display: flex;
                                background: #27272f;
                                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
                                border-radius: 0px 0px 5px 5px;
                                padding: 6px 7px;

                                .chatPanelInputBox-text {
                                    flex-grow: 1;
                                    border-radius: 5px 0px 0px 5px;
                                    padding: 11px 0px 11px 11px;
                                    background-color: #303039;
                                    &:focus {
                                        outline: 0;
                                    }
                                }
                                .chatPanelInputBox-button {
                                    border-radius: 0px 5px 5px 0px;
                                    padding: 11px;
                                }
                            }
                        }
                    }
                }
            }
            .footer {
                padding: 8px 8px;
                .menu {
                    .power__item {
                        .resources__item-addPower {
                            margin-left: 5px;
                            padding: 6px 5px;
                            span {
                                font-size: 14px;
                                line-height: 20px;
                                letter-spacing: 0.04em;
                            }
                        }
                        img {
                            width: 12px;
                        }
                        p {
                            font-size: 13px;
                            line-height: 18px;
                            letter-spacing: 0.04em;
                            color: #18d04c;
                        }
                    }
                    .currency {
                        margin-left: 10px;
                        margin-right: 9px;
                        .currency__box {
                            list-style: none;
                            p {
                                padding-left: 6px;
                            }

                            .cash__item {
                                display: flex;
                                align-items: center;
                                padding-bottom: 5px;
                                position: relative;
                                .itemData-title:after {
                                    content: attr(data-title);
                                    display: none;
                                    position: absolute;
                                    bottom: 24px;
                                    color: #000000;
                                    background-color: white;
                                    // width: 103px;
                                    // left: 0px;
                                    border-radius: 5px;
                                    padding: 3px;
                                }
                                .itemData-title:hover::after {
                                    display: block;
                                }
                                img {
                                    width: 19px;
                                }

                                p {
                                    font-size: 12px;
                                    line-height: 15px;
                                    letter-spacing: 0.04em;
                                }
                            }
                            .gold__item {
                                display: flex;
                                align-items: center;
                                img {
                                    width: 19px;
                                }
                                p {
                                    font-size: 12px;
                                    line-height: 15px;
                                    letter-spacing: 0.04em;
                                    color: #cdd018;
                                }
                            }
                        }
                    }
                    .otherMenu {
                        img {
                            width: 30px;
                        }
                        .menu__item {
                            margin-right: 14px;
                        }

                        .menu__profile {
                            // margin-right: 12px;
                            border-radius: 50%;
                            a {
                                img {
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                    .menu__button {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 30px;
                        border: none;
                        background: none;
                        .menu__button-hr {
                            width: 32px;
                            border: 2px solid #747474;
                            background-color: #747474;
                            margin: 3px 0px;
                        }
                    }
                }
                .navMenu__box {
                    a {
                        label {
                            font-size: 11px;
                            line-height: 15px;
                            letter-spacing: 0.04em;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 397px) {
    .container {
        .wrapper {
            .content {
                .tabBox {
                    .mainTab {
                        .warBox {
                            .power__count {
                                font-size: 12px;
                            }
                            .warBox__item {
                                span {
                                    font-size: 11px;
                                    width: 67px;
                                }
                            }
                        }
                    }
                }
            }
            .footer {
                .menu {
                    .currency {
                        .currency__box {
                            .cash__item {
                                p {
                                    font-size: 9px;
                                }
                            }
                            .gold__item {
                                p {
                                    font-size: 9px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 377px) {
    .container {
        .wrapper {
            .content {
                .tabBox {
                    .mainTab {
                        .warBox {
                            .power__count {
                                font-size: 10px;
                            }
                            .warBox__item {
                                span {
                                    font-size: 9px;
                                    width: 67px;
                                }
                            }
                        }
                    }
                }
            }
            .footer {
                .menu {
                    .otherMenu {
                        img {
                        }
                    }

                    .power__item {
                        .resources__item-addPower {
                            padding: 4px 3px;
                        }
                    }

                    .currency {
                        .currency__box {
                            .cash__item {
                                img {
                                    width: 15px;
                                }
                                p {
                                    font-size: 11px;
                                }
                            }
                            .gold__item {
                                img {
                                    width: 15px;
                                }
                                p {
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
                .navMenu {
                    .upDownMenu__label {
                        .burgerMenu {
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 353px) {
    .container {
        .wrapper {
            .content {
                .tabBox {
                    .mainTab {
                        .warBox {
                            .power__count {
                                font-size: 9px;
                            }
                            .warBox__item {
                                span {
                                    font-size: 7px;
                                    width: 43px;
                                }
                            }
                        }
                    }
                }
            }
            .footer {
                .menu {
                    .otherMenu {
                    }
                    .power__item {
                    }
                    .currency {
                        .currency__box {
                            .cash__item {
                                p {
                                    font-size: 9px;
                                }
                            }
                            .gold__item {
                                p {
                                    font-size: 9px;
                                }
                            }
                        }
                    }
                }
                .navMenu {
                    .upDownMenu__label {
                        .burgerMenu {
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 337px) {
    .container {
        .wrapper {
            .content {
                .tabBox {
                    .mainTab {
                        .warBox {
                            .power__count {
                                font-size: 9px;
                            }
                            .warBox__item {
                                span {
                                    font-size: 7px;
                                    width: 43px;
                                }
                            }
                        }
                    }
                }
            }
            .footer {
                .menu {
                    .otherMenu {
                    }
                    .power__item {
                    }
                    .currency {
                        .currency__box {
                            .cash__item {
                                p {
                                    font-size: 7px;
                                }
                            }
                            .gold__item {
                                p {
                                    font-size: 7px;
                                }
                            }
                        }
                    }
                }
                .navMenu {
                    .upDownMenu__label {
                        .burgerMenu {
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 328px) {
    .container {
        .wrapper {
            .content {
                .tabBox {
                    .mainTab {
                        .warBox {
                            .power__count {
                                font-size: 9px;
                            }
                            .warBox__item {
                                span {
                                    font-size: 7px;
                                    width: 43px;
                                }
                            }
                        }
                    }
                    .seconTab {
                        .secondTab__chat {
                            .chatPanelInputBox {
                                .chatPanelInputBox-text {
                                    &::placeholder {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .footer {
                .menu {
                    .otherMenu {
                        .menu__profile {
                        }
                        img {
                            width: 30px;
                        }
                    }

                    .power__item {
                        .resources__item-addPower {
                            padding: 4px 3px;
                        }
                    }

                    .currency {
                        .currency__box {
                            .cash__item {
                                img {
                                    width: 15px;
                                }
                                p {
                                    font-size: 6px;
                                }
                            }
                            .gold__item {
                                img {
                                    width: 15px;
                                }
                                p {
                                    font-size: 6px;
                                }
                            }
                        }
                    }
                }
                .navMenu {
                    .upDownMenu__label {
                        .burgerMenu {
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}
