{% load get_attr %}
{% load get_mod %}
{% load get_sub %}
{% load get_sum %}
{% load dict_key %}
{% load static %}
{% block for_scripts_and_css %}
{% load l10n %}{% load i18n %}
<script src='{% static "js/storage.js" %}?{{ csrf_token }}'></script>
{% endblock %}
<script>
var csrftoken = '{{ csrf_token }}';
</script>

<div class="row" style="margin-bottom: 1%">
    <div class="col-xs-12 col-sm-12 col-md-12" id="trade_tab">
    </div>
</div>

<div class="row">
<div class="col-xs-2 col-sm-2 col-md-2" id="cash_transfer" onclick="open_trade_line(this.id)" style="cursor: pointer; margin-top: 1%; border: 4px double black;">
    {{ storage.valut|dict_key:'cash' }}: <div id="storage_cash" {% localize off %}data-text="{{ storage.cash }}"{% endlocalize %} >{{ storage|get_attr:'cash' }}</div>
</div>
</div>


{% for mineral in storage.minerals %}
{% if forloop.counter|get_sub:1|get_mod:3 == 0 %}
<div class="row">
{% endif %}
<div class="col-xs-2 col-sm-2 col-md-2" style="margin-top: 1%; border: 4px double black;">
    {{ storage.minerals|dict_key:mineral }}:
    {{ storage|get_attr:mineral }}
    {% with cap_name=mineral|get_sum:'_cap' %}
        / {{ storage|get_attr:cap_name }}
    {% endwith %}
</div>
{% if forloop.last or forloop.counter|get_mod:3 == 0 %}
</div>
{% endif %}
{% endfor %}


{% for oil in storage.oils %}
{% if forloop.counter|get_sub:1|get_mod:3 == 0 %}
<div class="row">
{% endif %}
<div class="col-xs-2 col-sm-2 col-md-2" style="margin-top: 1%; border: 4px double black;">
    {{ storage.oils|dict_key:oil }}:
    {{ storage|get_attr:oil }}
    {% with cap_name=oil|get_sum:'_cap' %}
        / {{ storage|get_attr:cap_name }}
    {% endwith %}
</div>
{% if forloop.last or forloop.counter|get_mod:3 == 0 %}
</div>
{% endif %}
{% endfor %}


{% for material in storage.materials %}
{% if forloop.counter|get_sub:1|get_mod:3 == 0 %}
<div class="row">
{% endif %}
<div class="col-xs-2 col-sm-2 col-md-2" style="margin-top: 1%; border: 4px double black;">
    {{ storage.materials|dict_key:material }}:
    {{ storage|get_attr:material }}
    {% with cap_name=material|get_sum:'_cap' %}
        / {{ storage|get_attr:cap_name }}
    {% endwith %}
</div>
{% if forloop.last or forloop.counter|get_mod:3 == 0 %}
</div>
{% endif %}
{% endfor %}


{% for unit in storage.units %}
{% if forloop.counter|get_sub:1|get_mod:3 == 0 %}
<div class="row">
{% endif %}
<div class="col-xs-2 col-sm-2 col-md-2" style="margin-top: 1%; border: 4px double black;">
    {{ storage.units|dict_key:unit }}:
    {{ storage|get_attr:unit }}
    {% with cap_name=unit|get_sum:'_cap' %}
        / {{ storage|get_attr:cap_name }}
    {% endwith %}
</div>
{% if forloop.last or forloop.counter|get_mod:3 == 0 %}
</div>
{% endif %}
{% endfor %}
