{% load get_attr %}
{% load get_mod %}
{% load get_sub %}
{% load get_sum %}
{% load dict_key %}
{% load has_key %}
{% load get_proc %}
{% load static %}
{% block for_scripts_and_css %}
{% load l10n %}{% load i18n %}
<script src='{% static "js/storage.js" %}?{{ csrf_token }}'></script>
{% endblock %}
<script>
var csrftoken = '{{ csrf_token }}';
</script>

<div class="row" style="margin-bottom: 1%">
    <div class="col-xs-12 col-sm-12 col-md-12" id="trade_tab">
    </div>
</div>


<div class="row" style="margin-bottom: 2%">
    <div class="col-xs-2 col-sm-2 col-md-2">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8" align="center">
        <button type="button" class="btn btn-primary" id="cash_transfer" onclick="open_trade_line(this.id)" style="width: 100%">
          {{ storage.valut|dict_key:'cash' }} <span class="badge badge-light" id="storage_cash" {% localize off %}data-text="{{ storage.cash }}"{% endlocalize %}>{{ storage|get_attr:'cash' }}</span>
        </button>
    </div>
</div>

{% for group in storage|get_attr:'types' %}
    {% for good in storage|get_attr:group %}
<div class="row">
    {% with cap_name=good|get_sum:'_cap' %}
    <div class="col-xs-2 col-sm-2 col-md-2">
        {{ storage|get_attr:group|dict_key:good }}:
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8">
        <div class="progress" align="right">
            {% with cap_val=storage|get_attr:cap_name %}
                {% with good_val=storage|get_attr:good %}
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ cap_val|get_proc:good_val }}%">{% localize off %}{{ storage|get_attr:good }}{% endlocalize %}</div>
                {% endwith %}
                {% if locks|has_key:good %}
                    {% with lock_val=locks|dict_key:good %}
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{ cap_val|get_proc:lock_val }}%; background-color: #DC3545">{% localize off %}{{ locks|dict_key:good }}{% endlocalize %}</div>
                    {% endwith %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
            / {{ storage|get_attr:cap_name }}
    </div>
     {% endwith %}
</div>
    {% endfor %}
{% endfor %}

