{% load get_mul %}
{% load dict_key %}
{% load static %}
{% block for_scripts_and_css %}
{% load l10n %}{% load i18n %}
<script src='{% static "js/vault.js" %}?{{ csrf_token }}'></script>
{% endblock %}
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6" align="center" style="margin-top: 1%; border-right: 4px double black;">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6" align="right">Энергетики:</div>
            <div class="col-xs-6 col-sm-6 col-md-6" align="left" id="bottles">{{ player.bottles }}</div>
        </div>
        <div class="row" style="margin-top: 1%;">
            <form method="POST" id="produce_energy_form" enctype="multipart/form-data" class="post-form">
                {% csrf_token %}
                <div class="row">
                    создать
                    <input type="number" {% localize off %}min="{% if player.gold == 0 %}0{% else %}10{% endif %}" max="{{ player.gold|get_mul:10 }}"{% endlocalize %} step="10" name="energy_field" id="energy_field">
                </div>
                <div class="row" style="margin-top: 2%;" >
                    <div class="col-xs-2 col-sm-2 col-md-2" id="energy_range_min">{% if player.gold == 0 %}0{% else %}10{% endif %}</div>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <input type="range" id="energy_range" {% localize off %}min="{% if player.gold == 0 %}0{% else %}10{% endif %}" max="{{ player.gold|get_mul:10 }}"{% endlocalize %} step="10">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2" id="energy_range_max">{{ player.gold|get_mul:10 }}</div>
                </div>
                <div class="row" style="margin-top: 2%;" >
                    <div class="col-xs-6 col-sm-6 col-md-6" align="right">
                        <b>
                            <font color="gold">-</font>
                            <font color="gold" id="gold_cost">100</font>
                            <font color="gold">G</font>
                        </b>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                        <button type="submit" enctype="multipart/form-data" class="save btn btn-default">Создать</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6" align="center" style="margin-top: 1%">
        Wild Pass
    </div>
</div>