{% extends 'player/redesign/header.html' %}
{% load static %}
{% load dict_key %}
{% load get_attr %}
{% load get_len %}
{% load get_sum %}
{% load l10n %}{% load i18n %}
{% load redesign.template_svg.nopic %}
{% load redesign.template_svg.nopic_list %}
{% load get_key_list %}

{% block content %}
<style>
.with_value {
    color: var(--c10two);
    cursor: pointer;
    border-bottom: 1px dashed var(--c10two);
}
</style>
  <section class="trading">
    <!--Заголовок страницы-->
		<h1 class="trading__title ct__page-title">{% trans 'Торговля' context "trading" %}</h1>
    <div class="trading__flex-wrapper">
			<div class="trading__left-col">
				<!--Табы-->
				<div class="trading__tabs ct__top-tabs">
                <!--Кнопка "госзакупки"-->
<!--		      <button class="ct__top-tab ct__top-tab1 ct__mid-btn" onclick="openSearchSettingsModal()" style="cursor: pointer;">-->
		      <button class="ct__top-tab ct__top-tab1 ct__mid-btn" id="srch-btn" onclick="openSearchSettingsModal()" style="cursor: pointer;">
		        <svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
		          <path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="url(#paint0_linear_6047_401)"/>
		          <defs>
		          <linearGradient id="paint0_linear_6047_401" x1="0" y1="0" x2="144" y2="30" gradientUnits="userSpaceOnUse">
		          <stop stop-color="var(--c30)"/>
		          <stop offset="1" stop-color="var(--c30)" stop-opacity="0"/>
		          </linearGradient>
		          </defs>
		        </svg>
		        <span>{% trans 'фильтры' context "trading" %}</span>
		      </button>
              <!--Кнопка "создать"-->
		      <button class="ct__top-tab ct__top-tab2 ct__mid-btn" onclick="toggleActiveClass('search-create')" style="cursor: pointer;">
<!--		      <button class="ct__top-tab ct__top-tab2 ct__mid-btn" onclick="window.location.href = '/new_offer'" style="cursor: pointer;">-->
		        <svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
		          <path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="url(#paint0_linear_64047_401)"/>
		          <defs>
		          <linearGradient id="paint0_linear_64047_401" x1="0" y1="0" x2="144" y2="30" gradientUnits="userSpaceOnUse">
		          <stop stop-color="var(--c30)"/>
		          <stop offset="1" stop-color="var(--c30)" stop-opacity="0"/>
		          </linearGradient>
		          </defs>
		        </svg>
		        <span>{% trans 'создать' context "trading" %}</span>
		      </button>
		    </div>
		    <!--Кнопка "настройки поиска"-->
		    <button class="trading__search-open" onclick="window.location.href = '/auctions'" style="cursor: pointer;">
		      <svg width="312" height="30" viewBox="0 0 312 30" fill="none" xmlns="http://www.w3.org/2000/svg">
		        <path d="M0 5.76923L12.5 0H312V23.0769L297 30H0V5.76923Z" fill="url(#paint0_linear_607_4044)"/>
		        <defs>
		        <linearGradient id="paint0_linear_607_4044" x1="0" y1="0" x2="270.439" y2="122.073" gradientUnits="userSpaceOnUse">
		        <stop stop-color="var(--c30)"/>
		        <stop offset="1" stop-color="var(--c30)" stop-opacity="0"/>
		        </linearGradient>
		        </defs>
		      </svg>
		      <span>{% trans 'государственные закупки' context "trading" %}</span>
		    </button>
				<!--Активные фильтры-->
				<div class="trading__actveFilters">
					<h3 id='filter-cats-header' style="display: none">{% trans 'Выбранная категория' context "trading" %}:</h3>
					<ul id='filter-cats'></ul>
					<h3 id='filter-good-header' style="display: none">{% trans 'Выбранный товар' context "trading" %}:</h3>
					<ul id='filter-good'></ul>
				</div>
			</div>
	    <!--Результаты поиска торговли-->
	    <div class="trading__wrapper-overflow">
	      <p class="trading__no-filters" id="offers_help">{% trans 'Выберите один или несколько критериев в фильтрах' context "trading" %}</p>
	      <p class="trading__no-filters" id="offers_none" style="display: none">{% trans 'Ничего не найдено' context "trading" %}</p>
	      <table class="ct__js-table" style="display: none;" id="lines">
            <tbody>
                <tr id="offers_header">
                    <td class="j-t-one">Товар</td>
                    <td class="j-t-two ct__js-tablePC" style="width: max-content;">{% trans 'регион' context "trading" %}</td>
                    <td class="j-t-three" style="text-align: center;">{% trans 'количество' context "trading" %}</td>
                    <td class="j-t-four" style="text-align: center;">{% trans 'цена' context "trading" %}</td>
                    <td class="j-t-five" style="text-align: center;">{% trans 'продавец' context "trading" %}</td>
                    <td class="j-t-six ct__js-tablePC" style="text-align: center;"></td>
                </tr>

                <tr id="dummy_line" style="display: none; cursor: pointer" onclick="toggleActiveClass('search-buy', event)">
                    <td class="j-t-one" style="text-align: left;"></td>
                    <td class="j-t-two ct__js-tablePC">
                        <img class="offer_reg" src="" alt="">
                    </td>
                    <td class="j-t-three" style="text-align: right;"></td>
                    <td class="j-t-four" style="text-align: center;"></td>
                    <td class="j-t-five" style="text-align: center;">
                      <img class="offer_own" src="">
                      {% nopic_list player 'offer_noimg' 'display: none' %}
                     </td>
                    <td class="j-t-six ct__js-tablePC"  style="text-align: center;">
                    </td>
                </tr>
			</tbody>
            </table>
            <script>
                var last_item = 'offers_header';
            </script>
	    </div>
    </div>
	</section>

  <!--МОДАЛЬНЫЕ НАСТРОЙКИ ПОИСКА-->
  <form class="search-modal movable custom-scroll" id="offers_search_form" role="form">
    <div class="search-modal__wrapper">
      <!--Кнопка закрытия модалки-->
      <button class="m-sett__close ct__square-mid-btn" id="closeSearch">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"/><path d="M4 4L26 26M4 26L26 4" stroke="var(--c60)" stroke-width="3"/>
        </svg>
      </button>
      <!--Заголовок-->
      <h2>{% trans 'Настройки поиска' context "trading" %}</h2>
      <!--Выбор действия-->
      <h3>{% trans 'тип предложения' context "trading" %}:</h3>
      <label class="search-modal__label ct__wide-modal-label-select">
        <select name="trade_actions" id="trade_actions">
			<option selected value='sell'>{% trans 'Продажа' context "trading" %}</option>
			<option value='buy'>{% trans 'Покупка' context "trading" %}</option>
        </select>
		<svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
		</svg>
      </label>
      <!--Выбор источника-->
      <h3>{% trans 'создатель' context "trading" %}:</h3>
      <label class="search-modal__label ct__wide-modal-label-select">
        <select name="trade_owner" id="trade_owner">
            <option selected value='all'>{% trans 'Все' context "trading" %}</option>
            {% if player.party %}
            <option value='party'>{% trans 'Партия' context "trading" %}</option>
            {% endif %}
            <option value='mine'>{% trans 'Мои' context "trading" %}</option>
        </select>
        <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
        </svg>
      </label>
      <!--Выбор категорий-->
      <h3>{% trans 'выбор категории' context "trading" %}:</h3>
      <label class="search-modal__label ct__wide-modal-label-select">
        <select name="trade_groups" id="trade_groups">
            <option id="group_default" value='default' disabled selected>{% trans 'выберите категорию' context "trading" %}</option>
            {% for group in goods_by_types|get_key_list %}
            <option value='{{ group }}'>{{ types_texts|dict_key:group }}</option>
            {% endfor %}
            <option value='premium'>Wild Pass</option>
        </select>
        <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
        </svg>
      </label>
      <!--Выбор товара-->
      <h3>{% trans 'товар' context "trading" %}:</h3>
      <label class="search-modal__label ct__wide-modal-label-select">
        <select id="trade_goods">
          <option id="good_default" value='null' selected>{% trans 'выберите товар' context "trading" %}</option>
            {% for good in goods %}
            <option id="good_{% localize off %}{{ good.pk }}{% endlocalize %}" value='{% localize off %}{{ good.pk }}{% endlocalize %}' style="display: none">{{ good.name }}</option>
            {% endfor %}
            <option id="good_-1" value='-1' style="display: none">Wild Pass</option>
        </select>
        <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
        </svg>
      </label>
      <!--Кнопка ПОИСК-->
      <button class="search-modal__confirm-btn ct__mid-btn" id="searchBtn" disabled>
        <svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_259_319" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
            <path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="var(--c10two)"/>
          </mask>
          <g mask="url(#mask0_259_319)">
            <path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
            <path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
            <path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
            <path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
          </g>
        </svg>
        <span>{% trans 'поиск' context "trading" %}</span>
      </button>
      <!--конец блока-->
    </div>
  </form>

  <!--МОДАЛЬНЫЕ создание товара-->
  <section class="search-modal movable custom-scroll" id="search-create">
    <form id="new_offer_form" role="form" class="search-modal__wrapper">
      <!--Кнопка закрытия модалки-->
      <button class="m-sett__close ct__square-mid-btn" id="closeCreate">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"/><path d="M4 4L26 26M4 26L26 4" stroke="var(--c60)" stroke-width="3"/>
        </svg>
      </button>
      <!--Заголовок-->
      <h2>{% trans 'Новое торговое предложение' context "trading_new" %}</h2>
			<!--текст-->
			<h4>{% trans 'Доступно' context "trading_new" %}:
                <span id="free_offers">{% if free_offers > 0 %}{{ free_offers }}{% else %}0{% endif %}</span>
                <span>/ {{ total_offers }}</span>
                <br>
				(+5 за каждый Склад)</h4>
      <!--Выбор действия-->
      <h3>{% trans 'тип предложения' context "trading" %}:</h3>
      <label class="search-modal__label ct__wide-modal-label-select">
        <select name="action" id="action">
			<option selected value='sell'>{% trans 'Продажа' context "trading" %}</option>
			<option value='buy'>{% trans 'Покупка' context "trading" %}</option>
        </select>
        <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
        </svg>
      </label>
      <!--Выбор склада-->
        <!--Выбор склада-->
        <div class="ct__selectWithImage search-modal__selectWithImage">
            {% for storage in storages %}
            {% if forloop.counter0 == 0 %}
            <div class="ct__selectWithImage-selected" id="create_default_storage" data-value="{% localize off %}{{ storage.pk }}{% endlocalize %}">
                <img id="create_default_img" src="static/img/regions/{{ storage.region.on_map_id }}.png">
                <div class="ct__selectWithImage-firstText">
                    <span id="create_default_region">{% trans storage.region.region_name context "regions_list" %}</span>
                    <svg class="ct__selectWithImage-arrow" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
                    </svg>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="ct__selectWithImage-content custom-scroll custom-scroll--alt">
                {% for storage in storages %}
                <div id="create_storage_{% localize off %}{{ storage.pk }}{% endlocalize %}" {% if forloop.counter0 == 0 %}class="first_storage"{% endif %} data-value="{% localize off %}{{ storage.pk }}{% endlocalize %}">
                    <img class="offer_dummy_img" src="static/img/regions/{{ storage.region.on_map_id }}.png">
                    <span class="offer_dummy_region">{% trans storage.region.region_name context "regions_list" %}</span>
                </div>
                {% endfor %}
            </div>
        </div>
      <!--Выбор категорий-->
      <h3>{% trans 'выбор категории' context "trading" %}:</h3>
      <label class="search-modal__label ct__wide-modal-label-select">
        <select id="group">
            <option id="create_group_default" value='default' disabled selected>{% trans 'выберите категорию' context "trading" %}</option>
            {% for group in goods_by_types|get_key_list %}
            <option value='{{ group }}'>{{ storage_cl|get_attr:'types'|dict_key:group }}</option>
            {% endfor %}
            <option value='premium'>Wild Pass</option>
        </select>
        <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
        </svg>
      </label>
      <!--Выбор товара-->
      <h3>{% trans 'товар' context "trading" %}:</h3>
      <label class="search-modal__label ct__wide-modal-label-select">
        <select disabled name="good" id="good">
          <option id="create_good_default" value='default' disabled selected>{% trans 'выберите товар' context "trading" %}</option>
            {% for good in goods %}
            <option id="create_good_{% localize off %}{{ good.pk }}{% endlocalize %}" value='{% localize off %}{{ good.pk }}{% endlocalize %}' style="display: none">{{ good.name }}</option>
            {% endfor %}
            <option id="create_good_-1" value='-1' style="display: none">Wild Pass</option>
        </select>
        <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
        </svg>
      </label>
        <!--количество-->
        <div class="search-modal__withInput search-modal__withInput--margin">
            <span class="search-modal__withInput-text">количество</span>
            <input id="count" name="count" type="number" class="search-modal__withInput-input" min="0" value="0">
            <div id="stocks" style="display: inline-block">
                <span class="search-modal__withInput-text">/</span>
                <span class="search-modal__withInput-text" id="stocks_value">?</span>
            </div>
        </div>
        <!--цена-->
        <div class="search-modal__withInput search-modal__withInput--margin">
            <span class="search-modal__withInput-text">цена</span>
            <input id="price" name="price" type="number" class="search-modal__withInput-input" value="0">
        </div>
        <div class="search-modal__withInput search-modal__withInput--margin" id="buy_row" style="display: none">
            <span class="search-modal__withInput-text">{% trans 'Будет заблокировано' context "trading_new" %}</span>
            <span class="search-modal__withInput-text" id="cash_to_lock">$0</span>
        </div>
      <!--Кнопка ПОИСК-->
      <button class="search-modal__confirm-btn ct__mid-btn" disabled id="accept">
        <svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_259_319" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
            <path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="var(--c10two)"/>
          </mask>
          <g mask="url(#mask0_259_319)">
            <path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
            <path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
            <path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
            <path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
          </g>
        </svg>
        <span>{% trans 'создать' context "trading" %}</span>
      </button>
      <!--конец блока-->
    </form>
  </section>

  <!--МОДАЛЬНая покупка-->
  <section class="search-modal movableLeft custom-scroll" id="search-buy">
    <div class="search-modal__wrapper search-modal__wrapper--buy">
      <!--Кнопка закрытия модалки-->
      <button class="m-sett__close ct__square-mid-btn" onclick="toggleActiveClass('search-buy')">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"/><path d="M4 4L26 26M4 26L26 4" stroke="var(--c60)" stroke-width="3"/>
        </svg>
      </button>
      <!--Заголовок-->
      <h2>
				<span id="offer_header" style="color: inherit;">{% trans 'покупка' context "trading" %}</span>  <br> <span id="offer_good">Орбитальные орудия</span>
			</h2>
			<!--владелец-->
			<div class="search-modal__withImg">
				<span class="search-modal__withImg-left">{% trans 'владелец' context "trading" %}</span>
				<div class="search-modal__withImg-right">
					<img class="search-modal__withImg-pic search-modal__withImg-img" src="" alt="">
                    {% nopic player 'search-modal__withImg-svg search-modal__withImg-img' 'display: none' %}
                    <span class="search-modal__withImg-text" id="offer_owner">Demiurge</span>
				</div>
			</div>
			<!--цена-->
			<div class="search-modal__twoText">
				<span class="search-modal__twoText-left">{% trans 'цена' context "trading" %}</span>
				<span class="search-modal__twoText-right" id="offer_price">$400 000</span>
			</div>
			<!--регион-->
			<div class="search-modal__withImg">
				<span class="search-modal__withImg-left">{% trans 'регион' context "trading" %}</span>
				<div class="search-modal__withImg-right">
					<img class="search-modal__withImg-img" src="" id="region_img">
					<span class="search-modal__withImg-text" id="offer_region">Брянская область</span>
				</div>
			</div>
			<!--количество-->
			<div class="search-modal__withInput">
				<span class="search-modal__withInput-text">{% trans 'количество' context "trading" %}</span>
				<input type="number" class="search-modal__withInput-input" id="offer_count">
			</div>
			<!--Выбор склада-->
            <div class="ct__selectWithImage search-modal__selectWithImage">
                {% for storage in storages %}
                {% if forloop.counter0 == 0 %}
                <div class="ct__selectWithImage-selected" id="offer_default_storage" data-value="{% localize off %}{{ storage.pk }}{% endlocalize %}">
                    <img id="offer_default_img" src="static/img/regions/{{ storage.region.on_map_id }}.png">
                    <div class="ct__selectWithImage-firstText">
                        <span id="offer_default_region">{% trans storage.region.region_name context "regions_list" %}</span>
                        <svg class="ct__selectWithImage-arrow" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
                        </svg>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="ct__selectWithImage-content custom-scroll custom-scroll--alt">
                    {% for storage in storages %}
                    <div id="storage_{% localize off %}{{ storage.pk }}{% endlocalize %}" {% if forloop.counter0 == 0 %}class="first_storage"{% endif %} data-value="{% localize off %}{{ storage.pk }}{% endlocalize %}">
                        <img class="offer_dummy_img" src="static/img/regions/{{ storage.region.on_map_id }}.png">
                        <span class="offer_dummy_region">{% trans storage.region.region_name context "regions_list" %}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
			<!--стоимость-->
			<div class="search-modal__twoText">
				<span class="search-modal__twoText-left">{% trans 'стоимость' context "trading" %}</span>
				<span class="search-modal__twoText-right" id="offer_sum">$400 000</span>
			</div>
			<!--доставка-->
			<div class="search-modal__twoText">
				<span class="search-modal__twoText-left">{% trans 'доставка' context "trading" %}</span>
				<span class="search-modal__twoText-right" id="offer_delivery">$100 000</span>
			</div>
			<!--разделитель-->
			<div class="party__mmid-line"></div>
			<!--итого-->
			<div class="search-modal__twoText search-modal__twoText--colored">
				<span class="search-modal__twoText-left">{% trans 'итого' context "trading" %}</span>
				<span class="search-modal__twoText-right" id="offer_total"></span>
			</div>
      <!--Кнопка ПОИСК-->
      <button class="search-modal__confirm-btn ct__mid-btn" onclick="confirm_offer()">
        <svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_259_319" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
            <path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="var(--c10two)"/>
          </mask>
          <g mask="url(#mask0_259_319)">
            <path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
            <path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
            <path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
            <path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
          </g>
        </svg>
        <span id="offer_action">{% trans 'купить' context "trading" %}</span>
      </button>
      <!--конец блока-->
    </div>
  </section>
{% endblock %}

{% block for_scripts_and_css %}
<style>
.search-modal__confirm-btn:disabled {
  filter: grayscale(1);
  cursor: auto;
}
</style>
<script>
    var offer_sale_header = '{% trans 'продажа' context "trading" %}';
    var offer_sale_button = '{% trans 'продать' context "trading" %}';

    var offer_purchase_header = '{% trans 'покупка' context "trading" %}';
    var offer_purchase_button = '{% trans 'купить' context "trading" %}';


    var offer_cancel_header = '{% trans 'Отмена торгового предложения' context "trading" %}';
    var offer_cancel_text = '{% trans 'Ваше торговое предложение будет удалено. Продолжить?' context "trading" %}';
    var offer_cancel_yes = '{% trans 'Продолжить' context "trading" %}';
    var offer_cancel_cancel = '{% trans 'Отмена' context "trading" %}';

    var offers_dict = {};

    var groups_n_goods = {};
    var vol_map = new Map();

    {% for group in goods_by_types|get_key_list %}
        groups_n_goods['{{ group }}'] = {};
        {% for good in goods_by_types|dict_key:group %}
            groups_n_goods['{{ group }}'][{% localize off %}{{ good.pk }}{% endlocalize %}] = '{{ good.name }}';
            vol_map.set('{{ good }}', '{{ good.volume }}');
        {% endfor %}
    {% endfor %}
            groups_n_goods['premium'] = {};
            groups_n_goods['premium'][-1] = 'Wild Pass';
            vol_map.set('Wild Pass', '0');

    var total_stocks = {};
    {% for storage in total_stocks|get_key_list %}
        total_stocks[{% localize off %}{{ storage }}{% endlocalize %}] = {};
        {% for stock in total_stocks|dict_key:storage|get_key_list %}
            total_stocks[{% localize off %}{{ storage }}{% endlocalize %}][{{ stock }}] = {% localize off %}{{ total_stocks|dict_key:storage|dict_key:stock }}{% endlocalize %};
        {% endfor %}
            total_stocks[{% localize off %}{{ storage }}{% endlocalize %}][-1] = {% localize off %}{{ player|get_attr:'cards_count' }}{% endlocalize %};
    {% endfor %}

</script>
<script src='{% static "js/redesign/trading.js" %}?{{ csrf_token }}'></script>
<script src='{% static "js/redesign/new_offer.js" %}?{{ csrf_token }}'></script>
<script>
    var free_offers = {% if free_offers > 0 %}{% localize off %}{{ free_offers }}{% endlocalize %}{% else %}0{% endif %};

    jQuery(document).ready(function ($) {

      // Создаем новый экземпляр MutationObserver
      const observer = new MutationObserver(mutations => {

        mutations.forEach(mutation => {

          if (mutation.attributeName === 'data-value') {
            fill_delivery(active_offer, mutation.target.getAttribute(mutation.attributeName))
          }

        });

      });

      observer.observe(document.getElementById("offer_default_storage"), { attributes: true });

    });

    var active_offer = null;

   const button = document.getElementById('closeSearch');

   button.addEventListener('click', function(event) {
     event.preventDefault();
     document.getElementById('offers_search_form').classList.remove('active')
   });

  const create_close_button = document.getElementById('closeCreate');

   create_close_button.addEventListener('click', function(event) {
     event.preventDefault();
     document.getElementById('search-create').classList.remove('active')
   });

  function toggleActiveClass(id, e = null) {
    document.getElementById(id).classList.toggle('active');
    if (id === 'search-buy' && e !== null){
        fill_by_offers_dict($(e.currentTarget).attr('data-id'));
    }
    else if(id === 'search-buy' && e === null){
        active_offer = null;
    }

  }
  function closeSearchSettingsModal() {
    document.getElementById('offers_search_form').classList.remove('active')
  }
  function openSearchSettingsModal() {
    document.getElementById('offers_search_form').classList.add('active')
  }

	class ActiveFilters {
		constructor() {
			this._catFilters_head = document.getElementById('filter-cats-header');
			this._catFilters = document.getElementById('filter-cats');

			this._goodFilter_head = document.getElementById('filter-good-header');
			this._goodFilter = document.getElementById('filter-good');

			this._catSelect = document.getElementById('trade_groups');
			this._goodSelect = document.getElementById('trade_goods');
			this._searchBtn = document.getElementById('searchBtn');
		}

		setEventListeners() {
			this._searchBtn.addEventListener('click', () => {
				this._cats = [...this._catSelect.selectedOptions].map((opt) => opt.innerText);
				if(this._goodSelect.value != 'null'){
				    this._good = this._goodSelect.value;
				}
				else{
				    this._good = null;
				}
				this._renderCatFilters();
				this._renderGoodFilters();
			})
		}

		_renderCatFilters = () => {
		    this._catFilters_head.style.display = 'none';
			this._catFilters.innerHTML = '';

			if (this._cats){
			    this._catFilters_head.style.display = 'block';
			    this._catFilters.insertAdjacentHTML('beforeend', `${[...this._cats.map((cat) => `<li>${cat}</li>`)].join('')}`)
            }
		}

		_renderGoodFilters() {
		    this._goodFilter_head.style.display = 'none';
			this._goodFilter.innerHTML = '';

			if (this._good){
			    this._goodFilter_head.style.display = 'block';
			    var good_text = groups_n_goods[$('#trade_groups').val()][this._good];
			    this._goodFilter.insertAdjacentHTML('beforeend', `<li>${good_text}</li>`)
            }
		}
	}

	const filters = new ActiveFilters();
	filters.setEventListeners();

	function handleStocksClick() {

        const stocksValueElement = document.getElementById('stocks_value');
        const value = parseInt(stocksValueElement.innerText.replace(/ /g,''));

        if (!isNaN(value)) {
            $('#count').val(value);
        }
    }

</script>
{% endblock %}