{% load dict_key %}
{% load get_attr %}
{% load get_sum %}
{% load has_key %}
{% load get_key_list %}
{% load l10n %}{% load i18n %}
<!--разведка ресурсов-->
<div class="gover__newInner ExploreResources">
    <script>
        var total_stocks = {};
    {% with regions=data|dict_key:'regions' %}
        {% for region in regions %}
            total_stocks["{{ region.pk }}"] = {};
            {% with resources=data|dict_key:'resources' %}
                {% with exploration=data|dict_key:'exploration_dict' %}

                    {% for resource in resources|get_key_list %}

                        {% with res_has=resource|get_sum:'_has' %}
                        {% with res_cap=resource|get_sum:'_cap' %}

                                total_stocks["{{ region.pk }}"]["{{ resource }}_has"] = {{ region|get_attr:res_has }};

                                total_stocks["{{ region.pk }}"]["{{ resource }}_cap"] = {{ region|get_attr:res_cap }};

                            {% if exploration|has_key:region.pk %}

                                {% with reg_exp=exploration|dict_key:region.pk %}
                                    {% if reg_exp|has_key:resource %}
                                total_stocks["{{ region.pk }}"]["{{ resource }}_exp"] = {{ reg_exp|dict_key:resource }};

                                    {% else %}
                                total_stocks["{{ region.pk }}"]["{{ resource }}_exp"] = 0;

                                    {% endif %}
                                {% endwith %}

                            {% else %}
                                total_stocks["{{ region.pk }}"]["{{ resource }}_exp"] = 0;
                            {% endif %}

                        {% endwith %}
                        {% endwith %}

                    {% endfor %}


                {% endwith %}
            {% endwith %}
        {% endfor %}
    {% endwith %}

    function calculateValue(value1, value2) {
        let difference = 1

        var quotient = Math.ceil(value1 / value2);
        var remainder = value1 % value2;

        if(remainder == 0){
            quotient = quotient + 1;
        }

        return quotient
    }
    
    function set_explore_val() {
        $('#explore_res_line').hide();
        $('#explore_sum_line').hide();

        // если значение ресурса не пустое
        if($('#explore_resources').val() != null){
            console.log(total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$('#explore_resources').val()+'_has']);
            $('#explore_res_has').html(total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$('#explore_resources').val()+'_has'])
            $('#explore_res_cap').html(total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$('#explore_resources').val()+'_cap'])

            $('#explore_res_exp').html(total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$('#explore_resources').val()+'_exp'])
            var multiplier = calculateValue(
                        total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$(e.target).val()+'_exp'],
                        total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$(e.target).val()+'_cap']
                    )
            $('#explore_res_mul').html('X ' + multiplier.toString()
                )

            need_val = parseFloat(total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$('#explore_resources').val()+'_cap']) - parseFloat(total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$('#explore_resources').val()+'_has'])
            need_sum = parseInt((need_val).toFixed(2) * 1000) * multiplier
            $('#explore_sum').html(numberWithSpaces(need_sum))

            $('#explore_res_line').show();
            $('#explore_exp_line').show();
            $('#explore_mul_line').show();
            $('#explore_sum_line').show();
        }
    }

    // выводить информацию по запасам в регионах
    jQuery(document).ready(function ($) {
        $('#explore_resources').change(function(e) {
            $('#explore_res_line').hide();
            $('#explore_exp_line').hide();
            $('#explore_mul_line').hide();
            $('#explore_sum_line').hide();

            // если значение ресурса не пустое
            if(document.getElementById('explore_resources_default_region').dataset.value != null){
                $('#explore_res_has').html(total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$(e.target).val()+'_has'])
                $('#explore_res_cap').html(total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$(e.target).val()+'_cap'])

                $('#explore_res_exp').html(total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$(e.target).val()+'_exp'])
                var multiplier = calculateValue(
                        total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$(e.target).val()+'_exp'],
                        total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$(e.target).val()+'_cap']
                    )
                $('#explore_res_mul').html('X ' + multiplier.toString()
                )

                need_val = parseFloat(total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$(e.target).val()+'_cap']) - parseFloat(total_stocks[document.getElementById('explore_resources_default_region').dataset.value][$(e.target).val()+'_has'])
                need_sum = parseInt((need_val).toFixed(2) * 1000) * multiplier
                $('#explore_sum').html(numberWithSpaces(need_sum))

                $('#explore_res_line').show();
                $('#explore_exp_line').show();
                $('#explore_mul_line').show();
                $('#explore_sum_line').show();
            }
        });
    });
</script>

    {% with regions=data|dict_key:'regions' %}
    {% if regions %}
    <div class="ct__selectWithImage">
        {% for region in regions %}
        {% if forloop.counter0 == 0 %}
        <div class="ct__selectWithImage-selected" id="explore_resources_default_region" data-value="{% localize off %}{{ region.pk }}{% endlocalize %}">
            <img id="explore_resources_default_img" src="/static/img/regions/webp/55/{{ region.on_map_id }}.webp">
            <div class="ct__selectWithImage-firstText">
                <span id="explore_resources_default_reg">{% trans region.region_name context "regions_list" %}</span>
                <svg class="ct__selectWithImage-arrow" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
                </svg>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="ct__selectWithImage-content custom-scroll custom-scroll--alt">
            {% for region in regions %}
            <div id="explore_resources_{% localize off %}{{ region.pk }}{% endlocalize %}" {% if forloop.counter0 == 0 %}class="region_storage"{% endif %} data-func="set_explore_val" data-value="{% localize off %}{{ region.pk }}{% endlocalize %}">
                <img class="offer_dummy_img" src="/static/img/regions/webp/55/{{ region.on_map_id }}.webp">
                <span class="offer_dummy_region">{% trans region.region_name context "regions_list" %}</span>
            </div>
            {% endfor %}
        </div>
    </div>

    <label class="ct__wide-modal-label-select">
        {% with resources=data|dict_key:'resources' %}
        <select name="explore_resources" id="explore_resources">
            <option id="explore_resource_default" disabled selected>{% trans 'выберите ресурс' context "explore_resources_draft" %}</option>
            {% for resource in resources|get_key_list %}
            <option id="explore_resource_{{ resource }}" value="{{ resource }}">{{ resources|dict_key:resource }}</option>
            {% endfor %}
        </select>
        {% endwith %}
        <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
        </svg>
    </label>

    <p id="explore_res_line" style="display: none">{% trans 'Запасы' context "explore_resources_draft" %}: <span id="explore_res_has"></span> / <span id="explore_res_cap"></span></p>

    <p id="explore_exp_line" style="display: none">{% trans 'За последние сутки' context "explore_resources_draft" %}: <span id="explore_res_exp"></span></p>
    <p id="explore_mul_line" style="display: none">{% trans 'Множитель' context "explore_resources_draft" %}: <b><span id="explore_res_mul"></span></b></p>

    <p id="explore_sum_line" style="display: none">{% trans 'стоимость разведки' context "explore_resources_draft" %}: <b>$<span id="explore_sum"></span></b></p>

    <button type="submit" class="ct__mid-btn active">
        <svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_259_304" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
                <path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
            </mask>
            <g mask="url(#mask0_259_304)">
                <path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
                <path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
                <path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
                <path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
            </g>
        </svg>
        <span>{% trans 'предложить' context "bill_draft" %}</span>
    </button>
    {% else %}
    <h3>{% trans 'Нет доступных регионов' context "explore_resources_draft" %}</h3>
    {% endif %}
    {% endwith %}
</div>

