{% load dict_key %}
{% load get_attr %}
{% load get_diff %}
{% load get_sum %}
{% load get_mul %}
{% load static %}
{% load get_key_list %}
{% load tz %}
{% load l10n %}{% load i18n %}
<div class="row bill_row" style="margin-top: 25px">
    {% with title=data|dict_key:'title' %}
    <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="row">
            {{ title }}
        </div>
        <div class="row" style="margin-top: 25px;">
            {% with bill=data|dict_key:'bill' %}
                {% with player=data|dict_key:'player' %}
                <b>{{ bill.voting_start|timezone:player.time_zone|date:"d.m.Y H:i" }}</b>
                {% endwith %}
            {% endwith %}
<!--            <b style="color: #FF0000">23:55</b>-->
        </div>
    </div>
    {% endwith %}

    {% with bill=data|dict_key:'bill' %}
    <div class="col-xs-4 col-sm-4 col-md-4">
        {% if bill.destination == 'State' %}
            {% if bill.parliament.state.image %}
            <img src="{{ bill.parliament.state.image.url }}" onclick="window.location.href = 'state/{{ bill.parliament.state.pk }}/'" align="left" style="cursor: pointer; width: 70px; height: 70px; margin-left: 5px">
            {% else %}
            <img src="{% static 'img/congress.svg' %}" onclick="window.location.href = 'state/{{ bill.parliament.state.pk }}/'" align="left" style="cursor: pointer; width: 70px; height: 70px; margin-left: 5px">
            {% endif %}
            Всё государство`
        {% else %}
            <img src="static/img/regions/{{ bill.region.on_map_id }}.png"  align="center"
                             style="width: 70px;">
            {{ bill.region }}
        {% endif %}
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="row">
            {% with tax_name=bill.tax_mod|get_sum:'_tax' %}
                {{ bill.get_tax_mod_display }}: {% if bill.destination == 'State' %}{{ bill.parliament.state|get_attr:tax_name }}{% else %}{{ bill.region|get_attr:tax_name }}{% endif %}% ➔ {{ bill.new_tax }}%
            {% endwith %}
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="row">
            <a href='/profile/{{ bill.initiator.pk }}' target="_blank">{{ bill.initiator }}</a>
        </div>
        <div class="row" style="margin-top: 15px">
            {% with player=data|dict_key:'player' %}
                {% if bill.initiator == player %}
                <a class="btn btn-danger" onclick="cancel_bill('ChangeTaxes',{% localize off %}{{ bill.pk }}{% endlocalize %})">Отменить</a>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
    {% with is_deputy=data|dict_key:'is_deputy' %}
        {% if is_deputy %}
            {% with player=data|dict_key:'player' %}
                {% if player not in bill.votes_pro.all and player not in bill.votes_con.all %}
                <div class="row">
                    <a class="btn btn-success" onclick="vote_bill('ChangeTaxes',{% localize off %}{{ bill.pk }}{% endlocalize %},'pro')">Проголосовать</a>
                </div>
                <div class="row" style="margin-top: 15px">
                    <a class="btn btn-danger" onclick="vote_bill('ChangeTaxes',{% localize off %}{{ bill.pk }}{% endlocalize %},'con')">Проголосовать</a>
                </div>
                {% elif has_right %}
                <a class="btn btn-warning" onclick="speedup_bill('ChangeTaxes',{% localize off %}{{ bill.pk }}{% endlocalize %},'pro')">
                    Принять досрочно
                    <img src="/static/move_storage.png" width="20px" height="20px" alt="Принять досрочно">
                </a>
                {% elif has_right and player in bill.votes_pro.all %}
                {% with president=data|dict_key:'president' %}
                <div class="row">
                    {% if president in bill.votes_pro.all %}
                    <a class="btn btn-success" disabled style="background-color: #FFFFFF">
                        <font color="green">Подписано президентом</font>
                    </a>
                    {% endif %}
                </div>
                <div class="row" style="margin-top: 15px">
                    <a class="btn btn-warning" {% if not president in bill.votes_pro.all %}disabled{% endif %}  onclick="speedup_bill('ChangeTaxes',{% localize off %}{{ bill.pk }}{% endlocalize %})">
                    <font color="black">Принять досрочно</font>
                </a>
                </div>
                {% endwith %}
                {% else %}
                <font size="5">
                    {% if player in bill.votes_pro.all %}
                    <div class="glyphicon glyphicon-thumbs-up" style="color:#4cae4c"></div>
                    {% endif %}
                    {% if player in bill.votes_con.all %}
                    <div class="glyphicon glyphicon-thumbs-down" style="color:#870A09"></div>
                    {% endif %}
                </font>
                {% endif %}
            {% endwith %}
        {% endif %}
    {% endwith %}
    </div>
    {% endwith %}
</div>