{% load dict_key %}
{% load get_attr %}
{% load get_diff %}
{% load get_sum %}
{% load get_mul %}
{% load get_key_list %}
{% load tz %}
{% load l10n %}{% load i18n %}
<div class="row bill_row" style="margin-top: 25px">
    {% with title=data|dict_key:'title' %}
    <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="row">
            {{ title }}
        </div>
        <div class="row" style="margin-top: 25px;">
            {% with bill=data|dict_key:'bill' %}
                {% with player=data|dict_key:'player' %}
                <b>{{ bill.voting_start|timezone:player.time_zone|date:"d.m.Y H:i" }}</b>
                {% endwith %}
            {% endwith %}
<!--            <b style="color: #FF0000">23:55</b>-->
        </div>
    </div>
    {% endwith %}

    {% with bill=data|dict_key:'bill' %}
    <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="row">
            {{ bill.buy_value }}
        </div>
        <div class="row" style="margin-top: 25px;">
            {{ bill.get_good_display }}
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="row">
            Лотов: {{ bill.lots_count }}
        </div>
        <div class="row" style="margin-top: 25px;">
            Стоимость: <b style="color: #85bb65">${{ bill.cash_cost }}</b>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="row">
            <a href='/profile/{{ bill.initiator.pk }}' target="_blank">{{ bill.initiator }}</a>
        </div>
        <div class="row" style="margin-top: 15px">
            {% with player=data|dict_key:'player' %}
                {% if bill.initiator == player %}
                <a class="btn btn-danger" onclick="cancel_bill('PurchaseAuction',{% localize off %}{{ bill.pk }}{% endlocalize %})">Отменить</a>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
    {% with is_deputy=data|dict_key:'is_deputy' %}
        {% if is_deputy %}
            {% with player=data|dict_key:'player' %}
                {% if player not in bill.votes_pro.all and player not in bill.votes_con.all %}
                <div class="row">
                    <a class="btn btn-success" onclick="vote_bill('PurchaseAuction',{% localize off %}{{ bill.pk }}{% endlocalize %},'pro')">Проголосовать</a>
                </div>
                <div class="row" style="margin-top: 15px">
                    <a class="btn btn-danger" onclick="vote_bill('PurchaseAuction',{% localize off %}{{ bill.pk }}{% endlocalize %},'con')">Проголосовать</a>
                </div>
                {% else %}
                <font size="5">
                    {% if player in bill.votes_pro.all %}
                    <div class="glyphicon glyphicon-thumbs-up" style="color:#4cae4c"></div>
                    {% endif %}
                    {% if player in bill.votes_con.all %}
                    <div class="glyphicon glyphicon-thumbs-down" style="color:#870A09"></div>
                    {% endif %}
                </font>
                {% endif %}
            {% endwith %}
        {% endif %}
    {% endwith %}
    </div>
    {% endwith %}
</div>