.summernote-div {
  display: inline-block;
  position: relative;
}

form .summernote-div .dropdown-menu {
  margin-left: 0;
}

.panel-default>.panel-heading {
  color: var(--c30) !important;
  background-color: var(--c30) !important;
  border-color: var(--c30) !important;
}

.note-editor.note-frame .note-editing-area {
    background-color: var(--c60) !important;
}

body > div.note-editor.note-frame.panel.panel-default > div.modal.note-modal.in > div > div > div.modal-body > div.form-group.note-form-group.note-group-select-from-files {
    display: none !important;
}

.note-editor.note-frame .note-editing-area .note-editable {
	color: var(--c10one) !important; 
}