{% load dict_key %}
{% load has_key %}
{% load get_attr %}
{% load get_sum %}
{% load get_key_list %}
<div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row" align="center" style="margin-top: 25px;">
            <b>
                Управление мощностями ТЭЦ
            </b>
        </div>
        <script>
            <!--Словарь: регион - фактический уровень-->
            var region_levels = {};
            {% with regions=data|dict_key:'regions' %}
                {% for region in regions %}
                    {% with buildings=data|dict_key:'buildings' %}
            region_levels["{{ region.pk }}"] = {{ buildings|dict_key:region.pk }}
                    {% endwith %}
                {% endfor %}
            {% endwith %}

            <!--Словарь: регион - задействованный уровень-->
            var region_in_use = {};
            {% with regions=data|dict_key:'regions' %}
                {% for region in regions %}
                    {% with buildings=data|dict_key:'buildings_fact' %}
                        {% if buildings|has_key:region.pk  %}
            region_in_use["{{ region.pk }}"] = {{ buildings|dict_key:region.pk }}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            {% endwith %}

            // выводить информацию по необходимому количеству материалов для строительства
            jQuery(document).ready(function ($) {

                $('#energy_right_regions').change(function(e) {
                    // если значение региона не пустое
                    if($('#energy_right_regions').val() != null && $('#energy_right_regions').val() != 'default'){
                        $('#energy_right_level_in_use').prop( "disabled", false );

                        if($('#energy_right_regions').val() in region_in_use){
                            $('#energy_right_level_in_use').prop( "max", region_levels[$('#energy_right_regions').val()] );
                            $('#energy_right_level_in_use').val(region_in_use[$('#energy_right_regions').val()]);
                        }
                        else{
                            $('#energy_right_level_in_use').prop( "max", region_levels[$('#energy_right_regions').val()] );
                            $('#energy_right_level_in_use').val(region_levels[$('#energy_right_regions').val()]);
                        }

                        $('#energy_right_level_in_fact').html(region_levels[$('#energy_right_regions').val()]);

                    }
                });

                $('#energy_right_level_in_use').change(function(e) {
                    if($('#energy_right_regions').val() != null && $('#energy_right_regions').val() != 'default'){
                        if($('#energy_right_level_in_use').val() <= region_levels[$('#energy_right_regions').val()]){
                            region_in_use[$('#energy_right_regions').val()] = $('#energy_right_level_in_use').val();
                        }
                        else{
                            region_in_use[$('#energy_right_regions').val()] = region_levels[$('#energy_right_regions').val()];
                        }
                        $('#energy_right_save').prop( "disabled", false );
                    }
                });
            });

            //зафисировать изменения
            function energy_fact_save() {

                var sending_data = "&csrfmiddlewaretoken=" + csrftoken + '&plants=' + JSON.stringify(region_in_use);

                $.ajax({
                    type:'POST',
                    url:'/energy_fact_save/',
                    data: sending_data,
                    cache: false,
                    success: function(data){
                        if (data.response == 'ok'){
                            $('#energy_right_save').prop( "disabled", true );
                        }
                        else{
                            display_modal('notify', data.header, data.response, null, data.grey_btn)
                        }
                    }
                })
            }
        </script>
        <div class="row" style="margin-top: 25px;">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="row" align="center">
                    Регион
                </div>
                <div class="row">
                    {% with regions=data|dict_key:'regions' %}
                    <select name="energy_right_regions" id="energy_right_regions" style="height: 20px; min-width: 20%">
                        <option id="energy_right_region_default" value='default' disabled selected value>Выберите регион</option>
                        {% for region in regions %}
                        <option id="energy_right_region_{{ region.pk }}" value="{{ region.pk }}">{{ region.region_name }}</option>
                        {% endfor %}
                    </select>
                    {% endwith %}
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="row" align="center">
                    Запущенный уровень
                </div>
                <div class="row">
                    <input id="energy_right_level_in_use" type="number" min="0" max="1000" value="" step="1" maxlength="3" disabled>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="row" align="center">
                    Построенный уровень
                </div>
                <div class="row" id="energy_right_level_in_fact" align="center">
                    <i>выберите регион</i>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="row" align="center">
                    <button class="btn btn-default" id="energy_right_save" onclick="energy_fact_save()" disabled>
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>