{% load static %}
{% load dict_key %}
{% load has_key %}
{% load get_attr %}
{% load get_sum %}
{% load get_mod %}
{% load get_key_list %}
{% load l10n %}{% load i18n %}
<script src="{% static 'js/foreign_right.js' %}?{{ csrf_token }}"></script>
<div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row" align="center" style="margin-top: 25px;">
            <b>
                {% if requests %}Запросы прописки{% elif history %}Последние прописавшиеся{% endif %}
            </b>
        </div>
        {% with history=data|dict_key:'history' %}
        {% with requests=data|dict_key:'requests' %}
        {% if requests %}
        <div align="right">
            <a onclick="residency_reject_all(event)" class="btn btn-danger">{% trans 'отклонить всё' %}</a>
        </div>
        {% for request in requests %}
        <div class="row request">
            <div class="col-xs-2 col-sm-2 col-md-2">
                <!--если пользователь загрузил аватарку-->
                {% if request.char.image %}
                <img src="{{ request.char.image.url }}" width="50" height="50" align="right">
                {% else %}
                <img src="{% static 'img/nopic.png' %}" width="50" height="50" align="right">
                {% endif %}
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <h3>
                    <a href='/profile/{% localize off %{{ request.char.pk }}{% endlocalize %}' target="_blank">{{ request.char.nickname }}</a>
                </h3>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <img src="static/img/regions/{{ request.region.on_map_id }}.png" width="50" height="50" align="right">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <h3>
                    <a href="/region/{{ request.region.pk }}/" target="_blank">{{ request.region.region_name }}</a>
                </h3>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1">
                <h3>
                    <!--принять-->
                    <div class="glyphicon glyphicon-thumbs-up"
                         {% localize off %}onclick="residency_accept(event, {{ request.pk }})"{% endlocalize %}
                         style="cursor: pointer;"></div>
                </h3>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1">
                <h3>
                    <!--отклонить-->
                    <div class="glyphicon glyphicon-thumbs-down"
                         {% localize off %}onclick="residency_reject(event, {{ request.pk }})"{% endlocalize %}
                         style="cursor: pointer;"></div>
                </h3>
            </div>
        </div>
            {% endfor %}

        {% elif history %}
            {% for request in history %}
            {% with char=request|dict_key:'char' %}
            {% with region=request|dict_key:'region' %}
            <div class="row" {% if forloop.counter|get_mod:2 == 1 %}style="background: #f1f3f4"{% endif %}>
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <!--если пользователь загрузил аватарку-->
                    {% if char.image %}
                    <img src="{{ char.image.url }}" width="50" height="50" align="right">
                    {% else %}
                    <img src="{% static 'img/nopic.png' %}" width="50" height="50" align="right">
                    {% endif %}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <h3>
                        <a href='/profile/{% localize off %}{{ char.pk }}{% endlocalize %}' target="_blank">{{ char.nickname }}</a>
                    </h3>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <img src="static/img/regions/{{ region.on_map_id }}.png" width="50" height="50" align="right">
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <h3>
                        <a href="/region/{{ region.pk }}/" target="_blank">{{ request.region.region_name }}</a>
                    </h3>
                </div>
            </div>
            {% endwith %}
            {% endwith %}
            {% endfor %}

        {% else %}
        <div class="row">
            <font color="black" size="4"><b>Запросов прописки нет</b></font>
        </div>
        {% endif %}

        {% endwith %}
        {% endwith %}
    </div>
</div>