{% load static %}
{% load dict_key %}
{% load has_key %}
{% load get_attr %}
{% load get_sum %}
{% load get_mod %}
{% load get_key_list %}
{% load l10n %}{% load i18n %}
<script src="{% static 'js/foreign_right.js' %}?{{ csrf_token }}"></script>
{% with minerals=data|dict_key:'minerals' %}
{% with minerals_dict=data|dict_key:'minerals_dict' %}
{% with oils=data|dict_key:'oils' %}
{% with oils_dict=data|dict_key:'oils_dict' %}
<div>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2" align="center">
            регион
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3">
                    Финансирование
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    Нефть
                </div>
                {% for mineral in minerals %}
                <div class="col-xs-2 col-sm-2 col-md-2">
                    {{ minerals_dict|dict_key:mineral }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% with region_dict=data|dict_key:'region_dict' %}
    {% for region in region_dict|get_key_list %}
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1" align="center">
            <img src="static/img/regions/{{ region.on_map_id }}.png" style="width: 50px;">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1" align="center">
            {{ region.region_name }}
        </div>
        {% with line=region_dict|dict_key:region %}
        <div class="col-xs-10 col-sm-10 col-md-10">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3">
                    {{ line|dict_key:'cash' }}
                </div>
                {% for oil in oils %}
                    {% if line|has_key:oil %}
                <div class="col-xs-3 col-sm-3 col-md-3">
                    {{ line|dict_key:oil }}
                </div>
                    {% endif %}
                {% endfor %}
                {% for mineral in minerals %}
                <div class="col-xs-2 col-sm-2 col-md-2">
                    {{ line|dict_key:mineral }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endwith %}
    </div>
    {% endfor %}
    {% endwith %}
</div>
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
