{% load dict_key %}
{% load get_attr %}
{% load get_sum %}
{% load get_key_list %}
<div class="row draft_row" id="ChangeTitle" style="display: none;">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row" style="margin-top: 15px;">
            <b>Новое название государства:</b>
        </div>
        <div class="row" style="margin-top: 15px;">
            <input id="change_title_new_title" name="new_title" maxlength="255" style="text-align: center; width: 50%;">
        </div>
    </div>
</div>