{% extends 'player/header.html' %}
{% load static %}
{% load dict_key %}
{% load i18n %}{% load tz %}
{% load government.parliament %}
{% load government.treasury %}

{% block for_scripts_and_css %}
<script src='{% static "js/government.js" %}?{{ csrf_token }}'></script>
{% endblock %}

{% block content %}
<!-- Tab content -->
<div id="over" class="tabcontent">
    <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8">
        <div class="polaroid">
            <div class="row flex">
                <div class="col-xs-2 col-sm-2 col-md-2">
                    {% if player.region.state %}
                        {% if player.region.state.image %}
                        <img src="{{ player.region.state.image.url }}" onclick="window.location.href = 'state/{{ player.region.state.pk }}/'" align="left" style="cursor: pointer; width: 70px; height: 70px; margin-left: 5px">
                        {% else %}
                        <img src="{% static 'img/congress.svg' %}" onclick="window.location.href = 'state/{{ player.region.state.pk }}/'" align="left" style="cursor: pointer; width: 70px; height: 70px; margin-left: 5px">
                        {% endif %}
                    {% else %}
                    <img src="{% static 'img/nostate.png' %}" align="left" style="width: 70px; height: 70px; margin-left: 5px">
                    {% endif %}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <div class="row">
                        {% if player.region.state %}
                        <font size="4"><b>Государство:</b></font>
                        {% else %}
                        <b>Независимый регион</b>
                        {% endif %}
                    </div>
                    {% if player.region.state %}
                    <div class="row">
                        {% if parliament_voting %}
                        <a href="{% url 'parl_elections' parl_pk=parliament.pk %}" class="btn btn-info">Выборы</a>
                        {% else %}
                        <b><font size="3" color="black">Выборы:</font></b>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="row">
                        <font size="4">{{ state.title }}</font>
                    </div>
                    <div class="row">
                        {% if not parliament_voting %}
                        <b><font size="3" color="black" >{{ next_voting_date|timezone:player.time_zone|date:"d.m.y H:i" }}</font></b>
                        {% endif %}
                    </div>
                </div>
                {% if player.region.state %}
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <img src="static/img/regions/{{ capital.on_map_id }}.png" align="left"
                         style="width: 70px;">
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <div class="row">
                        <b><font size="4">Столица:</font>
                            <br>
                            {{ capital.region_name }}</b>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-xs-12 col-sm-12 col-md-12" align="center" style="height: 700px;">
                    <!-- Tabs -->
                    {% if player.region.state %}
                        <ul class="nav nav-tabs">
                            {% if parliament %}
                            <li class="active"><a data-toggle="tab" href="#parliament">Парламент</a></li>
                            {% endif %}
                            <li><a data-toggle="tab" href="#treasury">Казна</a></li>
                        </ul>
                        <div class="tab-content">
                            {% if parliament %}
                            <div id="parliament" class="tab-pane fade in active">
                                {% parliament parliament %}
                            </div>
                            {% endif %}
                            <div id="treasury" class="tab-pane fade">
                                {% treasury state %}
                            </div>
                        </div>
                    {% else %}
                    <div class="row" style="margin-top: 15px;">
                        <font size="3"><b>Государство ещё не основано</b></font>
                    </div>
                    <div class="row">
                        <button type="submit" onclick="state_foundation()" class="btn btn-default">
                            Основать государство
                        </button>
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
    </div>
</div>
</div>
</div>
{% endblock %}