{% extends 'player/redesign/header.html' %}
{% load static %}
{% load bootstrap3 %}
{% load l10n %}{% load i18n %}{% load tz %}
{% load dict_key %}
{% load get_sum %}
{% load get_attr %}
{% load get_key_list %}
{% load get_class_name %}

{% block content %}

  <section class="party custom-scroll">
		<h1 class="party__title ct__page-title">Партия</h1>
	  
		<div class="party__tabs-management ct__top-tabs">
			<button class="ct__top-tab ct__top-tab1 active ct__mid-btn" onclick="switchMainBlocks(0)">
				<svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
					<mask id="mask0_259_317" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
						<path class="geometry1" d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
					</mask>
					<g mask="url(#mask0_259_317)">
						<path class="geometry2" d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z"/>
						<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
						<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
						<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
					</g>
				</svg>
				<span>партия</span>
			</button>		

			<button class="ct__top-tab ct__top-tab2 ct__mid-btn" onclick="switchMainBlocks(1)">
				<svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
					<mask id="mask0_259_318" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
						<path class="geometry1" d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
					</mask>
					<g mask="url(#mask0_259_318)">
						<path class="geometry2" d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z"/>
						<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
						<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
						<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
					</g>
				</svg>
				<span>должности</span>
			</button>		
		</div>

		<div class="partyblock1" id="partyblock1">

			<div class="party__name-edit-block">
				<div class="party__name-edit-before">

					<button class="party__name-edit-btn" onclick="openModalByAddClass('#party-name-edit')">
						<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="profile__ava-rect" d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"></path><path d="M5.5 21.5L22.5 4.5L26.5 8.5L9.5 25.5H5.5V21.5Z" stroke="var(--c60)" stroke-width="3"></path>
						</svg>
					</button>

					<h1 class="party__mana-name" id="party_title">{{ player.party.title }}</h1>
				</div>
			</div>
			
			<div class="party__mana">
				
				<div class="party__mana-avas">
	
					<div class="party__mana-ava-block">
						<img src="{% if player.party.image %}{{ player.party.image.url }}{% else %}{% static 'img/nopic_party.svg' %}{% endif %}" alt="">
						<form method="post" enctype="multipart/form-data" id="formUpload1" class="imgUpload">
							<label class="profile__load-img">
								<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
								<input type="file" name="image" class="visually-hidden" id="id_image1">
								<input type="hidden" name="x" id="id_x1">
								<input type="hidden" name="y" id="id_y1">
								<input type="hidden" name="width" id="id_width1">
								<input type="hidden" name="height" id="id_height1">
								<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path class="profile__ava-rect" d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"/><path d="M5.5 21.5L22.5 4.5L26.5 8.5L9.5 25.5H5.5V21.5Z" stroke="var(--c60)" stroke-width="3"/>
								</svg>
							</label>
						</form>
					</div>
	
					<div class="party__mana-ava-block">
						<img src="{% if player.party.members_image %}{{ player.party.members_image.url }}{% else %}{% static 'img/noback_party.svg' %}{% endif %}">
						<form method="post" enctype="multipart/form-data" id="formUpload2" class="imgUpload">
							<label class="profile__load-img">
								<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
								<input type="file" name="members_image" class="visually-hidden" id="id_image2">
								<input type="hidden" name="x" id="id_x2">
								<input type="hidden" name="y" id="id_y2">
								<input type="hidden" name="width" id="id_width2">
								<input type="hidden" name="height" id="id_height2">
								<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path class="profile__ava-rect" d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"/><path d="M5.5 21.5L22.5 4.5L26.5 8.5L9.5 25.5H5.5V21.5Z" stroke="var(--c60)" stroke-width="3"/>
								</svg>
							</label>
						</form>
					</div>
				</div>
	
			</div>

			<div class="party__mmid">
			
				<div class="party__mmid-line"></div>
				
				<div class="party__mmid-split">
					<div class="party__mmid-col">
						<h2>Тип партии</h2>:</h2>
						<button class="ct__btn-half-screen" onclick="window.location.href = '{% url 'switch_party_type' %}'" style="cursor: pointer">
							{% if player.party.type == 'op' %}открытая{% else %}закрытая{% endif %} (изменить)
						</button>
					</div>
	
					<div class="party__mmid-col party__mmid-col--r">
						<h2>Роспуск партии:</h2>
						{% if members_count == 1 %}
						<form id="leave_party_form" role="form">
                            {% csrf_token %}
                            <input type="hidden" name="party_id" id="party_id" value="{{ player.party.pk }}">
							<button type="submit" class="ct__btn-half-screen" style="cursor: pointer">подтвердить роспуск</button>
                        </form>
						{% else %}
						<button class="ct__btn-half-screen" style="opacity: 0.5">роспуск невозможен</button>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="party__mmid-line"></div>

			<div class="party__name-edit-block">
				<div class="party__name-edit-before">

					<button class="party__name-edit-btn" onclick="openModalByAddClass('#party-desc-edit')">
						<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="profile__ava-rect" d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"></path><path d="M5.5 21.5L22.5 4.5L26.5 8.5L9.5 25.5H5.5V21.5Z" stroke="var(--c60)" stroke-width="3"></path>
						</svg>
					</button>

					<p class="party__mana-name party__mana-name--desc" id="party_deskr">
						{% if player.party.description %}
							{{ player.party.description }}
						{% else %}
							добавить описание партии
						{% endif %}
					</p>
				</div>
			</div>

		</div>

		<div class="partyblock2" id="partyblock2" style="display: none;">
			<!--╨б╨а╨Х╨Ф╨Э╨Ш╨Щ ╨С╨Ы╨Ю╨Ъ-->
			<div class="party__mmid">
				
				<div class="party__mmid-line"></div>
	
				<form id="new_role_form" class="party__mmid-add">
					<h2>Добавить должность:</h2>
					{% csrf_token %}
					<input type="text" maxlength="30" name="new_role_name" id="new_role_name" style="color: var(--c10two)">
					<div class="ct__two-select-wrapper-check ct__two-select-wrapper-check--min">
						<label>
							<input type="checkbox" class="visually-hidden" name="new_role_sec_rights" id="new_role_sec_rights">
							<svg width="24" height="24" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M24.3536 19.3536L24.5 19.2071V19V1V0.5H24H6H5.79289L5.64645 0.646447L0.646447 5.64645L0.5 5.79289V6V24V24.5H1H19H19.2071L19.3536 24.3536L24.3536 19.3536Z" stroke="var(--c10two)"/>
							</svg>					
							<span>
								<svg width="24" height="24" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M24.3536 19.3536L24.5 19.2071V19V1V0.5H24H6H5.79289L5.64645 0.646447L0.646447 5.64645L0.5 5.79289V6V24V24.5H1H19H19.2071L19.3536 24.3536L24.3536 19.3536Z" stroke="var(--c10two)"/>
									<path d="M6.5 4.5L4.5 6.5V20.5H18.5L20.5 18.5V4.5H6.5Z" fill="var(--c10two)" stroke="var(--c10two)"/>
								</svg>					
							</span>
							секретарь
						</label>
					</div>
					<button type="submit" id="add_role" class="ct__btn-half-screen" style="cursor:pointer">добавить</button>
				</form>
	
				<div class="party__mmid-line"></div>
	
			</div>

			<div class="ct__js-table-container" id="js-ct-table-1">
				<table class="ct__js-table" id="roles_lines_placeholder">
					<tbody>
		
						<tr>
							<td class="j-t-one">название должности</td>
							<td class="j-t-two" style="text-align: center;">секретарь</td>
							<td class="j-t-three" style="text-align: center;">действия</td>
						</tr>
						{% for role in roles_list %}
						<tr id="{% localize off %}{{ role.pk }}{% endlocalize %}_line" class="position_line">
							<td class="j-t-one">
								{{ role.title }}
							</td>
							<td class="j-t-two" style="text-align: center;">{% if role.party_sec %}⭐{% endif %}</td>
							<td class="j-t-three" style="text-align: center;">
								{% if not role.based %}
                                <form class="rm_role_form" role="form">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{% localize off %}{{ role.pk }}{% endlocalize %}">
									<a type="submit" rel="noopener noreferrer" style="cursor: pointer" onclick="$(this).parent().submit()">❌</a>
                                </form>
                                {% endif %}
							</td>
						</tr>
						{% if forloop.last %}<script>
							var last_item = '{% localize off %}{{ role.pk }}{% endlocalize %}_line';
						</script>{% endif %}
						{% endfor %}
						<tr id="dummy_line" style="display: none">
							<td class="j-t-one">
							</td>
							<td class="j-t-two" style="text-align: center;"></td>
							<td class="j-t-three" style="text-align: center;">
								<form class="rm_role_form" role="form">
									{% csrf_token %}
									<input type="hidden" name="post_id" class="post_id" value="0">
									<a type="submit" rel="noopener noreferrer" style="cursor: pointer" onclick="$(this).parent().submit()">❌</a>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</section>

	<!--название партии-->
	<div class="rank-edit" id="party-name-edit">
		<div class="rank-edit__overlay" onclick="closeModalByRemoveClass('#party-name-edit')"></div>
		<form id="rename_form" class="rank-edit__content">
			{% csrf_token %}
			<h2 class="rank-edit__title">Смена названия партии:</h2>
			<textarea maxlength="30" class="rank-edit__textarea" name="new_party_name" id="party-title-area" cols="30" rows="10">{{ player.party.title }}</textarea>
			
			<div class="party__mmid-line"></div>
			
			<button type="submit" class="rank-edit__delete ct__mid-btn">
				<svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<mask id="mask0_259_319" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
						<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="var(--c10two)"/>
					</mask>
					<g mask="url(#mask0_259_319)">
						<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
						<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
						<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
						<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
					</g>
				</svg>
				<span>сохранить</span>
			</button>

		</form>
	</div>

	<!--описание партии-->
	<div class="rank-edit" id="party-desc-edit">
		<div class="rank-edit__overlay" onclick="closeModalByRemoveClass('#party-desc-edit')"></div>
		<form id="deskr_form" class="rank-edit__content">
			{% csrf_token %}
			<h2 class="rank-edit__title">Смена описания партии:</h2>
			<textarea class="rank-edit__textarea" name="new_party_deskr" id="party-desc-area" cols="30" rows="10">{% if player.party.description %}{{ player.party.description }}{% endif %}</textarea>
			
			<div class="party__mmid-line"></div>
			
			<button type="submit" class="rank-edit__delete ct__mid-btn">
				<svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<mask id="mask0_259_319" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
						<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="var(--c10two)"/>
					</mask>
					<g mask="url(#mask0_259_319)">
						<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
						<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
						<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
						<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
					</g>
				</svg>
				<span>сохранить</span>
			</button>

		</form>
	</div>
{% endblock %}

{% block for_scripts_and_css %}
	<script src='{% static "redesign/js/manage.js" %}?{{ csrf_token }}'></script>
	<div class="img_modal" id="modalCrop">
		<div class="modal-cropper-wrapper">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" id="crop-close" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<img id="image" src="" alt="The image to preview" style="width: 274.129px; height: 274.129px; transform: translateX(-13.0647px);"></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
						<div class="btn-l-wrapper">
							<div class="btn-group pull-left" role="group" style="margin-right: 5px;">
								<button type="button" class="btn btn-default js-zoom-in">
									<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 18L6 13" stroke="var(--c60)"/>
										<circle cx="11" cy="8" r="7.5" stroke="var(--c60)"/>
										<path d="M11 4V12M15 8H7" stroke="var(--c60)"/>
									</svg>
								</button>
								<button type="button" class="btn btn-default js-zoom-out">
									<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 18L6 13" stroke="var(--c60)"/>
										<circle cx="11" cy="8" r="7.5" stroke="var(--c60)"/>
										<path d="M15 8H7" stroke="var(--c60)"/>
									</svg>
								</button>
							</div>
							<div class="btn-group pull-left" role="group">
								<button type="button" class="btn btn-default js-pic-up">
									<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M10 1L1 10M10 1L19 10M10 1V19" stroke="var(--c60)"/>
									</svg>
								</button>
								<button type="button" class="btn btn-default js-pic-down">
									<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M10 18L19 9M10 18L1 9M10 18V0" stroke="black"/>
									</svg>
								</button>
							</div>
						</div>
						<div class="btn-r-wrapper">
							<button type="button" class="btn btn-default back-crop-js" data-dismiss="modal">Отмена</button>
							<button type="button" class="btn btn-primary js-crop-and-upload">Загрузить</button>
						</div>
			</div>
		</div>
	</div>

	<script src="{% static 'redesign/js/cropper.min.js' %}?{{ csrf_token }}"></script>

	<script>
		initCropper('id_image1', 'image');
		initCropper('id_image2', 'image');

		const blocks = {
		one: document.getElementById('partyblock1'),
		two: document.getElementById('partyblock2'),
		tabs: document.querySelectorAll('.party__tabs-management > button')
	  }
	  function switchMainBlocks(num) {
		if (num === 0) {
		  blocks.one.style.display = '';
		  blocks.two.style.display = 'none';
		} else {
		  blocks.one.style.display = 'none';
		  blocks.two.style.display = '';
		}
		blocks.tabs.forEach((btn) => btn.classList.remove('active'));
		blocks.tabs[num].classList.add('active');
	  }
	</script>

	<script>
    jQuery(document).ready(function ($) {
        $('.imgUpload').submit(function(e){
            e.preventDefault();

            var sending_data = new FormData(this);
            sending_data.append("img_mode", curr_cropper);

            $.ajax({
              url: "/change_party_pic/",
              type: "POST",
              data: sending_data,
              processData: false,
              contentType: false,
              success: function(result){
              if (result.response == 'ok'){
				location.reload();
              }
              else{
                  alert(result.response)
              }
            }
            });
        });
    });
</script>
{% endblock %}
