{% load dict_key %}
{% load get_attr %}
{% load get_diff %}
{% load get_sum %}
{% load get_mul %}
{% load get_key_list %}
{% load tz %}

<div class="row bill_row" style="margin-top: 25px">
    {% with title=data|dict_key:'title' %}
    <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="row">
            {{ title }}
        </div>
        <div class="row" style="margin-top: 25px;">
            {% with bill=data|dict_key:'bill' %}
                {% with player=data|dict_key:'player' %}
                <b>{{ bill.voting_start|timezone:player.time_zone|date:"d.m.Y H:i" }}</b>
                {% endwith %}
            {% endwith %}
<!--            <b style="color: #FF0000">23:55</b>-->
        </div>
    </div>
    {% endwith %}

    {% with bill=data|dict_key:'bill' %}
    <div class="col-xs-4 col-sm-6 col-md-6" style="vertical-align: middle;">
        <img src="{{ bill.image.url }}" width="50" height="50">
        <a href='{{ bill.image.url }}' target="_blank"><u>оригинал</u></a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <a href='/profile/{{ bill.initiator.pk }}' target="_blank">{{ bill.initiator }}</a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
    {% with is_deputy=data|dict_key:'is_deputy' %}
        {% if is_deputy %}
            {% with player=data|dict_key:'player' %}
                {% if player not in bill.votes_pro.all and player not in bill.votes_con.all %}
                <div class="row">
                    <a class="btn btn-success" onclick="vote_bill('ChangeCoat',{{ bill.pk }},'pro')">Проголосовать</a>
                </div>
                <div class="row">
                    <a class="btn btn-danger" onclick="vote_bill('ChangeCoat',{{ bill.pk }},'con')">Проголосовать</a>
                </div>
                {% else %}
                <font size="5">
                    {% if player in bill.votes_pro.all %}
                    <div class="glyphicon glyphicon-thumbs-up" style="color:#4cae4c"></div>
                    {% endif %}
                    {% if player in bill.votes_con.all %}
                    <div class="glyphicon glyphicon-thumbs-down" style="color:#870A09"></div>
                    {% endif %}
                </font>
                {% endif %}
            {% endwith %}
        {% endif %}
    {% endwith %}
    </div>
    {% endwith %}
</div>