{% load static %}
{% load dict_key %}
{% load get_sum %}
{% load l10n %}{% load i18n %}
<form id="money_transfer_frm" role="form">
    <div class="col-xs-1 col-sm-1 col-md-1">
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3" align="right" style="margin-top: 20px; margin-bottom: 25px;">
        <font size="3" color="black"><b>{% trans 'Наличные' %}:</b></font>
        <input type="number" min="0"{% localize off %} value="{{ player.cash }}" {% endlocalize %} step="1" name="cash_at_player" id="cash_at_player" maxlength="10">
    </div>
    <div class="col-xs-2 сol-sm-2 col-md-2" align="center" style="margin-top: 20px; margin-bottom: 25px;">
        <b>
            <font size="3" color="black">{% trans 'Денег всего' %}: </font>
            <br>
            <font size="3" id="money_amount" color="black">{{ player.cash|get_sum:storage.cash }}</font>
        </b>
        {% csrf_token %}
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3" align="left" style="margin-top: 20px; margin-bottom: 25px;">
        <font size="3" color="black"><b>{% trans 'На Складе' %}:</b></font>
        <input type="number" min="0" {% localize off %}value="{{ storage.cash }}"{% endlocalize %} step="1" name="cash_at_storage" id="cash_at_storage" maxlength="10">
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2" align="center" style="margin-top: 20px; margin-bottom: 25px;">
        {% if player.region == storage.region %}
        <input type="submit" id="do_transfer" class="btn btn-success" disabled value="{% trans 'Передать' %}" />
        {% endif %}
    </div>
</form>