{% load static %}
{% load class_tag %}
{% load dict_key %}{% load i18n %}
<form id="pr_gold" role="form">
    <div class="col-xs-4 col-sm-4 col-md-4">
        <img src="{% static 'img/storage/recharge.png' %}" style="margin: 10px">
        <font color="gold" size="5" id="recharge_cost" style="font-weight: bold; text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;">- 1 G</font>
    </div>
    <div class="col-xs-5 сol-sm-5 col-md-5" style="margin-top: 25px; margin-bottom: 25px;">
        <div>
            <font size="3" color="white"><b>{% trans 'batteries_prod' %}:</b></font>
            {% csrf_token %}
            <input type="number" min="10" max="100000" value="10" step="10" name="batteries_count" id="batteries_count" maxlength="10">
            <font size="3" color="white"><b>{% trans 'batteries_pcs' %}</b></font>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3" style="margin-top: 20px; margin-bottom: 25px;">
        <input type="submit" class="btn btn-success"  value="{% trans 'do_produce_batt' %}" />
    </div>
</form>