{% load dict_key %}
{% load get_attr %}
{% load get_diff %}
{% load get_sum %}
{% load get_mul %}
{% load get_key_list %}
{% load tz %}

<div class="row bill_row" style="margin-top: 25px">
    {% with title=data|dict_key:'title' %}
    <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="row">
            {{ title }}
        </div>
        <div class="row" style="margin-top: 25px;">
            {% with bill=data|dict_key:'bill' %}
                {% with player=data|dict_key:'player' %}
                <b>{{ bill.voting_end|timezone:player.time_zone|date:"d.m.Y H:i" }}</b>
                {% endwith %}
            {% endwith %}
        </div>
    </div>
    {% endwith %}

    {% with bill=data|dict_key:'bill' %}
    <div class="col-xs-6 col-sm-6 col-md-6">
        {% if bill.image %}
        <img src="{{ bill.image.url }}" width="50" height="50">
        <a href='{{ bill.image.url }}' target="_blank"><u>оригинальный размер</u></a>
        {% else %}
        недоступно
        {% endif %}
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
    <a href='/profile/{{ bill.initiator.pk }}' target="_blank">{{ bill.initiator }}</a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="row">
            {% if bill.type == 'ac' %}
            <b style="color:#4cae4c">Принят</b>
            {% elif bill.type == 'rj' %}
            <b style="color:#870A09">Отклонён</b>
            {% elif bill.type == 'cn' %}
            <b>Отменён</b>
            {% endif %}
        </div>
        <div class="row">
            <font size="5">
                <div class="glyphicon glyphicon-thumbs-up" style="color:#4cae4c; margin-right: 10px">{{ bill.votes_pro.all.count }}</div>
                <div class="glyphicon glyphicon-thumbs-down" style="color:#870A09; margin-left: 10px">{{ bill.votes_con.all.count }}</div>
            </font>
        </div>
    </div>
    {% endwith %}
</div>