{% load dict_key %}
{% load get_attr %}
{% load get_sum %}
{% load get_key_list %}
<div class="row draft_row" id="ChangeTaxes" style="display: none">
    <script>
        {% with state=data|dict_key:'state' %}
            var cash = {{ state|get_attr:'cash_tax' }}
            var oil = {{ state|get_attr:'oil_tax' }}
            var ore = {{ state|get_attr:'ore_tax' }}
            var trade = {{ state|get_attr:'trade_tax' }}
        {% endwith %}

        var regions_taxes = {};
        {% with regions=data|dict_key:'regions' %}
            {% for region in regions %}
        regions_taxes["{{ region.pk }}"] = {};
        regions_taxes["{{ region.pk }}"]["cash"] = {{ region|get_attr:'cash_tax' }}
        regions_taxes["{{ region.pk }}"]["oil"] = {{ region|get_attr:'oil_tax' }}
        regions_taxes["{{ region.pk }}"]["ore"] = {{ region|get_attr:'ore_tax' }}
        regions_taxes["{{ region.pk }}"]["trade"] = {{ region|get_attr:'trade_tax' }}
            {% endfor %}
        {% endwith %}

        jQuery(document).ready(function ($) {

            $('#change_taxes_destination').change(function(e) {
                if($('#change_taxes_destination').val() == 'destination_state'){
                    $('#change_taxes_regions').hide();
                }
                else if($('#change_taxes_destination').val() == 'destination_region'){
                    $('#change_taxes_regions').show();
                }

                if($('#change_taxes_tax_mod').val() != null){
                    $('#change_taxes_level').show();
                    $('#change_taxes_new_level').show();

                    if($('#change_taxes_destination').val() == 'destination_state'){
                        $('#change_taxes_tax_lvl').html(window[$('#change_taxes_tax_mod').val()]);
                        $('#change_taxes_value').attr('value', window[$('#change_taxes_tax_mod').val()]);
                    }
                    else if($('#change_taxes_destination').val() == 'destination_region' && $('#change_taxes_regions').val() != null){
                        $('#change_taxes_tax_lvl').html(regions_taxes[$('#change_taxes_regions').val()][$('#change_taxes_tax_mod').val()]);
                        $('#change_taxes_value').attr('value', regions_taxes[$('#change_taxes_regions').val()][$('#change_taxes_tax_mod').val()]);
                    }
                }
            });

            $('#change_taxes_tax_mod').change(function(e) {
                if($('#change_taxes_tax_mod').val() != null){
                    $('#change_taxes_level').show();
                    $('#change_taxes_new_level').show();

                    if($('#change_taxes_destination').val() == 'destination_state'){
                        $('#change_taxes_tax_lvl').html(window[$('#change_taxes_tax_mod').val()]);
                        $('#change_taxes_value').attr('value', window[$('#change_taxes_tax_mod').val()]);
                    }
                    else if($('#change_taxes_destination').val() == 'destination_region' && $('#change_taxes_regions').val() != null){
                        $('#change_taxes_tax_lvl').html(regions_taxes[$('#change_taxes_regions').val()][$('#change_taxes_tax_mod').val()]);
                        $('#change_taxes_value').attr('value', regions_taxes[$('#change_taxes_regions').val()][$('#change_taxes_tax_mod').val()]);
                    }
                }
            });

            $('#change_taxes_regions').change(function(e) {
                if($('#change_taxes_tax_mod').val() != null && $('#change_taxes_regions').val() != null){
                    $('#change_taxes_tax_lvl').html(regions_taxes[$('#change_taxes_regions').val()][$('#change_taxes_tax_mod').val()]);
                    $('#change_taxes_value').attr('value', regions_taxes[$('#change_taxes_regions').val()][$('#change_taxes_tax_mod').val()]);
                }
            });
        });
    </script>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row" style="margin-top: 25px;height: 30px;">
            <div class="col-xs-12 col-sm-12 col-md-12" align="center">
                <select name="change_taxes_destination" id="change_taxes_destination" style="height: 20px; min-width: 20%">
                    <option id="change_taxes_destination_state" selected value="destination_state">Государство</option>
                    <option id="change_taxes_destination_region" value="destination_region">Регион</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="row" style="margin-top: 25px;">
                    {% with regions=data|dict_key:'regions' %}
                    <select name="change_taxes_regions" id="change_taxes_regions" style="height: 20px; min-width: 20%; display: none">
                        <option id="change_taxes_region_default" value='default' disabled selected value>Выберите регион</option>
                        {% for region in regions %}
                        <option id="change_taxes_region_{{ region.pk }}" value="{{ region.pk }}">{{ region.region_name }}</option>
                        {% endfor %}
                    </select>
                    {% endwith %}
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="row" style="margin-top: 25px;">
                    <select name="change_taxes_tax_mod" id="change_taxes_tax_mod" style="height: 20px; min-width: 20%">
                        <option id="change_taxes_tax_mod_default" value='default' disabled selected>Выберите налог</option>
                        <option id="change_taxes_tax_mod_default_cash" value="cash">Финансирование</option>
                        <option id="change_taxes_tax_mod_default_oil" value="oil">Добыча нефти</option>
                        <option id="change_taxes_tax_mod_default_ore" value="ore">Добыча руд</option>
                        <option id="change_taxes_tax_mod_default_trade" value="trade">Торговля</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 25px;">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="row" id="change_taxes_level" style="display: none">
                    Текущий налог: <b id="change_taxes_tax_lvl">50</b>%
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="row" id="change_taxes_new_level" style="display: none">
                    Новый налог: <input type="number" min="0" max="100" value="1" step="1" id="change_taxes_value" name="change_taxes_value" maxlength="3">%
                </div>
            </div>
        </div>
    </div>
</div>