{% load dict_key %}
{% load get_attr %}
{% load get_sum %}
{% load get_key_list %}
{% load l10n %}{% load i18n %}
<div class="row draft_row" id="ChangeResidency" style="display: none">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" align="center" style="margin-top: 15px;">
            <select name="change_residency_residency" id="change_residency_residency" style="height: 20px; min-width: 20%">
                <option id="change_residency_residency_free" selected value="free">Свободная</option>
                <option id="change_residency_residency_issue" value="issue">Выдаётся министром</option>
            </select>
        </div>
    </div>
    <div class="row" id="change_residency_price" style="margin-top: 25px; display: none">
        <div class="row" align="center">
        Стоимость:
        </div>
        {% with rifle_cost=data|dict_key:'rifle_cost' %}
        <div class="row">
        {% trans 'Автоматы' context "goods" %}: {{ rifle_cost }}
        </div>
        {% endwith %}
        {% with drone_cost=data|dict_key:'drone_cost' %}
        <div class="row">
            {% trans 'БПЛА' context "goods" %}: {{ drone_cost }}
        </div>
        {% endwith %}
    </div>
    <script>
        const selectElement = document.querySelector("#change_residency_residency");

        selectElement.addEventListener("change", (event) => {

            var result = document.querySelector("#change_residency_price");

            if(event.target.value == 'issue'){
                result.style.display = 'block';
            }
            else{
                result.style.display = 'none';
            }

        });
    </script>
</div>