{% load dict_key %}
{% load get_attr %}
{% load get_sum %}
{% load get_key_list %}
<div class="row draft_row" id="ChangeForm" style="display: none;">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row" style="margin-top: 15px;">
            <b>Новая форма правления государства:</b>
        </div>
        <div class="row" style="margin-top: 15px;">
            {% with forms=data|dict_key:'forms' %}
            <select name="new_state_form" id="new_state_form" style="height: 20px; min-width: 20%">
                <option id="change_form_default" value='default' disabled selected value>Выберите форму правления</option>
                {% for form in forms|get_key_list %}
                <option id="change_form_{{ form }}" value="{{ form }}">{{ forms|dict_key:form }}</option>
                {% endfor %}
            </select>
            {% endwith %}
        </div>
    </div>
</div>