{% load dict_key %}
{% load get_attr %}
{% load get_sum %}
{% load get_key_list %}
<div class="row draft_row" id="ExploreResources" style="display: none">
    <script>
        var total_stocks = {};
    {% with regions=data|dict_key:'regions' %}
        {% for region in regions %}
            total_stocks["{{ region.pk }}"] = {};
            {% with resources=data|dict_key:'resources' %}
                {% for resource in resources|get_key_list %}

                    {% with res_has=resource|get_sum:'_has' %}
                    {% with res_cap=resource|get_sum:'_cap' %}

                        total_stocks["{{ region.pk }}"]["{{ resource }}_has"] = {{ region|get_attr:res_has }};

                        total_stocks["{{ region.pk }}"]["{{ resource }}_cap"] = {{ region|get_attr:res_cap }};

                    {% endwith %}
                    {% endwith %}

                {% endfor %}
            {% endwith %}
        {% endfor %}
    {% endwith %}

    // выводить информацию по запасам в регионах
    jQuery(document).ready(function ($) {
        $('#explore_regions').change(function(e) {
            $('#explore_res_line').hide();
            $('#explore_sum_line').hide();
            // если значение ресурса не пустое
            if($('#explore_resources').val() != null){
                $('#explore_res_has').html(total_stocks[$(e.target).val()][$('#explore_resources').val()+'_has'])
                $('#explore_res_cap').html(total_stocks[$(e.target).val()][$('#explore_resources').val()+'_cap'])

                need_val = parseFloat(total_stocks[$(e.target).val()][$('#explore_resources').val()+'_cap']) - parseFloat(total_stocks[$(e.target).val()][$('#explore_resources').val()+'_has'])
                need_sum = parseInt((need_val).toFixed(2) * 100)
                $('#explore_sum').html(numberWithSpaces(need_sum))

                $('#explore_res_line').show();
                $('#explore_sum_line').show();
            }
        });
        $('#explore_resources').change(function(e) {
            $('#explore_res_line').hide();
            $('#explore_sum_line').hide();
            // если значение ресурса не пустое
            if($('#explore_regions').val() != null){
                $('#explore_res_has').html(total_stocks[$('#explore_regions').val()][$(e.target).val()+'_has'])
                $('#explore_res_cap').html(total_stocks[$('#explore_regions').val()][$(e.target).val()+'_cap'])

                need_val = parseFloat(total_stocks[$('#explore_regions').val()][$(e.target).val()+'_cap']) - parseFloat(total_stocks[$('#explore_regions').val()][$(e.target).val()+'_has'])
                need_sum = parseInt((need_val).toFixed(2) * 100)
                $('#explore_sum').html(numberWithSpaces(need_sum))

                $('#explore_res_line').show();
                $('#explore_sum_line').show();
            }
        });
    });
    </script>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="row" style="margin-top: 25px;">
            {% with regions=data|dict_key:'regions' %}
            <select name="explore_regions" id="explore_regions" style="height: 20px; min-width: 20%">
                <option id="explore_region_default" value='default' disabled selected value>Выберите регион разведки</option>
                {% for region in regions %}
                <option id="explore_region_{{ region.pk }}" value="{{ region.pk }}">{{ region.region_name }}</option>
                {% endfor %}
            </select>
            {% endwith %}
        </div>
        <div class="row" style="margin-top: 25px;">
            {% with resources=data|dict_key:'resources' %}
            <select name="explore_resources" id="explore_resources" style="height: 20px; min-width: 20%">
                <option id="explore_resource_default" value='default' disabled selected value>Выберите ресурс</option>
                {% for resource in resources|get_key_list %}
                <option id="explore_resource_{{ resource }}" value="{{ resource }}">{{ resources|dict_key:resource }}</option>
                {% endfor %}
            </select>
            {% endwith %}
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="row" id="explore_res_line" style="margin-top: 25px; display: none">
            Запасы:<div id="explore_res_has" style="display: inline-block;"></div> / <div id="explore_res_cap" style="display: inline-block;"></div>
        </div>
        <div class="row" id="explore_sum_line" style="margin-top: 25px; display: none">
            Стоимость разведки: <b style="color: #85bb65">$<div id="explore_sum" style="display: inline-block"></div></b>
        </div>
    </div>
</div>