{% load dict_key %}
{% load get_attr %}
{% load get_sum %}
{% load get_key_list %}
<div class="row draft_row" id="PurchaseAuction" style="display: none">
    <script>
        jQuery(document).ready(function ($) {

            $('#purchase_price').on('input', function (e) {
                $('#purchase_cost').html(numberWithSpaces($(e.target).val() * $('#purchase_value').val()));
            });
            $('#purchase_value').on('input', function (e) {
                $('#purchase_cost').html(numberWithSpaces($(e.target).val() * $('#purchase_price').val()));
            });

        });
    </script>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="row" style="margin-top: 25px;">
                {% with goods=data|dict_key:'goods_dict' %}
                <select name="purchase_goods" id="purchase_goods" style="height: 20px; min-width: 20%">
                    <option id="purchase_good_default" value='default' disabled selected value>Выберите товар</option>
                    {% for good in goods|get_key_list %}
                    <option id="purchase_good_{{ good }}" value="{{ good }}">{{ goods|dict_key:good }}</option>
                    {% endfor %}
                </select>
                {% endwith %}
            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    Количество:
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <input id="purchase_value" type="number" min="0" max="9223372036854775807" value="0" step="1" name="purchase_value" maxlength="3">
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="row" style="margin-top: 25px;">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    Количество лотов:
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <input id="purchase_lots" type="number" min="1" max="10" value="1" step="1" name="purchase_lots" maxlength="3"> / 10
                </div>
            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    Цена:
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <b style="color: #85bb65">
                        $<input id="purchase_price" type="number" min="0" max="9223372036854775807" value="1" step="1" name="purchase_price" maxlength="3" style="color: #85bb65">
                    </b>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-xs-6 col-sm-6 col-md-6" align="right">
            Стоимость:
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6" align="left">
            <b style="color: #85bb65">
                $<div id="purchase_cost" style="display: inline-block">0</div>
            </b>
        </div>
    </div>
</div>