{% load dict_key %}
{% load get_attr %}
{% load get_sum %}
{% load get_key_list %}
{% load l10n %}{% load i18n %}{% load tz %}
<div class="row draft_row" id="StartWar" style="display: none">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="row flex" style="margin-top: 3%">
            <div class="col-xs-4 col-sm-4 col-md-4" align="left">
                <b>Плацдарм: </b>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8" align="left">
                {% if data|dict_key:'reg_list' %}
                <select id="from_regions_list" name="war_region_from" style="height: 30px; border-radius: 5px; border: 1px solid #efefef; background: #white;">
                    {% for s_region in data|dict_key:'reg_list' %}
                    <option {% if forloop.counter0 == 0 %} selected {% endif %} value='{{ s_region.pk }}'>
                        {{ s_region.region_name }}
                    </option>
                    {% endfor %}
                </select>
                {% else %}
<!--                <b>{% trans 'no_border_regions' %}</b>-->
                <b>нет приграничных регионов</b>
                {% endif %}
            </div>
        </div>
        <div class="row flex" style="margin-top: 3%">
            <div class="col-xs-4 col-sm-4 col-md-4 " align="left">
                <b>Цель: </b>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8" align="left">
                {% with victims_list=data|dict_key:'victims_list' %}
                    {% with first=data|dict_key:'first' %}
                        {% if victims_list %}
                <select id="dest_regions_list" name="war_region_to" style="height: 30px; border-radius: 5px; border: 1px solid #efefef; background: #white;">
                    {% for vic in victims_list|dict_key:first %}
                        <option {% if neig == victims_list|dict_key:first %} selected {% endif %} value='{{ vic.pk }}'>
                            {{ vic }}
                        </option>
                    {% endfor %}
                </select>
                <script>
                    var vict_hash_id = new Map();
                    var vict_hash = new Map();

                    var vict_mass_id = [];
                    var vict_mass = [];

                    {% for region in data|dict_key:'reg_list' %}
                        {% for vic in victims_list|dict_key:region %}
                            vict_mass_id.push('{{ vic.pk }}');
                            vict_mass.push('{{ vic.region_name }}');
                        {% endfor %}

                        vict_hash_id.set('{{ region.pk }}', vict_mass_id.slice());
                        vict_hash.set('{{ region.pk }}', vict_mass.slice());

                        vict_mass_id = [];
                        vict_mass = [];

                    {% endfor %}

                    $("#from_regions_list").change(function () {
                        var select = document.getElementById('dest_regions_list');
                        select.innerHTML = '';

                        var arr_id = vict_hash_id.get($("#from_regions_list").val())
                        var arr_txt = vict_hash.get($("#from_regions_list").val())

                        arr_id.forEach(function(item, i, arr_id) {
                            var opt = document.createElement('option');
                            opt.value = item;
                            opt.innerHTML = arr_txt[i];
                            select.appendChild(opt);
                        });

                    });
                </script>
                {% else %}
<!--                <b>{% trans 'no_common_borders' %}</b>-->
                <b>нет общих границ</b>
                        {% endif %}
                    {% endwith %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>