{% extends 'player/redesign/header.html' %}
{% load l10n %}{% load i18n %}
{% load floor_to_tens %}
{% load floor_val %}
{% load static %}
{% load tz %}
{% load dict_key %}
{% block content %}
{% load get_mul %}

<section class="earn" id="mining_main">
    <h1 class="earn__title ct__page-title">{% trans 'Добыча' context "mining" %}</h1>
    <p class="earn__info">
        {% trans 'Потрать энергию и получи' context "daily_header" %} <br>
        {% trans 'до' context "daily_header" %} $ {{ daily_limit }}<span class="info__gold"> + G 100</span> {% trans 'за день!' context "daily_header" %}
    </p>
    <div class="earn__energy-wrapper ct__widebar">
        <span>{% trans 'энергии потрачено' context "daily_header" %}:</span>
        <div class="ct__widebar-bar">
            {% if player.daily_fin %}
            <span>100 %</span>
            {% else %}
            <span id="energy_consumption">{{ player.energy_consumption }}</span>
            <span> / </span>
            <span id="daily_energy_limit">{{ daily_energy_limit }}</span>
            {% endif %}
            <div style="width: {% if player.daily_fin %}100{% else %}{{ daily_procent }}{% endif %}%;" class="ct__widebar-fill" id="energy_progressbar"></div>
        </div>
    </div>
    <form class="cash_retrieve" role="form">
        {% csrf_token %}
        <button {% if player.destination or player.daily_fin %}disabled{% endif %} class="earn__long-btn ct__long-btn btn eduBlock2">
            {% if player.destination %}
            <span>{% trans 'в полете' context "daily_header" %}</span>
            {% else %}
            <span class="process" style="display: none">{% trans 'получаем' context "daily_header" %}...</span>
            <span style="display: inline-block;">{% trans 'получить' context "daily_header" %}: $</span>
            <span style="display: inline-block;" id="daily_current_sum">{% if player.daily_fin %}0{% else %}{{ daily_current_sum }}{% endif %}</span>
            {% endif %}
            <svg width="176" height="31" viewBox="0 0 176 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_36_212" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="-1" width="176" height="32">
                <path d="M0 5.78935L5.78947 -0.00012207H176V23.1578L169.053 30.1051H0V5.78935Z" fill="var(--c10two)"/>
                </mask>
                <g mask="url(#mask0_36_212)">
                    <path d="M0 5.78935L5.78947 -0.00012207H176V23.1578L169.053 30.1051H0V5.78935Z" fill="var(--c10two)"/>
                    {% if not player.destination %}
                    <path class="treg1" opacity="0.2" d="M38.1333 -14.0492L68.5505 38.635H7.71606L38.1333 -14.0492Z" fill="var(--c10one)"/>
                    <path class="treg2" opacity="0.2" d="M110.911 -13.8387L99.6371 22.9836L73.385 -5.19097L110.911 -13.8387Z" fill="var(--c10one)"/>
                    <path class="treg3" opacity="0.2" d="M169.098 6.14752L158.04 25.3L146.983 6.14752L169.098 6.14752Z" fill="var(--c10one)"/>
                    {% endif %}
                </g>
            </svg>
        </button>
    </form>
    <p class="earn__after-btn">
        {% trans 'уже получено' context "daily_header" %}:
        ${{ player.paid_sum }}
    </p>
    <div class="earn__card ct__card">
        <h3>{% trans 'Золото' context "mining" %}</h3>
        <span>{% trans 'Запасы' context "mining" %}: {{ player.region.gold_has }} / {{ player.region.gold_cap }}</span>
        <p>
            <span style="display: inline-block;color: #eb9929;">
                + G <span style="display: inline-block;" class="be_mined" data-modifier="0.1">10</span>
            </span>
            {% if false %}
            &nbsp;
            <span style="display: inline-block;">
                + $ <span style="display: inline-block;" class="be_mined" data-modifier="150">100</span>
            </span>
            {% endif %}
        </p>
        <form class="mining_form" role="form">
            {% csrf_token %}
            <input type="hidden" name="resource" value="gold">
            <input type="number" min="0" max="100" value="{{ player.energy|floor_to_tens }}" step="10" name="energy">
            {% if player.destination %}
            <button disabled>{% trans 'в полете' context "daily_header" %}</button>
            {% else %}
                {% if premium %}
                <button class="start_auto" onclick="start_auto(event, 'gold')" style="{% if auto_mining.resource == 'gold' %}display:none{% endif %}">{% trans 'авто' context "mining" %}</button>
                <button class="cancel_auto" onclick="cancel_auto(event)" style="{% if not auto_mining or auto_mining.resource != 'gold' %}display:none {% endif %}">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="7" cy="7" r="6.5" stroke="var(--c60)"></circle>
						<path d="M7 2.24V7.07L10.71 10.78" stroke="var(--c60)"></path>
					</svg>
                    <span>{{ auto_mining.task.start_time|timezone:player.time_zone|date:"H:i" }}</span>
                </button>
                {% endif %}
            <button class="btn-mining">{% trans 'добыча' context "mining" %}</button>
            {% endif %}
        </form>
        <svg width="314" height="100" viewBox="0 0 314 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.46447 11.5355L11.5355 2.46447C12.4732 1.52678 13.745 1 15.0711 1H308C310.761 1 313 3.23857 313 6V94C313 96.7614 310.761 99 308 99H6C3.23858 99 1 96.7614 1 94V15.0711C1 13.745 1.52678 12.4732 2.46447 11.5355Z" fill="var(--c30)" stroke="var(--c30)"/></svg>
    </div>
    <div class="earn__card ct__card">
        <h3>{% trans 'Нефть' context "mining" %}</h3>
        <span>{% trans 'Запасы' context "mining" %}: {{ player.region.oil_has }} / {{ player.region.oil_cap }}</span>
        <p>
            <span style="display: inline-block;">
                + {{ oil_mark }}: <span style="display: inline-block;" class="be_mined" data-modifier="{{ be_mined_dict|dict_key:'oil' }}">{% with modif=be_mined_dict|dict_key:'oil' %}{{ player.energy|floor_to_tens|get_mul:modif|floor_val }}{% endwith %}</span>
            </span>
        </p>
        <form class="mining_form" role="form">
            {% csrf_token %}
            <input type="hidden" name="resource" value="oil">
            <input type="number" min="0" max="100" value="{{ player.energy|floor_to_tens }}" step="10" name="energy">
            {% if player.destination %}
            <button type="button" class="btn btn-danger">{% trans 'в полете' context "daily_header" %}</button>
            {% else %}
                {% if premium %}
            <button class="start_auto" onclick="start_auto(event, 'oil')" style="{% if auto_mining.resource == 'oil' %}display:none{% endif %}">{% trans 'авто' context "mining" %}</button>
            <button class="cancel_auto" onclick="cancel_auto(event)" style="{% if not auto_mining or auto_mining.resource != 'oil' %}display:none {% endif %}">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="7" cy="7" r="6.5" stroke="var(--c60)"></circle>
                    <path d="M7 2.24V7.07L10.71 10.78" stroke="var(--c60)"></path>
                </svg>
                <span>{{ auto_mining.task.start_time|timezone:player.time_zone|date:"H:i" }}</span>
            </button>
                {% endif %}
            <button class="btn-mining eduBlock1">{% trans 'добыча' context "mining" %}</button>
            {% endif %}
        </form>
        <svg width="314" height="100" viewBox="0 0 314 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.46447 11.5355L11.5355 2.46447C12.4732 1.52678 13.745 1 15.0711 1H308C310.761 1 313 3.23857 313 6V94C313 96.7614 310.761 99 308 99H6C3.23858 99 1 96.7614 1 94V15.0711C1 13.745 1.52678 12.4732 2.46447 11.5355Z" fill="var(--c30)" stroke="var(--c30)"/></svg>
    </div>
    <div class="earn__card ct__card">
        <h3>{% trans 'Руда' context "mining" %}</h3>
        <span>{% trans 'Запасы' context "mining" %}: {{ player.region.ore_has }} / {{ player.region.ore_cap }}</span>
        <p>
            <span style="display: inline-block;">
                +
                {% for fossil in fossils %}
                    {{ fossil.good.name|slice:":1" }}: <span style="display: inline-block;" class="be_mined" data-modifier="{{ be_mined_dict|dict_key:fossil }}">{% with modif=be_mined_dict|dict_key:fossil %}{{ player.energy|floor_to_tens|get_mul:modif|floor_val }}{% endwith %}</span>
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}
            </span>
        </p>
        <form class="mining_form" role="form">
            {% csrf_token %}
            <input type="hidden" name="resource" value="ore">
            <input type="number" min="0" max="100" value="{{ player.energy|floor_to_tens }}" step="10" name="energy">
            {% if player.destination %}
            <button type="button" class="btn btn-danger">{% trans 'в полете' context "daily_header" %}</button>
            {% else %}
                {% if premium %}
            <button class="start_auto" onclick="start_auto(event, 'ore')" style="{% if auto_mining.resource == 'ore' %}display:none{% endif %}">{% trans 'авто' context "mining" %}</button>
            <button class="cancel_auto" onclick="cancel_auto(event)" style="{% if not auto_mining or auto_mining.resource != 'ore' %}display:none {% endif %}">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="7" cy="7" r="6.5" stroke="var(--c60)"></circle>
                    <path d="M7 2.24V7.07L10.71 10.78" stroke="var(--c60)"></path>
                </svg>
                <span>{{ auto_mining.task.start_time|timezone:player.time_zone|date:"H:i" }}</span>
            </button>
                {% endif %}
            <button class="btn-mining eduBlock1">{% trans 'добыча' context "mining" %}</button>
            {% endif %}
        </form>
        <svg width="314" height="100" viewBox="0 0 314 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.46447 11.5355L11.5355 2.46447C12.4732 1.52678 13.745 1 15.0711 1H308C310.761 1 313 3.23857 313 6V94C313 96.7614 310.761 99 308 99H6C3.23858 99 1 96.7614 1 94V15.0711C1 13.745 1.52678 12.4732 2.46447 11.5355Z" fill="var(--c30)" stroke="var(--c30)"/></svg>
    </div>
</section>

{% endblock %}

{% block for_scripts_and_css %}
<script src='{% static "js/mining.js" %}?{{ csrf_token }}'></script>

{% if not player.educated %}
<script src="/static/redesign/js/education_n.js"></script>
{% endif %}

{% if premium %}
<script src='{% static "js/auto_mining.js" %}?{{ csrf_token }}'></script>
{% endif %}

<script>
    function applyModifier(input, beMinedElement, modifier) {
        input.addEventListener('input', () => {
            const newValue = input.value * modifier;
            beMinedElement.textContent = Math.floor(newValue);
        });
    }

    // Ищем все формы с классом .mining_form
    const forms = document.querySelectorAll('.mining_form');

    forms.forEach(form => {
        // Находим поле input[type="number"]
        const input = form.querySelector('input[type="number"]');
        // Находим все элементы с классом .be_mined внутри .earn__card
        const beMinedElements = form.closest('.earn__card').querySelectorAll('.be_mined');

        beMinedElements.forEach(beMinedElement => {
            // Получаем модификатор из атрибута data-modifier
            const modifier = parseFloat(beMinedElement.getAttribute('data-modifier'));
            // Применяем функцию для каждой пары input и beMinedElement
            applyModifier(input, beMinedElement, modifier);
        });
    });
</script>

<script>
    var check_edu = true;

    {% if not player.educated %}
    check_edu = false;

     function getFromLS(){
        return localStorage.getItem('edu_assistant');
      }

    var assist_img = this.getFromLS() ?? "/static/redesign/img/Ann.png";

    document.getElementsByClassName('edu__img')[0].src = assist_img;

    function claim_reward(id){
      var data = "&csrfmiddlewaretoken=" + csrftoken + "&edu_id=" + id;
      $.ajax({
          beforeSend: function() {},
          type: "POST",
          url: "/claim_reward/",
          data: data,
          cache: false,
          success: function(result){
              if (result.response == 'ok'){
                  actualize();
              }
          }
      });
    }

    function edu_pragma(page) {
        if (page == 5){
            claim_reward('edu_02');
        }
        if (page == 10){
            claim_reward('edu_03');
        }
        if (page == 99){
            window.location.href = "/storage";
        }
    }

    const edu = new Educator({
    onEduStart: () => { console.log('[EDU]: Started') },
    onEduEnd: () => { console.log('[EDU]: Ended'); edu_pragma(99) },
    onEduPageChange: (num) => { console.log(`[EDU]: Current page is ${num}`); edu_pragma(num) },
    onCloseEdu: () => { console.log(`[EDU]: Education closed`); claim_reward('edu_00'); },
    pages: [
        {
        text: 'Итак. В наших с Вами силах - организовывать работы на месторождениях сырья, а также добывать золото на местных приисках.',
        },
        {
        text: 'Организация работ потребует затрат Ваших сил, выраженных в Энергии, но, взамен гарантирует поток Финансирования.',
        },
        {
        text: 'Обратите внимание, что золото мы добываем по личной инициативе, поэтому инвесторы не будут оплачивать Вам эти работы.',
        },
        {
        text: 'Давайте попробуем выбить часть Финансирования из них прямо сейчас, организовав добычу сырья.',
        awaitedDomElemClass: 'eduBlock1',
        },
        {
        text: 'Отлично! Работа выполнена, средства поступили. Можно забирать.',
        awaitedDomElemClass: 'eduBlock2',
        },
        {
        text: 'Награда: 200 золота',
        rewardImgUrl: '/static/redesign/img/200_gold.png',
        },
        {
        text: 'Я стараюсь, чтобы Ваше расписание не было загружено слишком сильно. Благодаря этому, вы можете постепенно восстановить Энергию естественным путём.',
        awaitedDomElemClass: 'eduBlockMining3',
        onlyGlowing: true,
        },
        {
        text: 'Но иногда, обстоятельства требуют от нас вложения дополнительных сил. На этот случай у нас есть Энергетики.',
        },
        {
        text: 'Энергетики - ценный ресурс, получаемый за Золото, которое мы с Вами добываем. Они позволяют восполнять запасы Энергии без ожидания.',
        },
        {
        text: 'Я как раз принесла вам баночку. Или вам перелить в более изящную ёмкость?',
        awaitedDomElemClass: 'eduBlockMining4',
        },
        {
        text: 'Награда: 200 золота',
        rewardImgUrl: '/static/redesign/img/200_gold.png',
        },
        {
        text: 'Как ощущения? Снова полны сил? Тогда давайте организуем добычу сырья ещё раз, чтобы Ваш заряд бодрости не пропал даром!',
        awaitedDomElemClass: 'eduBlock1',
        },
        {
        text: 'Отлично! А вот и новый транш...',
        awaitedDomElemClass: 'eduBlock2',
        },
        {
        text: 'Теперь, давайте изучим добытое Вами. Для этого совершим прогулку до регионального Склада',
        },
    ]
  })

  {% endif %}
</script>

{% endblock %}