{% extends 'player/redesign/header.html' %}
{% load l10n %}{% load i18n %}
{% load floor_to_tens %}
{% load static %}
{% load tz %}
{% block content %}

<section class="earn" id="mining_main">
    <h1 class="earn__title ct__page-title">{% trans 'Добыча' context "mining" %}</h1>
    <p class="earn__info">
        {% trans 'Потрать энергию и получи' context "daily_header" %} <br>
        {% trans 'до' context "daily_header" %} $ {{ daily_limit }}<span class="info__gold"> + G 100</span> {% trans 'за день!' context "daily_header" %}
    </p>
    <div class="earn__energy-wrapper ct__widebar">
        <span>{% trans 'энергии потрачено' context "daily_header" %}:</span>
        <div class="ct__widebar-bar">
            <span id="energy_consumption">{{ player.energy_consumption }}</span>
            <span> / </span>
            <span id="daily_energy_limit">{{ daily_energy_limit }}</span>
            <div style="width: {{ daily_procent }}%;" class="ct__widebar-fill" id="energy_progressbar"></div>
        </div>
    </div>
    <form class="cash_retrieve" role="form">
        {% csrf_token %}
        <button {% if player.destination %}disabled{% endif %} class="earn__long-btn ct__long-btn btn">
            {% if player.destination %}
            <span>{% trans 'в полете' context "daily_header" %}</span>
            {% else %}
            <span class="process" style="display: none">{% trans 'получаем' context "daily_header" %}...</span>
            <span style="display: inline-block;">{% trans 'получить' context "daily_header" %}: $</span>
            <span style="display: inline-block;" id="daily_current_sum">{{ daily_current_sum }}</span>
            {% endif %}
            <svg width="176" height="31" viewBox="0 0 176 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_36_212" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="-1" width="176" height="32">
                <path d="M0 5.78935L5.78947 -0.00012207H176V23.1578L169.053 30.1051H0V5.78935Z" fill="var(--c10two)"/>
                </mask>
                <g mask="url(#mask0_36_212)">
                    <path d="M0 5.78935L5.78947 -0.00012207H176V23.1578L169.053 30.1051H0V5.78935Z" fill="var(--c10two)"/>
                    {% if not player.destination %}
                    <path class="treg1" opacity="0.2" d="M38.1333 -14.0492L68.5505 38.635H7.71606L38.1333 -14.0492Z" fill="var(--c10one)"/>
                    <path class="treg2" opacity="0.2" d="M110.911 -13.8387L99.6371 22.9836L73.385 -5.19097L110.911 -13.8387Z" fill="var(--c10one)"/>
                    <path class="treg3" opacity="0.2" d="M169.098 6.14752L158.04 25.3L146.983 6.14752L169.098 6.14752Z" fill="var(--c10one)"/>
                    {% endif %}
                </g>
            </svg>
        </button>
    </form>
    <p class="earn__after-btn">
        {% trans 'уже получено' context "daily_header" %}:
        ${{ player.paid_sum }}
    </p>
    <div class="earn__card ct__card">
        <h3>{% trans 'Золото' context "mining" %}</h3>
        <span>{% trans 'Запасы' context "mining" %}: {{ player.region.gold_has }} / {{ player.region.gold_cap }}</span>
        <p></p>
        <form class="mining_form" role="form">
            {% csrf_token %}
            <input type="hidden" name="resource" value="gold">
            <input type="number" min="0" max="100" value="{{ player.energy|floor_to_tens }}" step="10" name="energy">
            {% if player.destination %}
            <button disabled>{% trans 'в полете' context "daily_header" %}</button>
            {% else %}
                {% if premium %}
                <button class="start_auto" onclick="start_auto(event, 'gold')" style="{% if auto_mining.resource == 'gold' %}display:none{% endif %}">{% trans 'авто' context "mining" %}</button>
                <button class="cancel_auto" onclick="cancel_auto(event)" style="{% if not auto_mining or auto_mining.resource != 'gold' %}display:none {% endif %}">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="7" cy="7" r="6.5" stroke="var(--c60)"></circle>
						<path d="M7 2.24V7.07L10.71 10.78" stroke="var(--c60)"></path>
					</svg>
                    <span>{{ auto_mining.task.start_time|timezone:player.time_zone|date:"H:i" }}</span>
                </button>
                {% endif %}
            <button class="btn-mining">{% trans 'добыча' context "mining" %}</button>
            {% endif %}
        </form>
        <svg width="314" height="100" viewBox="0 0 314 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.46447 11.5355L11.5355 2.46447C12.4732 1.52678 13.745 1 15.0711 1H308C310.761 1 313 3.23857 313 6V94C313 96.7614 310.761 99 308 99H6C3.23858 99 1 96.7614 1 94V15.0711C1 13.745 1.52678 12.4732 2.46447 11.5355Z" fill="var(--c30)" stroke="var(--c30)"/></svg>
    </div>
    <div class="earn__card ct__card">
        <h3>{% trans 'Нефть' context "mining" %}</h3>
        <span>{% trans 'Запасы' context "mining" %}: {{ player.region.oil_has }} / {{ player.region.oil_cap }}</span>
        <p>{% trans 'Марка нефти' context "mining" %}: {{ oil_mark }}</p>
			<form class="mining_form" role="form">
                {% csrf_token %}
                <input type="hidden" name="resource" value="oil">
				<input type="number" min="0" max="100" value="{{ player.energy|floor_to_tens }}" step="10" name="energy">
                {% if player.destination %}
                <button type="button" class="btn btn-danger">{% trans 'в полете' context "daily_header" %}</button>
                {% else %}
                    {% if premium %}
                <button class="start_auto" onclick="start_auto(event, 'oil')" style="{% if auto_mining.resource == 'oil' %}display:none{% endif %}">{% trans 'авто' context "mining" %}</button>
                <button class="cancel_auto" onclick="cancel_auto(event)" style="{% if not auto_mining or auto_mining.resource != 'oil' %}display:none {% endif %}">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="7" cy="7" r="6.5" stroke="var(--c60)"></circle>
						<path d="M7 2.24V7.07L10.71 10.78" stroke="var(--c60)"></path>
					</svg>
                    <span>{{ auto_mining.task.start_time|timezone:player.time_zone|date:"H:i" }}</span>
                </button>
                    {% endif %}
                <button class="btn-mining">{% trans 'добыча' context "mining" %}</button>
                {% endif %}
			</form>
        <svg width="314" height="100" viewBox="0 0 314 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.46447 11.5355L11.5355 2.46447C12.4732 1.52678 13.745 1 15.0711 1H308C310.761 1 313 3.23857 313 6V94C313 96.7614 310.761 99 308 99H6C3.23858 99 1 96.7614 1 94V15.0711C1 13.745 1.52678 12.4732 2.46447 11.5355Z" fill="var(--c30)" stroke="var(--c30)"/></svg>
    </div>
    <div class="earn__card ct__card">
        <h3>{% trans 'Руда' context "mining" %}</h3>
        <span>{% trans 'Запасы' context "mining" %}: {{ player.region.ore_has }} / {{ player.region.ore_cap }}</span>
        <p>{% trans 'Качество руды' context "mining" %}: {% for fossil in fossils %}{{ fossil.percent }}% {% if not forloop.last %} / {% endif %}{% endfor %}</p>
        <form class="mining_form" role="form">
            {% csrf_token %}
            <input type="hidden" name="resource" value="ore">
            <input type="number" min="0" max="100" value="{{ player.energy|floor_to_tens }}" step="10" name="energy">
            {% if player.destination %}
            <button type="button" class="btn btn-danger">{% trans 'в полете' context "daily_header" %}</button>
            {% else %}
                {% if premium %}
            <button class="start_auto" onclick="start_auto(event, 'ore')" style="{% if auto_mining.resource == 'ore' %}display:none{% endif %}">{% trans 'авто' context "mining" %}</button>
            <button class="cancel_auto" onclick="cancel_auto(event)" style="{% if not auto_mining or auto_mining.resource != 'ore' %}display:none {% endif %}">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="7" cy="7" r="6.5" stroke="var(--c60)"></circle>
                    <path d="M7 2.24V7.07L10.71 10.78" stroke="var(--c60)"></path>
                </svg>
                <span>{{ auto_mining.task.start_time|timezone:player.time_zone|date:"H:i" }}</span>
            </button>
                {% endif %}
            <button class="btn-mining">{% trans 'добыча' context "mining" %}</button>
            {% endif %}
        </form>
        <svg width="314" height="100" viewBox="0 0 314 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.46447 11.5355L11.5355 2.46447C12.4732 1.52678 13.745 1 15.0711 1H308C310.761 1 313 3.23857 313 6V94C313 96.7614 310.761 99 308 99H6C3.23858 99 1 96.7614 1 94V15.0711C1 13.745 1.52678 12.4732 2.46447 11.5355Z" fill="var(--c30)" stroke="var(--c30)"/></svg>
    </div>
</section>

{% endblock %}

{% block for_scripts_and_css %}
<script src='{% static "js/mining.js" %}?{{ csrf_token }}'></script>
{% if premium %}
<script src='{% static "js/auto_mining.js" %}?{{ csrf_token }}'></script>
{% endif %}
{% endblock %}