<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load redesign.player_status %}
{% load redesign.menu %}
{% load i18n %}
{% load tz %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="http://code.jquery.com/jquery.min.js"></script>

    <script src='{% static "redesign/js/header.js" %}?{{ csrf_token }}'></script>
    <script src='{% static "redesign/js/script.js" %}?{{ csrf_token }}'></script>

    <link rel="stylesheet" href='{% static "redesign/css/font.css" %}?{{ csrf_token }}'>
    <link rel="stylesheet" href='{% static "redesign/css/style.css" %}?{{ csrf_token }}'>
    <link rel="stylesheet" href='{% static "redesign/css/media.css" %}?{{ csrf_token }}'>
    <title>Wild Politics</title>
</head>


<body>
    <div class="container">
        <div class="wrapper" id="wrapper" style="">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="footer blok__bg">
                {% if player %}
                    {% if not player.banned %}
                        <!--Информация в шапке игры-->
                        {% player_status player %}
                    {% endif %}
                {% endif %}

                <!--Игровое меню-->
                {% menu %}
            </div>
        </div>
    </div>
    <script>

    </script>

</body>

</html>