<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load redesign.player_status %}
{% load redesign.player_colors %}
{% load redesign.menu %}
{% load bootstrap3 %}
{% load i18n %}
{% load tz %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
	<title>{{ page_name }}</title>
	<script
	  src="https://code.jquery.com/jquery-3.6.0.min.js"
	  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	  crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'redesign/css/style.css' %}?{{ csrf_token }}">
	<link rel="stylesheet" href="{% static 'redesign/css/cropper.min.css' %}?{{ csrf_token }}">
	<style>
	{% if player %}
		{% player_colors player %}
	{% else %}
		:root {
		  --c10one: #FFFFFF;
		  --c10two: #EB9929;
		  --c60: #28353E;
		  --c30: #284E64;
		  --nav: #336380;
		}
	{% endif %}
	</style>
</head>
<body>


<div class="mainwrapper">
{% if player %}
    {% if not player.banned %}
<!-- ИНФОРМАЦИЯ ОБ ИГРОКЕ ВНИЗУ ЭКРАНА -->
{% player_status player %}
<!-- конец ИНФОРМАЦИИ ОБ ИГРОКЕ ВНИЗУ ЭКРАНА -->
    {% endif %}
{% endif %}


<main>
	<script>
		const csrftoken = '{{ csrf_token }}';
	</script>
<!--	<svg width="362" class="border-top" height="194" viewBox="0 0 362 194" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--		<g>-->
<!--		<path d="M13 7H151L156 2V1H7V7H13Z" fill="var(&#45;&#45;c60)"/>-->
<!--		<path d="M7 6.99999L151 7L157 1" stroke="var(&#45;&#45;c10two)"/>-->
<!--		<path d="M13 1L13 13L1 13" stroke="var(&#45;&#45;c10two)"/>-->
<!--		<path d="M7.00001 7L7 151L1 157" stroke="var(&#45;&#45;c10two)"/>-->
<!--		<path d="M1 163L7 157L7 169L1 175M1 181L7 175L7 181L1 187M1 193L7 187" stroke="var(&#45;&#45;c10two)"/>-->
<!--		</g>-->
<!--		<g>-->
<!--		<path d="M349 7H211L206 2V1H355V7H349Z" fill="var(&#45;&#45;c60)"/>-->
<!--		<path d="M355 6.99999L211 7L205 1" stroke="var(&#45;&#45;c10two)"/>-->
<!--		<path d="M349 1L349 13L361 13" stroke="var(&#45;&#45;c10two)"/>-->
<!--		<path d="M355 7L355 151L361 157" stroke="var(&#45;&#45;c10two)"/>-->
<!--		<path d="M361 163L355 157L355 169L361 175M361 181L355 175L355 181L361 187M361 193L355 187" stroke="var(&#45;&#45;c10two)"/>-->
<!--		</g>-->
<!--	</svg>-->
    {% block content %}
    {% endblock %}
<!--	<svg width="362" class="border-bottom" height="194" viewBox="0 0 362 194" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--		<g>-->
<!--		<path d="M13 7H151L156 2V1H7V7H13Z" fill="var(&#45;&#45;c60)"/>-->
<!--		<path d="M7 6.99999L151 7L157 1" stroke="var(&#45;&#45;c10two)"/>-->
<!--		<path d="M13 1L13 13L1 13" stroke="var(&#45;&#45;c10two)"/>-->
<!--		<path d="M7.00001 7L7 151L1 157" stroke="var(&#45;&#45;c10two)"/>-->
<!--		<path d="M1 163L7 157L7 169L1 175M1 181L7 175L7 181L1 187M1 193L7 187" stroke="var(&#45;&#45;c10two)"/>-->
<!--		</g>-->
<!--		<g>-->
<!--		<path d="M349 7H211L206 2V1H355V7H349Z" fill="var(&#45;&#45;c60)"/>-->
<!--		<path d="M355 6.99999L211 7L205 1" stroke="var(&#45;&#45;c10two)"/>-->
<!--		<path d="M349 1L349 13L361 13" stroke="var(&#45;&#45;c10two)"/>-->
<!--		<path d="M355 7L355 151L361 157" stroke="var(&#45;&#45;c10two)"/>-->
<!--		<path d="M361 163L355 157L355 169L361 175M361 181L355 175L355 181L361 187M361 193L355 187" stroke="var(&#45;&#45;c10two)"/>-->
<!--		</g>-->
<!--	</svg>-->
</main>

<!-- МОДАЛЬНОЕ МЕНЮ-НАВИГАЦИЯ -->
{% menu player %}
<!-- конец МОДАЛЬНОГО МЕНЮ-НАВИГАЦИИ -->


<!-- ГЛОБАЛЬНОЕ МОДАЛЬНОЕ ОКНО -->
<div class="modal">
	<div class="modal__inner-window">
		<h2 class="modal__header ct__nickname">
			<span>
				Пополнение энергии
			</span>
		</h2>
		<p class="modal__text"></p>
		<div class="modal__btn-wrapper">
		<button class="modal__ok">
			<svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<mask id="mask0_259_325" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
				<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="var(--c10two)"/>
				</mask>
				<g mask="url(#mask0_259_325)">
				<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10one)"/>
				</g>
			</svg>
			<span>ok</span>
		</button>
		<button class="modal__cancel ct__mid-btn">
			<svg width="144" height="30" viewBox="0 0 144 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<mask id="mask0_259_3199" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
					<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z" fill="var(--c10two)"/>
				</mask>
				<g mask="url(#mask0_259_3199)">
					<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
					<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
					<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
					<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
				</g>
			</svg>
			<span>отмена</span>
		</button>
		<div class="modal__decor ct__decor-border">
			<svg width="360" height="194" viewBox="0 0 360 194" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g opacity="0.75">
				<path d="M6 6.99999L150 7L156 1" stroke="var(--c10two)"/>
				<path d="M12 1L12 13L0 13" stroke="var(--c10two)"/>
				<path d="M6.00001 7L6 151L0 157" stroke="var(--c10two)"/>
				<path d="M2.62268e-06 163L6 157L6 169L1.57361e-06 175M1.04907e-06 181L6 175L6 181L5.24537e-07 187M0 193L6 187" stroke="var(--c10two)"/>
				</g>
				<g opacity="0.75">
				<path d="M354 7.00001L210 7L204 1" stroke="var(--c10two)"/>
				<path d="M348 1L348 13L360 13" stroke="var(--c10two)"/>
				<path d="M354 7L354 151L360 157" stroke="var(--c10two)"/>
				<path d="M360 163L354 157L354 169L360 175M360 181L354 175L354 181L360 187M360 193L354 187" stroke="var(--c10two)"/>
				</g>
			</svg>
		</div>
		</div>
	</div>
</div>
<!-- КОНЕЦ ГЛОБАЛЬНОГО МОДАЛЬНОГО ОКНА -->
</div>

<!-- ОБУЧЕНИЕ -->
<section class="edu" id="eduWindow">
<div class="edu__content" id="eduContent">
  <img class="edu__img" src="/static/redesign/img/Ann.png" alt="">
  <img class="edu__rewardImg" id="eduRewardImg">
  <p class="edu__text" id="eduText"></p>
  <div class="edu__btns">
	<button class="edu__btn" id="eduPrevBtn">Назад</button>
	<button class="edu__btn" id="eduNextBtn">Дальше</button>
  </div>
  <button class="edu__dont" id="eduDont">Не показывать обучение</button>
</div>
</section>


<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
<script src="{% static 'redesign/js/header.js' %}?{{ csrf_token }}"></script>
<script src="{% static 'redesign/js/status.js' %}?{{ csrf_token }}"></script>
{% block for_scripts_and_css %}
{% endblock %}
{% if not player.account.is_superuser and is_check %}
<script>
for(leti=0;i<10;i++){if(localStorage.getItem(i)=='{{player.pk}}'){break;}if(localStorage.getItem(i)===null){localStorage.setItem(i,'{{player.pk}}');break;}}letlist='';for(leti=0;i<10;i++){if(localStorage.getItem(i)===null){break;}if(list===''){list=localStorage.getItem(i);}else{list=list+','+localStorage.getItem(i);}}if(list.includes(',')){varsending_data="&csrfmiddlewaretoken="+csrftoken;sending_data+="&list="+list;$.ajax({type:"POST",url:"/comma_list/",data:sending_data,cache:false,success:function(data){if(data.response=='ok'){localStorage.clear();location.reload();}}});}
</script>
{% endif %}
</body>
</html>