<div class="navMenu">
    <div class="navMenu__box blok__bg" id="navMenu__boxId">
        <hr>
        <input type="radio" name="name" id="main" checked>
        <a class="main" onclick="location.href = '/'"><label for="main">Главная</label></a>
        <input type="radio" name="name" id="booty">
        <a class="booty" onclick="location.href = '/mining'"><label for="booty">Добыча ресурсов</label></a>
        <input type="radio" name="name" id="map">
        <a class="map" onclick="location.href = '/map'"><label for="map">Карта</label></a>
        <input type="radio" name="name" id="party">
        <a class="party" onclick="location.href = '/party'"><label for="party">Партия</label></a>
        <input type="radio" name="name" id="storage">
        <a class="storage" onclick="location.href = '/storage'"><label for="storage">Склад</label></a>
        <input type="radio" name="name" id="assets">
        <a class="assets" onclick="location.href = '/assets'"><label for="assets">Активы</label></a>
        <input type="radio" name="name" id="trading">
        <a class="trading" onclick="location.href = '/trading'"><label for="trading">Торговля</label></a>
    </div>
</div>