{% load l10n %}{% load i18n %}
{% load static %}

'overview world block': "Здесь собрана информация о мире игры: население, онлайн, число партий, стран, независимых регионов",

'overview state block': "Здесь вы можете узнать информацию о государстве вашего местонахождения: население, онлайн, число партий",

'overview region block': "Здесь вы можете узнать больше о регионе вашего местонахождения: население, онлайн, число партий",

'overview skills block': "Здесь вы можете развить своего персонажа, улучшив одну их трёх основных характеристик - Силу, Интеллект, Выносливость",

'overview war block': "Здесь отображается ближайшая к вам война, проходящая в государстве или мире в целом",

'overview event block': "Это особое событие, проходящее в мире Wild Politics прямо сейчас. Успейте принять участие!",

'overview pres_elections block': "Выборы президента, проходящие в стране вашего местонахождения",

'overview chat block': "Общий чат, где вы можете пообщаться со всеми игроками",