{% load l10n %}{% load i18n %}
{% load static %}
<div class="menu">
    <div class="otherMenu">
        <div class="menu__profile">
            <a href="/profile/"><img src="{% if player.image %}{{ player.image.url }}{% else %}{% static 'img/nopic.png' %}{% endif %}" alt="user_photo"></a>
        </div>
    </div>
    <div class="resources__item power__item">
        <img src="{% static 'redesign/img/power.png' %}" alt="power_image">
        <p id="energy">{{ player.energy }}</p>
        <script>
            const csrftoken = '{{ csrf_token }}';
        </script>
        <button class="resources__item-addPower" data-text="{{ countdown }}" onclick="recharge()" id="refill-countdown"><span>{{ time_text }}</span></button>
    </div>
    <div class="currency">
        <ul class="currency__box">
            <script>
                const locked_txt = 'Заблокировано: ';
            </script>
            <li class="cash__item"><img src="{% static 'redesign/img/cash.svg' %}" alt="cash_image">
                <p id="cash" data-title="Заблокировано: {% if locked %}{{ locked }}{% else %}0{% endif %}" {% localize off %} data-text="{{ player.cash }}" {% endlocalize %} class="itemData-title">{{ player.cash }}</p>
            </li>
            <li class="gold__item"><img src="{% static 'redesign/img/gold.svg' %}" alt="gold_image">
                <p data-text="{{ player.gold }}">{{ player.gold }}</p>
            </li>
        </ul>
    </div>
    <button class="menu__button" id="buttonID">
        <hr class="menu__button-hr">
        <hr class="menu__button-hr">
        <hr class="menu__button-hr">
    </button>
</div>