{% load l10n %}{% load i18n %}
{% load static %}
<header class="info">

	<a href="/profile" class="info__profile-link">
		<img {% if player.image %}src="{{ player.image.url }}"{% else %}src="{% static 'img/nopic.png' %}"{% endif %} class="info__ava"> <!-- аватар игрока -->
	</a>

	<div class="info__left-col">
		<p class="info__money">
			$
			<span id="cash"{% localize off %} data-text="{{ player.cash }}" {% endlocalize %}>
				{{ player.cash }} <!-- значение денег -->
			</span>
		</p>
		<p class="info__gold">
			G
			<span id="gold" data-text="{{ player.gold }}">
				{{ player.gold }} <!-- значение голды -->
			</span>
		</p>
		<p class="info__energy">
			⚡
			<span id="energy" class="info__energy-move-left">
				{{ player.energy }} <!-- значение текущей энергии -->
			</span>
		</p>
	</div>

	<div class="info__right-col">
		<script>
            const refill_button_txt = 'пополнить';
        </script>
		<button id="refill-countdown" data-text="{{ countdown }}" onclick="recharge()" class="info__add-energy">
			<span class="info__fill-text">
				{% if time_text %}
                {{ time_text }}
                {% else %}
                пополнить
                {% endif %}
			</span>
		</button>
		{% if increase_time %}
		<div class="info__right-col-wrapper" id="increase_line">
			<p class="info__plus">
				+
				<span id="increase_value" data-value="{{ increase_value }}">
					{{ increase_value }} <!-- значение насколько пополнится энергия через время -->
				</span>
				<span class="info__move-en-left">⚡</span>
			</p>

			<p class="info__plus-time" id="increase-countdown" data-text="{{ increase_time }}">
				<span>
					{{ increase_text }} <!-- значение времени восполнения энергии -->
				</span>
			</p>
		</div>
		{% endif %}
	</div>

	<button class="info__open-nav">
		<div id="burger">
			<i></i>
		</div>
	</button>

</header>