{% load static %}{% load get_div %}{% load tz %}
{% load l10n %}{% load i18n %}
<div class="ct__s">
    <h2 class="ct__s-title">{% trans 'золото за репост' context "repost" %}</h2>
    <p class="ct__s-text">{% trans 'поддержи проект репостом и получай золото!' context "repost" %}</p>
</div>

<div class="ct__s">
    <h2 class="ct__s-title">{% trans 'запись для репоста' context "repost" %}</h2>
    <p class="ct__s-text">
        <a href="https://vk.com/wall-164930433_4379">{% trans 'перейти к записи (ссылка)' context "repost" %}</a><br>
        {% trans 'Для получения золота запись должна' context "repost" %}: <br>
        - {% trans 'быть первой сверху (или после закрепа)' context "repost" %} <br>
        - {% trans 'пробыть на стене не меньше часа' context "repost" %} <br>
        {% trans 'Бонус можно получить раз в сутки' context "repost" %}
    </p>
</div>
{% if not repost %}
<p class="profile__repost-status">{% trans 'репост не найден' context "repost" %}</p>
{% else %}
<p class="profile__repost-status ok" style="display: none;">{% trans 'репост найден' context "repost" %}</p>
{% endif %}
{% if is_error %}
<p>{% trans 'Произошла ошибка API VK' context "repost" %}</p>
<p>{% trans 'Обычно помогает повторный логин в игре' context "repost" %}</p>
<a href="/accounts/logout/" class="ct__long-btn">{% trans 'Выйти из игры' context "repost" %}</a>
{% endif %}
{% if repost %}
{% if now_dtime > need_dtime %}
<form id="gold_4_repost" role="form" align="center">
    {% csrf_token %}
    <button class="profile__get-gold ct__long-btn">
        <span>{% trans 'Получить' context "repost" %} 100 GOLD</span>
        <svg width="176" height="31" viewBox="0 0 176 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_36_212" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="-1" width="176" height="32">
            <path d="M0 5.78935L5.78947 -0.00012207H176V23.1578L169.053 30.1051H0V5.78935Z" fill="var(--c10two)"/>
            </mask>
            <g mask="url(#mask0_36_212)">
            <path d="M0 5.78935L5.78947 -0.00012207H176V23.1578L169.053 30.1051H0V5.78935Z" fill="var(--c10two)"/>
            <path class="treg1" opacity="0.2" d="M38.1333 -14.0492L68.5505 38.635H7.71606L38.1333 -14.0492Z" fill="white"/>
            <path class="treg2" opacity="0.2" d="M110.911 -13.8387L99.6371 22.9836L73.385 -5.19097L110.911 -13.8387Z" fill="white"/>
            <path class="treg3" opacity="0.2" d="M169.098 6.14752L158.04 25.3L146.983 6.14752L169.098 6.14752Z" fill="white"/>
            </g>
        </svg>
    </button>
</form>
{% else %}
<p class="profile__repost-status">{% trans 'час не прошёл' context "repost" %}</p>
{% endif %}
{% endif %}