{% extends 'player/redesign/header.html' %}
{% load l10n %}{% load i18n %}
{% load static %}
{% load tz %}
{% load profile_blocks.redesign.repost_tab %}
{% block content %}
<section class="profile">

		<!-- НИКНЕЙМ -->
		<h1 class="ct__nickname">
			<button class="ct__nickname-edit ct__square-mid-btn" onclick="open_nickname()" style="z-index: 3;"> <!-- кнопка открыть редактирование -->
				<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"/><path d="M5.5 21.5L22.5 4.5L26.5 8.5L9.5 25.5H5.5V21.5Z" stroke="var(--c60)" stroke-width="3"/>
				</svg>
			</button>

			<button id="nickname_cancel" class="ct__nickname-exit ct__square-mid-btn" style="z-index: 3; display: none;" onclick="close_nickname()"> <!-- кнопка закрыть редактирование -->
				<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"/><path d="M4 4L26 26M4 26L26 4" stroke="var(--c60)" stroke-width="3"/>
				</svg>
			</button>

<!--			<span style="display: none;">-->
			<span id="player_nickname_view">
				{{ player.nickname }}
			</span>
			<input id="player_nickname" class="ct__nickname-input" value="{{ player.nickname }}" type="text" style="display: none">

			<button id="nickname_send" class="ct__nickname-save ct__square-mid-btn" style="z-index: 3; display: none;" onclick="send_nickname()"><!-- кнопка применить редактирование -->
				<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"/><path d="M2.5 13.5L11 22L28 5" stroke="var(--c60)" stroke-width="3"/>
				</svg>
				<span>-50G</span>
			</button>
		</h1>
		<!-- конец НИКНЕЙМА -->

		<div class="profile__top-wrapper">

			<div class="profile__top-left">

				<span class="profile__id">
					<span>
						ID: {{ player.pk }} <!-- значение ID игрока -->
					</span>
					<svg width="97" height="24" viewBox="0 0 97 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="73" height="24" fill="var(--c30)"/><path d="M97 0L73 24V0H97Z" fill="var(--c30)"/>
					</svg>
				</span>

				<img src="{% if player.image %}{{ player.image.url }}{% else %}{% static 'img/nopic.png' %}{% endif %}" class="profile__ava" {% if player.party %}{% if player.party.members_image %}{% if party_back %}style="background-image: url({{ player.party.members_image.url }}); background-size: cover;"{% endif %}{% endif %}{% endif %}>

				<form method="post" enctype="multipart/form-data" id="formUpload">
					{% csrf_token %}
					<label class="profile__load-img">
						<input type="file" name="image" accept="image/*" id="id_image" class="visually-hidden">
						<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="profile__ava-rect" d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"/><path d="M5.5 21.5L22.5 4.5L26.5 8.5L9.5 25.5H5.5V21.5Z" stroke="var(--c60)" stroke-width="3"/>
						</svg>
					</label>
					<input type="hidden" name="x" id="id_x">
					<input type="hidden" name="y" id="id_y">
					<input type="hidden" name="width" id="id_width">
					<input type="hidden" name="height" id="id_height">
                </form>
			</div>

			<div class="profile__top-right">
				<button class="profile__info ct__square-btn active"> <!-- кнопка перекл. на инфо -->
					<svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M100 10.0711L100 95C100 97.7614 97.7614 100 95 100L5 100C2.23858 100 2.66948e-08 97.7614 5.96244e-08 95L1.13286e-06 5C1.16579e-06 2.23858 2.23858 2.66947e-08 5 5.96244e-08L89.9289 1.07239e-06C91.255 1.08821e-06 92.5268 0.52678 93.4645 1.46446L98.5355 6.53554C99.4732 7.47321 100 8.74499 100 10.0711Z" fill="url(#paint0_linear_48_141)"/>
						<path class="profile__info-i1" d="M46.9877 45.4508L43.2377 46.8033L43.1147 47.8484C48.2787 45.9303 48.4631 49.1394 47.9098 50.9836L45.3279 60.082C43.6065 66.2295 51.8238 65.1844 56.1475 63.8935L56.3934 62.7869C51.5246 64.164 51.0041 61.5574 51.3525 60.082L53.8115 50.9836C55.6803 44.4918 50.041 44.5902 46.9877 45.4508Z" fill="var(--c10one)" stroke="var(--c10one)" stroke-width="2" stroke-linejoin="round"/>
						<circle class="profile__info-i2" cx="50" cy="50" r="30" stroke="var(--c10one)" stroke-width="5"/>
						<circle class="profile__info-i1" cx="53.1353" cy="37.7664" r="1.88115" fill="var(--c10one)" stroke="var(--c10one)" stroke-width="3"/>
						<defs>
						<linearGradient id="paint0_linear_48_141" x1="1.19249e-06" y1="0" x2="100" y2="99.9998" gradientUnits="userSpaceOnUse">
						<stop class="profile__info-i3" stop-color="var(--c30)"/>
						<stop class="profile__info-i4" offset="1" stop-color="var(--c30)" stop-opacity="0"/>
						</linearGradient>
						</defs>
					</svg>
				</button>
				{% if player.account.socialaccount_set.all.0.provider == 'vk' %}
				<button class="profile__repost ct__square-btn"> <!-- кнопка перекл. на репост -->
					<svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="100" height="100" rx="5" fill="url(#paint0_linear_48_140)"/>
						<path class="profile__repost-rup" d="M31.2893 33.9514L24.7691 36.2871C22.5704 38.2745 21.536 42.4944 27.0703 42.7105L28.988 42.0235M31.2893 33.9514L33.5906 40.3747M31.2893 33.9514L47.5899 19.1582M33.5906 40.3747L28.988 42.0235M33.5906 40.3747L35.7102 44.4623L36.424 53.2433L34.933 54L28.988 42.0235M33.5906 40.3747L55.4526 41.348M55.4526 41.348L47.5899 19.1582M55.4526 41.348L56.371 43.8784C56.4968 44.2736 56.998 44.969 57.9966 44.5889L58.6696 44.3327C59.0767 44.2076 59.8 43.6965 59.4366 42.6527L56.0279 32.8606M47.5899 19.1582L46.8867 17.0171C46.5121 15.8764 47.2985 15.3749 47.7386 15.2667L48.3776 15.0759C48.8102 14.9216 49.7752 14.899 50.1737 16.0439L53.6972 26.1655M53.6972 26.1655L58.3291 26.5548L59.288 29.4745L56.0279 32.8606M53.6972 26.1655L56.0279 32.8606M58.3291 22.2726L59.8633 18.7689M62.1646 26.7494L66 25.3869M61.5893 32.5888L65.2329 34.3407" stroke="var(--c10one)" stroke-width="3" stroke-linejoin="round"/>
						<path class="profile__repost-sl" d="M43.1083 47L39.6666 59H59.3333L56.3833 47H43.1083Z" fill="var(--c10two)"/>
						<path class="profile__repost-sl" d="M33.4417 60L30 72H49.6667L46.7167 60H33.4417Z" fill="var(--c10two)"/>
						<path class="profile__repost-sl" d="M43.4417 73L40 85H59.6667L56.7167 73H43.4417Z" fill="var(--c10two)"/>
						<path class="profile__repost-sl" d="M63.4417 73L60 85H79.6667L76.7167 73H63.4417Z" fill="var(--c10two)"/>
						<path class="profile__repost-sl" d="M23.4417 73L20 85H39.6667L36.7167 73H23.4417Z" fill="var(--c10two)"/>
						<path class="profile__repost-sl" d="M53.4417 60L50 72H69.6667L66.7167 60H53.4417Z" fill="var(--c10two)"/>
						<defs>
						<linearGradient id="paint0_linear_48_140" x1="0" y1="0" x2="100" y2="100" gradientUnits="userSpaceOnUse">
						<stop class="profile__repost-g1" stop-color="var(--c30)"/>
						<stop class="profile__repost-g2" offset="1" stop-color="var(--c30)" stop-opacity="0"/>
						</linearGradient>
						</defs>
					</svg>
				</button>
				{% endif %}
			</div>

			<button class="profile__settings">

				<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
				width="80px" height="76px" viewBox="0 0 1280.000000 1276.000000"
				preserveAspectRatio="xMidYMid meet">
				<g transform="translate(0.000000,1276.000000) scale(0.100000,-0.100000)"
				fill="var(--c10two)" stroke="none">
				<path d="M5975 12749 c-86 -6 -144 -14 -151 -22 -6 -6 -36 -95 -67 -197 -30
				-102 -119 -396 -197 -655 -78 -258 -156 -516 -173 -571 l-30 -102 -188 -46
				c-213 -52 -475 -135 -658 -208 -68 -27 -130 -47 -137 -44 -7 3 -301 221 -653
				485 -353 265 -644 481 -649 481 -11 0 -250 -145 -362 -220 -206 -137 -422
				-299 -608 -456 l-25 -21 271 -746 c150 -411 272 -752 272 -758 0 -6 -40 -56
				-88 -112 -175 -202 -337 -420 -457 -615 -32 -52 -64 -96 -72 -99 -8 -3 -366 4
				-796 16 -430 12 -794 21 -808 21 -23 0 -30 -9 -56 -67 -61 -137 -142 -353
				-202 -538 -61 -186 -145 -494 -138 -502 2 -2 303 -204 668 -448 562 -377 665
				-450 670 -473 3 -15 1 -72 -4 -127 -8 -99 -2 -525 11 -702 l7 -92 -668 -448
				c-368 -246 -673 -450 -678 -453 -9 -6 22 -146 72 -320 71 -249 180 -554 284
				-794 l17 -39 141 6 c78 4 443 14 810 24 l668 17 25 -29 c13 -17 68 -95 120
				-174 113 -169 222 -314 350 -467 l93 -111 -275 -752 c-151 -414 -274 -757
				-272 -761 5 -14 213 -185 361 -296 225 -170 606 -418 631 -412 7 2 299 219
				649 482 l637 479 47 -15 c27 -9 84 -30 128 -48 183 -74 392 -141 619 -200 81
				-21 149 -40 151 -42 3 -3 222 -724 386 -1273 38 -126 73 -239 78 -251 8 -18
				24 -22 137 -33 314 -30 1078 -22 1110 12 6 7 36 95 67 197 30 102 119 396 197
				655 78 259 156 516 173 571 l30 102 188 46 c213 52 475 135 658 208 68 27 130
				47 137 44 7 -3 301 -221 653 -485 353 -265 644 -481 649 -481 11 0 250 145
				362 220 206 137 422 299 608 456 l25 21 -271 746 c-150 411 -272 752 -272 758
				0 6 40 56 88 112 175 202 337 420 457 615 32 52 64 96 72 99 8 3 366 -4 796
				-16 430 -12 794 -21 808 -21 23 0 30 9 56 68 61 136 142 352 202 537 61 186
				145 494 138 502 -2 2 -303 204 -668 448 -562 377 -665 450 -670 473 -3 15 -1
				72 4 127 8 99 2 527 -11 702 l-7 92 668 448 c368 246 673 450 678 453 9 6 -22
				146 -72 320 -71 249 -180 554 -284 794 l-17 39 -141 -6 c-78 -4 -443 -14 -810
				-24 l-668 -17 -25 29 c-13 17 -68 95 -120 174 -113 169 -222 314 -350 467
				l-93 111 275 752 c151 414 274 757 272 761 -5 14 -213 185 -361 296 -225 170
				-606 418 -631 412 -7 -2 -299 -219 -649 -482 l-637 -479 -47 15 c-27 9 -84 30
				-128 48 -183 74 -392 141 -619 200 -81 21 -149 40 -151 42 -3 3 -222 724 -386
				1273 -38 127 -73 239 -78 251 -8 18 -24 22 -137 33 -164 16 -775 22 -959 10z
				m2253 -2919 c73 -39 115 -83 151 -160 22 -46 26 -69 26 -140 0 -73 -4 -93 -28
				-142 -32 -65 -95 -125 -165 -159 -70 -34 -198 -38 -274 -9 -259 97 -294 456
				-58 598 76 45 102 52 200 49 74 -3 93 -7 148 -37z m-1586 -1425 c407 -47 749
				-184 1073 -428 176 -133 407 -392 514 -575 177 -306 264 -594 291 -969 10
				-128 9 -170 -5 -270 -45 -333 -152 -618 -334 -890 -437 -654 -1225 -1012
				-2023 -918 -407 47 -749 184 -1073 428 -176 133 -407 392 -514 575 -177 306
				-264 594 -291 969 -10 128 -9 170 5 270 33 241 90 435 190 639 274 563 772
				963 1390 1119 244 62 523 80 777 50z m-3348 -134 c182 -89 246 -300 143 -472
				-62 -103 -173 -163 -302 -162 -193 2 -335 144 -337 338 -3 248 268 409 496
				296z m6489 -3167 c131 -46 218 -173 219 -321 1 -62 -4 -82 -31 -137 -37 -75
				-92 -128 -170 -164 -81 -38 -202 -38 -282 -1 -79 37 -133 90 -171 167 -29 58
				-33 77 -33 143 0 65 5 85 33 142 79 159 263 232 435 171z m-4919 -1565 c73
				-27 148 -96 183 -167 24 -50 28 -69 28 -147 0 -73 -4 -99 -23 -136 -34 -70
				-84 -122 -154 -160 -60 -32 -68 -34 -163 -34 -95 0 -103 2 -163 34 -74 40
				-116 85 -150 159 -83 182 5 385 196 454 67 24 177 23 246 -3z"/>
				</g>
				</svg>
				<span>{% trans 'настройки' %}</span>
			</button>

		</div>

		<div class="profile__tabs-wrapper">
			<!-- ВКЛАДКА ИНФОРМАЦИЯ -->
			<div class="profile__info-tab">

				<div class="ct__s">
					<h2 class="ct__s-title">{% trans 'премиум-аккаунт' context "profile" %}</h2>
					<p class="ct__s-text">
						{% if premium %}{% trans 'до' context "profile" %} {{ premium|timezone:player.time_zone|date:"d.m.Y H:i" }}{% else %}{% trans 'не активен' context "profile" %}{% endif %}
					</p>
				</div>

				<div class="ct__s">
					<h2 class="ct__s-title">{% trans 'характеристики' context "profile" %}</h2>
					<p class="ct__s-text">
						<font color="FF0000">{{ player.power }}</font>
						/
						<font color="337AB7">{{ player.knowledge }}</font>
						/
						<font color="#18D04C">{{ player.endurance }}</font>
					</p>
				</div>


				<div class="ct__s">
					<h2 class="ct__s-title">{% trans 'место жительства' context "profile" %}</h2>
					<p class="ct__s-text">
						<a href="/region/{{ player.region.pk }}/">
							{{ player.region }}
						</a>
					</p>
				</div>

				<div class="ct__s">
					<h2 class="ct__s-title">{% trans 'прописка' context "profile" %}</h2>
					<p class="ct__s-text">
						<a href="/region/{{ player.residency.pk }}/">
							{{ player.residency }}, с: {{ player.residency_date|timezone:player.time_zone|date:"d.m.Y H:i" }}
						</a>
					</p>
				</div>

				<div class="ct__s">
					<h2 class="ct__s-title">{% trans 'партия' %}</h2>
					<p class="ct__s-text">
						{% if player.party %}{{ player.party.title }}{% else %}{% trans 'беспартийный' %}{% endif %}
						<a href="/party_history/{{ player.pk }}/">
							{% trans '(история)' context "profile" %}
						</a>
					</p>
				</div>

				<div class="ct__s">
					<h2 class="ct__s-title">{% trans 'должность в партии' %}</h2>
					<p class="ct__s-text">
						{% if player.party_post %}{{ player.party_post.title }}{% else %}{% trans 'беспартийный' %}{% endif %}
					</p>
				</div>

				<div class="ct__s">
					<h2 class="ct__s-title ct__s-title--about">
						<!-- редактировать "о себе" -->
						<button id="bio_edit" class="ct__s-edit ct__square-small-btn" onclick="open_bio()">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M20.8 24H0V0H24V20.8L20.8 24Z" fill="var(--c10two)"/>
								<path d="M4.40002 17.2L18 3.6L21.2 6.8L7.60002 20.4H4.40002V17.2Z" stroke="var(--c60)" stroke-width="3"/>
							</svg>
						</button>
						<!-- отмена редактирования "о себе" -->
						<button id="bio_cancel" class="ct__s-exit ct__square-small-btn" style="display: none" onclick="close_bio()">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M20.8 24H0V0H24V20.8L20.8 24Z" fill="var(--c10two)"/>
								<path d="M3 21L21 3M21 21L3 3" stroke="var(--c60)" stroke-width="3"/>
							</svg>
						</button>
						<!-- схоранить редактирование "о себе" -->
						<button id="bio_send" class="ct__s-save ct__square-small-btn" style="display: none" onclick="send_bio()">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M20.8 24H0V0H24V20.8L20.8 24Z" fill="var(--c10two)"/>
								<path d="M2 10.8L8.8 17.6L22.4 4" stroke="var(--c60)" stroke-width="3"/>
							</svg>
						</button>
						<span>{% trans 'о себе' %}:</span>
					</h2>
					<p id="player_bio_view" class="ct__s-text" >{% if not player.bio %}{{ user_link }}{% else %}{{ player.bio }}{% endif %}</p>
					<textarea id="player_bio" class="profile__s-textarea" cols="30" rows="10" onfocus="hideProfileTop()" onblur="showProfileTop()" style="display: none">
						{% if not player.bio %}{{ user_link }}{% else %}{{ player.bio }}{% endif %}
					</textarea>
				</div>
			</div>
			<!-- конец ВКЛАДКИ ИНФОРМАЦИЯ -->

			{% if player.account.socialaccount_set.all.0.provider == 'vk' %}
			<!-- ВКЛАДКА РЕПОСТ -->
			<div class="profile__repost-tab">
				{% repost_tab player %}
			</div>
			<!-- конец ВКЛАДКИ РЕПОСТ -->
			{% endif %}
		</div>


	</section>

<!--	<script>-->
<!--	  const profileTopWrapper = document.querySelector('.profile__top-wrapper');-->
<!--	  const profileInfoTab = document.querySelector('.profile__info-tab');-->
<!--	  function hideProfileTop() {-->
<!--		profileTopWrapper.classList.add('hidden');-->
<!--		profileInfoTab.scrollTop(9999)-->
<!--	  }-->
<!--	  function showProfileTop() {-->
<!--		profileTopWrapper.classList.remove('hidden');-->
<!--	  }-->
<!--	</script>-->

	<!-- ОБРЕЗКА ИЗОБРАЖЕНИЙ МОДАЛКА -->
	<div class="img_modal" id="modalCrop">
		<div class="modal-cropper-wrapper">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" id="crop-close" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<img id="image" src="" alt="The image to preview" style="width: 274.129px; height: 274.129px; transform: translateX(-13.0647px);"></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="btn-l-wrapper">
					<div class="btn-group pull-left" role="group" style="margin-right: 5px;">
						<button type="button" class="btn btn-default js-zoom-in">
							<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 18L6 13" stroke="var(--c60)"/>
								<circle cx="11" cy="8" r="7.5" stroke="var(--c60)"/>
								<path d="M11 4V12M15 8H7" stroke="var(--c60)"/>
							</svg>
						</button>
						<button type="button" class="btn btn-default js-zoom-out">
							<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 18L6 13" stroke="var(--c60)"/>
								<circle cx="11" cy="8" r="7.5" stroke="var(--c60)"/>
								<path d="M15 8H7" stroke="var(--c60)"/>
							</svg>
						</button>
					</div>
					<div class="btn-group pull-left" role="group">
						<button type="button" class="btn btn-default js-pic-up">
							<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10 1L1 10M10 1L19 10M10 1V19" stroke="var(--c60)"/>
							</svg>
						</button>
						<button type="button" class="btn btn-default js-pic-down">
							<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10 18L19 9M10 18L1 9M10 18V0" stroke="black"/>
							</svg>
						</button>
					</div>
				</div>
				<div class="btn-r-wrapper">
					<button type="button" class="btn btn-default back-crop-js" data-dismiss="modal">{% trans 'Отмена' %}</button>
					<button type="button" class="btn btn-primary js-crop-and-upload">{% trans 'Загрузить' %}, -100 G</button>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'redesign/js/cropper.min.js' %}?{{ csrf_token }}"></script>
	<!-- КОНЕЦ ОБРЕЗКИ ИЗОБРАЖЕНИЙ МОДАЛКА -->

	<!-- МОДАЛЬНОЕ ОКНО НАСТРОЕК -->
	<div class="m-sett">
		<button class="m-sett__close ct__square-mid-btn">
			<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M26 30H0V0H30V26L26 30Z" fill="var(--c10two)"/><path d="M4 4L26 26M4 26L26 4" stroke="var(--c60)" stroke-width="3"/>
			</svg>
		</button>
		<form id="color_set" role="form" method="post" class="m-sett__form">
			<!--выбор языка-->
			<label class="m-sett__form-label ct__wide-modal-label-select">
				<select id="lang_change">
					{% get_current_language as LANGUAGE_CODE %}
					{% get_available_languages as LANGUAGES %}
					{% get_language_info_list for LANGUAGES as languages %}
					{% for lang in languages %}
					<option value='{{ lang.code }}' {% if lang.code == LANGUAGE_CODE %}selected{% endif %}>{{ lang.name_local }}</option>
					{% endfor %}
				</select>
				<svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
				</svg>
			</label>
			<!--выбор часового пояса-->
			<label class="m-sett__form-label ct__wide-modal-label-select">
				<select id="tz_change">
					{% for tz in timezones %}
					<option value="{{ tz }}" {% if tz == player.time_zone %}selected{% endif %}>{{ tz }}</option>
					{% endfor %}
				</select>
				<svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L7.5 7L14 1" stroke="var(--c10one)"/>
				</svg>
			</label>
			<!--чекбокс-->
			<div class="m-sett__form-check ct__check-box30">
				<label for="ava_back_change">
					<input id="ava_back_change" type="checkbox" class="visually-hidden" {% if party_back %}checked{% endif %}>
					<svg width="24" height="24" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M24.3536 19.3536L24.5 19.2071V19V1V0.5H24H6H5.79289L5.64645 0.646447L0.646447 5.64645L0.5 5.79289V6V24V24.5H1H19H19.2071L19.3536 24.3536L24.3536 19.3536Z" stroke="var(--c10two)"/>
					</svg>
					<span>
						<svg width="24" height="24" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M24.3536 19.3536L24.5 19.2071V19V1V0.5H24H6H5.79289L5.64645 0.646447L0.646447 5.64645L0.5 5.79289V6V24V24.5H1H19H19.2071L19.3536 24.3536L24.3536 19.3536Z" stroke="var(--c10two)"/>
							<path d="M6.5 4.5L4.5 6.5V20.5H18.5L20.5 18.5V4.5H6.5Z" fill="var(--c10two)" stroke="var(--c10two)"/>
						</svg>
					</span>
					{% trans 'показывать партийный фон' context "profile" %}
				</label>
			</div>


			{% csrf_token %}
			<div class="m-sett__colors">
				<label class="m-sett__l-color">
					<input type="color" value="#{{ color_back }}" name="color_back" id="color_back">
				</label>
				<label class="m-sett__l-color">
					<input type="color" value="#{{ color_block }}" name="color_block" id="color_block">
				</label>
				<label class="m-sett__l-color">
					<input type="color" value="#{{ color_text }}" name="color_text" id="color_text">
				</label>
				<label class="m-sett__l-color">
					<input type="color" value="#{{ color_acct }}" name="color_acct" id="color_acct">
				</label>
			</div>
			<button class="m-sett__save ct__mid-btn" style="margin-top: 20rem" onclick="color_default(event)">
				<svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
					<mask id="mask0_259_320" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
						<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"></path>
					</mask>
					<g mask="url(#mask0_259_320)">
						<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"></path>
						<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"></path>
						<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"></path>
						<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"></path>
					</g>
				</svg>
				<span>{% trans 'стандарт' context "profile" %}</span>
			</button>
			<button type="submit" class="m-sett__save ct__mid-btn">
				<svg width="144" height="30" viewBox="0 0 144 30" xmlns="http://www.w3.org/2000/svg">
					<mask id="mask0_259_320" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="144" height="30">
						<path d="M0 5.76923L5.76923 0H144V23.0769L137.077 30H0V5.76923Z"/>
					</mask>
					<g mask="url(#mask0_259_320)">
						<path d="M0 5.76917L5.76923 -6.10352e-05H144V23.0769L137.077 29.9999H0V5.76917Z" fill="var(--c10two)"/>
						<path class="treg1" opacity="0.15" d="M109.266 13.4468L125.407 3.59524L125.868 22.4997L109.266 13.4468Z" fill="var(--c10one)"/>
						<path class="treg2" opacity="0.15" d="M95.6185 -3.53072L103.36 25.3596L74.4694 17.6185L95.6185 -3.53072Z" fill="var(--c10one)"/>
						<path class="treg3" opacity="0.15" d="M22.6079 -8.73057L72.591 7.62749L33.433 42.7351L22.6079 -8.73057Z" fill="var(--c10one)"/>
					</g>
				</svg>
				<span>{% trans 'сохранить' %}</span>
			</button>
		</form>
	</div>
	<!-- КОНЕЦ МОДАЛЬНОГО ОКНА НАСТРОЕК -->


	<script src="{% static 'redesign/js/profile.js' %}?{{ csrf_token }}"></script>
	<script src="{% static 'redesign/js/cropper.js' %}?{{ csrf_token }}"></script>

{% endblock %}
