{% extends 'player/redesign/header.html' %}
{% load static %}
{% load dict_key %}
{% load l10n %}{% load i18n %}{% load tz %}
{% load get_class_name %}
{% load get_sum %}
{% load get_attr %}
{% load get_str %}
{% load redesign.template_svg.nopic %}
{% load template_svg.war_icon %}

{% block for_scripts_and_css %}
{% if player == char %}
<script src="{% static 'js/switch_visibility.js' %}?{{ csrf_token }}"></script>
<style>
    .grayscale {
        filter: grayscale(100%);
    }
</style>
{% endif %}
{% endblock %}

{% block content %}
  <section class="articles custom-scroll">
	<!-- Заголовок -->
	<h1 class="articles__title ct__page-title">
  {% trans 'Бои' context "wars_list" %}: {{ char.nickname }}
</h1>

    <div class="articles__inner">
    	<table class="ct__js-table">
	      <tbody>
          <tr>
			<!--если это вложенный словарь-->
			<td>{% trans 'Дата' context "wars_list" %}</td>
			<!--если это вложенный словарь-->
			<td></td>
			<td>{% trans 'Бой' context "wars_list" %}</td>
            <!--если это вложенный словарь-->
			<td>{% trans 'Урон' context "wars_list" %}</td>
		</tr>
		  {% for war_elem in wars_list %}
        <tr>
            <!--если это вложенный словарь-->
            <td class="j-t-image" style="cursor: pointer" onclick="{% localize off %}window.open('/war/{{ war_elem|dict_key:'war'|get_class_name }}/{{ war_elem|dict_key:'war'|get_attr:'pk' }}/'){% endlocalize %}">
                <div class="overview__war-wrapper">
                    <div class="overview__war-string">
                        <p class="overview__war-text">
                            {{ war_elem|dict_key:'start_time'|timezone:player.time_zone|date:"d.m.y" }}
                        </p>

                    </div>
                    <div class="overview__war-string">
                        <p class="overview__war-text">
                            {{ war_elem|dict_key:'start_time'|timezone:player.time_zone|date:"H:i" }}
                        </p>

                    </div>
                </div>
            </td>

            <td class="ct__war_list" {% if player == char %} onclick="switch_visibility(this, '{{ war_elem|dict_key:'war'|get_class_name }}', {% localize off %}{{ war_elem|dict_key:'war'|get_attr:'pk' }}{% endlocalize %}, '{{ war_elem|dict_key:'side' }}')" {% endif %}>
                {% if war_elem|dict_key:'hide' %}
                    {% war_icon player war_elem|dict_key:'war'|get_class_name 'grayscale' 'margin-right: initial; position: initial' %}
                {% else %}
                    {% war_icon player war_elem|dict_key:'war'|get_class_name '' 'margin-right: initial; position: initial' %}
                {% endif %}
            </td>

            <td class="j-t-nickname" style="cursor: pointer" onclick="{% localize off %}window.open('/war/{{ war_elem|dict_key:'war'|get_class_name }}/{{ war_elem|dict_key:'war'|get_attr:'pk' }}/'){% endlocalize %}">
                <div class="overview__war-wrapper">
                    <span class="overview__war-string">
                        <p class="overview__war-text">
                            {% if war_elem|dict_key:'war'|get_class_name == 'Revolution' %}
                            {% war_icon player war_elem|dict_key:'war'|get_class_name '' 'position: initial' %}
                            <span {% if war_elem|dict_key:'side' == 'agr' %}style="color: var(--c10two);"{% endif %}>{% trans 'Силы восстания' context "wars_list" %}</span>
                            {% else %}
                            <img src="/static/img/regions/webp/55/{{ war_elem|dict_key:'war'|get_attr:'agr_region'|get_attr:'on_map_id' }}.webp">
                            <span {% if war_elem|dict_key:'side' == 'agr' %}style="color: var(--c10two);"{% endif %}>{{ war_elem|dict_key:'war'|get_attr:'agr_region'|get_attr:'region_name' }}</span>
                            {% endif %}
                        </p>
                    </div>
                    <div class="overview__war-string">
                        <p class="overview__war-text">
                            <img src="/static/img/regions/webp/55/{{ war_elem|dict_key:'war'|get_attr:'def_region'|get_attr:'on_map_id' }}.webp">
                            <span {% if war_elem|dict_key:'side' == 'def' %}style="color: var(--c10two);"{% endif %}>{{ war_elem|dict_key:'war'|get_attr:'def_region'|get_attr:'region_name' }}</span>
                        </p>
                    </div>
                </div>
            </td>

            <!--если это вложенный словарь-->
            <td class="j-t-region_region_name" style="cursor: pointer" onclick="{% localize off %}window.open('/war/{{ war_elem|dict_key:'war'|get_class_name }}/{{ war_elem|dict_key:'war'|get_attr:'pk' }}/'){% endlocalize %}">

                <div class="overview__war-wrapper">
                    <div class="overview__war-string" style="justify-content: center;">
                        <p class="overview__war-text">
                             <span>{{ war_elem|dict_key:'damage' }}</span>
                        </p>
                    </div>
                    <div class="overview__war-string" style="justify-content: center;">
                        <p class="overview__war-text">
                            <span>{{ war_elem|dict_key:'dmg_perc' }}%</span>
                        </p>
                    </div>
                </div>
            </td>

        </tr>
      {% endfor %}
      </tbody>
    </table>

    </div>
  </section>
{% endblock %}