{% load static %}
{% load get_attr %}
{% load get_sum %}
{% load get_mod %}
{% load dict_key %}
{% load get_class_name %}
{% load government.get_bill_draft %}
{% load l10n %}{% load i18n %}

<div id="new_bill" class="tab-pane fade">

    <form class="new_bill" role="form">
        {% csrf_token %}
        <div class="row" style="margin-top: 25px;">
            <select name="bill_type" id="bill_type" style="height: 20px; min-width: 20%">
                <option id="bill_default" value='default' disabled selected value>Выберите законопроект</option>
                {% for bill_cl in bills_classes %}
                <option value="{{ bill_cl|get_class_name }}">{% with class_name=bill_cl|get_class_name %}{{ translate_dict|dict_key:class_name }}{% endwith %}</option>
                {% endfor %}
            </select>
        </div>
        {% for bill_cl in bills_classes %}
            {% with state=parliament.state %}
                {% get_bill_draft %}
            {% endwith %}
        {% endfor %}
        <div class="row" style="margin-top: 25px;">
            <button type="submit" class="save btn btn-mining btn-default">
                Предложить законопроект
            </button>
        </div>
    </form>
</div>