{% extends 'player/header.html' %}
{% load static %}
{% load l10n %}
{% block for_scripts_and_css %}
<link rel="stylesheet" type="text/css" href='{% static "css/overview.css" %}'/>
<script src="{% static 'js/primaries.js' %}?{{ csrf_token }}"></script>
{% endblock %}

{% block content %}
<div id="over" class="tabcontent">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8" style="border: 10px solid #efefef; box-shadow: 5px 5px 10px #555;background: #efefef; border-radius: 5px;">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <a href="/government" class="btn btn-info">
                            <div class="glyphicon glyphicon-chevron-left">
                            </div>
                            К парламенту
                        </a>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8" style="margin-bottom: 30px">
                        <h3>Выборы в государстве
                            <!--если у государства есть аватарка-->
                            {% if state.image %}
                            <img src="{{ state.image.url }}" width="30" height="30">
                            {% else %}
                            <img src="{% static 'img/congress.svg' %}" width="30" height="30">
                            {% endif %}
                            {{ state.title }}</h3>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        {% localize off %}
                        <h3><font color="red" class="time_back" id="countdown" data-text="{{ remain }}">{{ time_text }}</font></h3>
                        {% endlocalize %}
                    </div>
                </div>
                <div style="height: 700px; overflow-y: auto; overflow-x: hidden;">
                    {% for candidate in partys %}
                    <div class="row" style="border: 1px solid white;">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <!--если пользователь загрузил аватарку-->
                            <a href='/party/{{ candidate.pk }}' target="_blank">
                            {% if candidate.image %}
                                <img src="{{ candidate.image.url }}" width="50" height="50" align="right">
                            {% else %}
                                <img src="{% static 'img/nopic_party.png' %}" width="50" height="50" align="right">
                            {% endif %}
                            </a>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            <h3 style="cursor: pointer" onclick="window.open('/party/{{ candidate.pk }}/', '_blank')">{{ candidate.title }}</h3>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            {% if vote %}
                                {% if vote.party == candidate %}
                                <h3>
                                    <font color="green">
                                        <div class="glyphicon glyphicon-ok">
                                        </div>
                                    </font>
                                </h3>
                                {% endif %}
                            {% else %}
                                {% if votingRight %}
                                <a href="{% url 'vote_elections' parl_pk=parliament.pk party_pk=candidate.pk %}">
                                    <h3>
                                        <font color="green">
                                            <div class="glyphicon glyphicon-plus">
                                            </div>
                                        </font>
                                    </h3>
                                </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
            </div>
        </div>
</div>
{% endblock %}
