{% extends 'player/header.html' %}
{% load static %}
{% load dict_key %}
{% load get_attr %}
{% load get_len %}
{% load l10n %}{% load i18n %}
{% block for_scripts_and_css %}
<script src='{% static "js/tablesort.js" %}?{{ csrf_token }}'></script>
<script src='{% static "js/tablesort.number.js" %}?{{ csrf_token }}'></script>
<script src='{% static "js/trading.js" %}?{{ csrf_token }}'></script>
<link rel="stylesheet" href='{% static "css/tablesort.css" %}?{{ csrf_token }}'>
{% endblock %}

{% block content %}
<script>
    var csrftoken = '{{ csrf_token }}';

    var groups_n_goods = {};

    {% for group in storage_cl|get_attr:'types' %}
        groups_n_goods['{{ group }}'] = {};
        {% for good in storage_cl|get_attr:group %}
            groups_n_goods['{{ group }}']['{{ good }}'] = '{{ storage_cl|get_attr:group|dict_key:good }}';
        {% endfor %}
    {% endfor %}
</script>
<div class="col-xs-10 col-sm-10 col-md-10">
    <div id="goods_list" align="center">
        <font id="offers_help" style="color: black">Выберите один или несколько критериев справа и нажмите "Поиск"</font>
<!--        Выберите товары по критериям слева-->
        <table id="lines" class="sort" style="display: none">
<!--        <table id="lines" class="sort">-->
          <thead>
            <tr>
              <th data-sort-default role="columnheader">Товар</th>
              <th role="columnheader">Владелец</th>
              <th role="columnheader">Регион</th>
              <th role="columnheader">Количество</th>
              <th role="columnheader">Цена (шт.)</th>
              <th role="columnheader">Доставка</th>
              <th role="columnheader">Сумма</th>
            </tr>
          </thead>
          <tbody>
          <!--торговые предложения-->
          </tbody>
        </table>
    </div>
</div>
<div class="col-xs-2 col-sm-2 col-md-2" align="center">
    <div class="row" style="margin-top: 5%;">
        <a class="save btn btn-success" style="width: 100%" href="/new_offer">Создать</a>
    </div>
    <form id="offers_search_form" role="form">
        <div class="row" style="margin-top: 15%">
            <select name="trade_actions" id="trade_actions" style="width: 100%">
                <option selected value='sell'>Продажа</option>
                <option value='buy'>Покупка</option>
            </select>
        </div>
<!--        <div class="row" style="margin-top: 5%">-->
<!--            <select name="trade_range" id="trade_range" style="width: 100%">-->
<!--                <option selected value='all'>Весь мир</option>-->
<!--                <option value='state'>Государство</option>-->
<!--                <option value='range'>Соседние регионы</option>-->
<!--                <option value='this'>Этот регион</option>-->
<!--            </select>-->
<!--        </div>-->
        <div class="row" style="margin-top: 5%">
            <select name="trade_owner" id="trade_owner" style="width: 100%">
                <option selected value='all'>Все</option>
                <option value='party'>Партия</option>
                <option value='mine'>Мои</option>
            </select>
        </div>
        <div class="row" style="margin-top: 5%">
            <select name="trade_groups" id="trade_groups" multiple size="{{ storage_cl|get_attr:'types'|get_len }}" style="width: 100%">
                {% for group in storage_cl|get_attr:'types' %}
                <option value='{{ group }}'>{{ storage_cl|get_attr:'types'|dict_key:group }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row" style="margin-top: 5%">
            <select name="cc" id="trade_goods" style="width: 100%">
                <option id="good_default" value='default' disabled selected value>Выберите товар</option>
                {% for group in storage_cl|get_attr:'types' %}
                    {% for good in storage_cl|get_attr:group %}
                <option id="good_{{ good }}" value='{{ good }}' style="display: none">{{ storage_cl|get_attr:group|dict_key:good }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
        <div class="row" style="margin-top: 5%;">
            <button id="accept" type="submit" enctype="multipart/form-data" class="save btn btn-info" style="width: 100%">Поиск</button>
        </div>
    </form>
</div>
{% endblock %}