{% extends 'player/header.html' %}
{% load static %}
{% load dict_key %}
{% load get_attr %}
{% load get_len %}
{% load get_sum %}
{% load l10n %}{% load i18n %}
{% block for_scripts_and_css %}
<script src='{% static "js/tablesort.js" %}?{{ csrf_token }}'></script>
<script src='{% static "js/tablesort.number.js" %}?{{ csrf_token }}'></script>
<script src='{% static "js/trading.js" %}?{{ csrf_token }}'></script>
<link rel="stylesheet" href='{% static "css/tablesort.css" %}?{{ csrf_token }}'>
<link rel="stylesheet" href='{% static "css/style.css" %}?{{ csrf_token }}'>
{% endblock %}

{% block content %}
<script>

    var groups_n_goods = {};

    {% for group in storage_cl|get_attr:'types' %}
        groups_n_goods['{{ group }}'] = {};
        {% for good in storage_cl|get_attr:group %}
            groups_n_goods['{{ group }}']['{{ good }}'] = '{{ storage_cl|get_attr:group|dict_key:good }}';
        {% endfor %}
    {% endfor %}
            groups_n_goods['premium'] = {};
            groups_n_goods['premium']['wild_pass'] = 'Wild Pass';

    var vol_map = new Map();
    {% for type in storage_cl|get_attr:'types' %}
        {% for good in transport|get_attr:type %}
            vol_map.set('{{ good }}', '{{ transport|get_attr:type|dict_key:good }}');
        {% endfor %}
    {% endfor %}
            vol_map.set('wild_pass', '0');
</script>
<div class="col-xs-12 col-sm-12 col-md-10">
    <div id="goods_list" align="center">
        <font id="offers_help" style="color: black">{% trans 'Выберите один или несколько критериев справа и нажмите "Поиск"' context "w_trading" %}</font>
        <font id="offers_none" style="color: black; display: none">{% trans 'Ничего не найдено' context "w_trading" %}</font>
<!--        Выберите товары по критериям слева-->
        <table id="lines" class="sort" style="display: none">
<!--        <table id="lines" class="sort">-->
          <thead>
            <tr>
              <th data-sort-default role="columnheader">{% trans 'Товар' context "w_trading" %}</th>
              <th role="columnheader">{% trans 'Владелец' context "w_trading" %}</th>
              <th role="columnheader">{% trans 'Регион' context "w_trading" %}</th>
              <th role="columnheader">{% trans 'Количество' context "w_trading" %}</th>
              <th role="columnheader">{% trans 'Цена (шт.)' context "w_trading" %}</th>
              <th role="columnheader">{% trans 'Доставка' context "w_trading" %}</th>
              <th role="columnheader">{% trans 'Сумма' context "w_trading" %}</th>
              <th role="columnheader">{% trans 'Действие' context "w_trading" %}</th>
            </tr>
          </thead>
          <tbody>
          <!--торговые предложения-->
          </tbody>
        </table>
    </div>
</div>
<div class="col-xs-2 col-sm-2 col-md-2" align="center">
    <div class="row" style="margin-top: 5%;">
        <a class="save btn btn-success" style="width: 100%" href="/auctions">{% trans 'Государственнные закупки' context "w_trading" %}</a>
    </div>
    <form id="offers_search_form" role="form">
        <div class="row" style="margin-top: 30%">
            <select name="trade_actions" id="trade_actions" style="width: 100%">
                <option selected value='sell'>{% trans 'Продажа' context "w_trading" %}</option>
                <option value='buy'>{% trans 'Покупка' context "w_trading" %}</option>
            </select>
        </div>
<!--        <div class="row" style="margin-top: 5%">-->
<!--            <select name="trade_range" id="trade_range" style="width: 100%">-->
<!--                <option selected value='all'>Весь мир</option>-->
<!--                <option value='state'>Государство</option>-->
<!--                <option value='range'>Соседние регионы</option>-->
<!--                <option value='this'>Этот регион</option>-->
<!--            </select>-->
<!--        </div>-->
        <div class="row" style="margin-top: 5%">
            <select name="trade_owner" id="trade_owner" style="width: 100%">
                <option selected value='all'>{% trans 'Все' context "w_trading" %}</option>
                <option value='party'>{% trans 'Партия' context "w_trading" %}</option>
                <option value='mine'>{% trans 'Мои' context "w_trading" %}</option>
            </select>
        </div>
        <div class="row" style="margin-top: 5%">
            <select name="trade_groups" id="trade_groups" multiple size="{{ storage_cl|get_attr:'types'|get_len|get_sum:1 }}" style="width: 100%">
                {% for group in storage_cl|get_attr:'types' %}
                <option value='{{ group }}'>{{ storage_cl|get_attr:'types'|dict_key:group }}</option>
                {% endfor %}
                <option value='premium'>Wild Pass</option>
            </select>
        </div>
        <div class="row" style="margin-top: 5%">
            <select name="cc" id="trade_goods" style="width: 100%">
                <option id="good_default" value='default' disabled selected value>{% trans 'Выберите товар' context "w_trading" %}</option>
                {% for group in storage_cl|get_attr:'types' %}
                    {% for good in storage_cl|get_attr:group %}
                <option id="good_{{ good }}" value='{{ good }}' style="display: none">{{ storage_cl|get_attr:group|dict_key:good }}</option>
                    {% endfor %}
                {% endfor %}
                <option id="good_wild_pass" value='wild_pass' style="display: none">Wild Pass</option>
            </select>
        </div>
        <div class="row" style="margin-top: 5%;">
            <button id="accept" type="submit" enctype="multipart/form-data" class="save btn btn-info" style="width: 100%">{% trans 'Поиск' context "w_trading" %}</button>
        </div>
    </form>
    <div class="row" style="margin-top: 15%;">
        <a class="save btn btn-success" style="width: 100%" href="/new_offer">{% trans 'Создать' context "w_trading" %}</a>
    </div>
</div>
{% endblock %}