{% extends 'player/header.html' %}
{% load static %}
{% load dict_key %}
{% load l10n %}{% load i18n %}
{% block for_scripts_and_css %}
<script src='{% static "js/manage.js" %}?{{ csrf_token }}'></script>

<script src='{% static "cropper.js" %}?{{ csrf_token }}'></script>
<link rel="stylesheet" href='{% static "cropper.css" %}?{{ csrf_token }}'>
<script>
    var img_mode = 1;

    function pic_mode(mode){
        img_mode = mode;
    }

    jQuery(document).ready(function ($) {
        $('.imgUpload').submit(function(e){
            e.preventDefault();

            var sending_data = new FormData(this);
            sending_data.append("img_mode", img_mode);

<!--            var request = new XMLHttpRequest();-->
<!--            request.open("POST", "/change_party_pic/");-->
<!--            request.send(sending_data);-->
            $.ajax({
              url: "/change_party_pic/",
              type: "POST",
              data: sending_data,
              processData: false,  // Сообщить jQuery не передавать эти данные
              contentType: false,   // Сообщить jQuery не передавать тип контента
              success: function(result){
              if (result.response == 'ok'){
                  location.reload();
              }
              else{
                  alert(result.response)
              }
            }
            });
        });
    });

    $(function () {

    /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
    $(".id_image").change(function () {
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
    });

    /* SCRIPTS TO HANDLE THE CROPPER BOX */
    var $image = $("#image");
    var cropBoxData;
    var canvasData;
    $("#modalCrop").on("shown.bs.modal", function () {
      $image.cropper({
        viewMode: 0.5,
        aspectRatio: 1/1,
        minCropBoxWidth: 250,
        minCropBoxHeight: 250,
        ready: function () {
          $image.cropper("setCanvasData", canvasData);
          $image.cropper("setCropBoxData", cropBoxData);
        }
      });
    }).on("hidden.bs.modal", function () {
      cropBoxData = $image.cropper("getCropBoxData");
      canvasData = $image.cropper("getCanvasData");
      $image.cropper("destroy");
    });

    // Enable zoom in button
    $(".js-zoom-in").click(function () {
      $image.cropper("zoom", 0.1);
    });

    // Enable zoom out button
    $(".js-zoom-out").click(function () {
      $image.cropper("zoom", -0.1);
    });

    // Enable move up button
    $(".js-pic-up").click(function () {
      $image.cropper("move", 0, 10);
    });

    // Enable move down button
    $(".js-pic-down").click(function () {
      $image.cropper("move", 0, -10);
    });

    /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
    $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x" + img_mode).val(cropData["x"]);
        $("#id_y" + img_mode).val(cropData["y"]);
        $("#id_height" + img_mode).val(cropData["height"]);
        $("#id_width" + img_mode).val(cropData["width"]);
        $("#formUpload" + img_mode).submit();
    });

    });
</script>
{% endblock %}

{% block content %}
<!-- MODAL TO CROP THE IMAGE -->
<div class="modal fade" id="modalCrop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="" id="image" style="max-width: 50%; max-height: 50%;">
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left" role="group">
          <button type="button" class="btn btn-default js-zoom-in">
            <span class="glyphicon glyphicon-zoom-in"></span>
          </button>
          <button type="button" class="btn btn-default js-zoom-out">
            <span class="glyphicon glyphicon-zoom-out"></span>
          </button>
        </div>
        <div class="btn-group pull-left" role="group">
          <button type="button" class="btn btn-default js-pic-up">
            <span class="glyphicon glyphicon-arrow-up"></span>
          </button>
          <button type="button" class="btn btn-default js-pic-down">
            <span class="glyphicon glyphicon-arrow-down"></span>
          </button>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary js-crop-and-upload">Загрузить</button>
      </div>
    </div>
    </div>
</div>
<div id="party" class="tabcontent">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4" align="center">
            <!--Картинка партии-->
            <img id="party_coat" src="{% if player.party.image %}{{ player.party.image.url }}{% else %}{% static 'img/nopic_party.png' %}{% endif %}" width="250" height="250">
            {% if player.party_post.party_lead %}
                <form method="post" enctype="multipart/form-data" class="imgUpload" id="formUpload1">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="file" name="image" accept="image/*" class="id_image" onclick="pic_mode(1)">
                    <input type="hidden" name="x" id="id_x1">
                    <input type="hidden" name="y" id="id_y1">
                    <input type="hidden" name="width" id="id_width1">
                    <input type="hidden" name="height" id="id_height1">
                </form>
            {% endif %}
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4" align="center">
            <div id="party_title" style="height: 50px; cursor: pointer; font-size: 20pt; font-weight: bold; color: black" onclick="open_rename()">
                {{ player.party.title }}
            </div>
            <form id="rename_form" role="form" style="height: 50px; display: none">
                <!--Форма переименования партии-->
                {% csrf_token %}
                <input type="text" size="20" style="font-size: 20pt;" maxlength="30" name="new_party_name" id="new_party_name" value="{{ party.title }}">
                <input class="btn btn-success" type="submit" value="Ok"/> <a class="btn btn-danger" onclick="close_rename()">отмена</a>

            </form>
            <div id="party_deskr" style="height: 25px; cursor: pointer; font-size: 10pt; font-weight: bold; color: black" onclick="open_deskr()">
                {% if player.party.description %}
                    {{ player.party.description }}
                {% else %}
                    добавить описание партии
                {% endif %}
            </div>
            <form id="deskr_form" role="form" style="height: 50px; display: none">
                <!--Форма переименования партии-->
                {% csrf_token %}
                {% if player.party.description %}
                    <input type="text" size="20" style="font-size: 20pt;" maxlength="300" name="new_party_deskr" id="new_party_deskr" value="{{ party.description }}"> <input class="btn btn-success" type="submit" value="Ok"/> <a class="btn btn-danger" onclick="close_deskr()">отмена</a>
                {% else %}
                    <input type="text" size="20" style="font-size: 20pt;" maxlength="300" name="new_party_deskr" id="new_party_deskr"> <input class="btn btn-success" type="submit" value="Ok"/> <a class="btn btn-danger" onclick="close_deskr()">отмена</a>
                {% endif %}
            </form>
            <div class="row" style="margin-top: 30px">
                <font color="black" size="4"><b>тип партии</b></font>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    {% if player.party_post.party_lead %}
                    <!--открытая, частная, закрытая-->
                    {% if player.party.type == 'op' %}
                    <a href="{% url 'switch_party_type' %}"
                       class="btn btn-warning">открытая (изменить)</a>
                    {% endif %}
                    {% if player.party.type == 'pt' %}
                    <a href="{% url 'switch_party_type' %}"
                       class="btn btn-warning">частная (изменить)</a>
                    {% endif %}
                    {% else %}
                    <!--открытая, частная-->
                    {% if player.party.type == 'op' %}
                    <font color="black" size="4"><b>открытая</b></font>
                    {% endif %}
                    {% if player.party.type == 'pt' %}
                    <font color="black" size="4"><b>частная</b></font>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row" style="margin-top: 30px">
                    <font color="black" size="4"><b>роспуск партии</b></font>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-xs-12 col-sm-12 col-md-12">
                {% if player.party_post.party_lead %}
                    {% if members_count == 1 %}
                        <form id="leave_party_form" role="form">
                            <!--Форма выхода из партии-->
                            {% csrf_token %}
                            <input type="hidden" name="party_id" id="party_id" value="{{ player.party.pk }}">
                            <input type="submit" class="btn btn-danger" value="Подтвердить роспуск партии"/>
                        </form>
                    {% else %}
                        <font color="black" size="3"><b>Роспуск невозможен:</b></font>
                        <br>
                        <font color="black" size="3"><b>исключите всех однопартийцев</b></font>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4" align="center">
            <!--Картинка партийного фона-->
            <img id="party_back" src="{% if player.party.members_image %}{{ player.party.members_image.url }}{% else %}{% static 'img/noback_party.png' %}{% endif %}" width="250" height="250">
            {% if player.party_post.party_lead %}
                <form method="post" enctype="multipart/form-data" class="imgUpload" id="formUpload2">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="file" name="members_image" accept="image/*" class="id_image" onclick="pic_mode(2)">
                    <input type="hidden" name="x" id="id_x2">
                    <input type="hidden" name="y" id="id_y2">
                    <input type="hidden" name="width" id="id_width2">
                    <input type="hidden" name="height" id="id_height2">
                </form>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row" style="margin-top: 30px">
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <font color="black" size="4"><b>Добавить должность:</b></font>
                    <div id="csrf_form">
                        {% csrf_token %}
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" style="align: right">
                    <form id="new_role_form" role="form" class="flex">
                        <!--Форма добавления должности-->
                        {% csrf_token %}
                        <input type="text" size="20" style="font-size: 15pt;" maxlength="30" name="new_role_name" id="new_role_name">
                        <label style="font-size: 15pt; color: black; margin-left: 1%"><input type="checkbox" name="new_role_sec_rights" id="new_role_sec_rights">секретарь</label>
                        <input class="btn btn-success" id="add_role" {% if roles_count == 10 %}style="display: none"{% endif %} type="submit" value="Добавить должность" style="margin-left: 1%"/>
                    </form>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <b><font color="black" size="4">Должностей: </font>
                    <font color="black" size="4" id="roles_count">{{ roles_count }}</font>
                    <font color="black" size="4"> / 10</font></b>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row" align="center" style="width: 99%">
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <font color="black" size="4"><b>Название должности</b></font>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <font color="black" size="4"><b>Управление партией</b></font>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <font color="black" size="4"><b>Секретарь</b></font>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <font color="black" size="4"><b>Действия</b></font>
                        </div>
                    </div>
                    <div style="overflow-y: scroll; position: relative; width: 100%; height: 400px;" id="roles_lines_placeholder">
                        <input type="hidden" id="csrf_token" value='{% csrf_token %}'>
                        {% for role in roles_list %}
                        <div class="row" align="center" style="margin-top: 20px; width: 99%; padding-top: 10px; border-top: 2px solid black;">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <font color="black" size="3"><i>{{ role.title }}</i></font>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                {% if role.party_lead %}
                                    <font color="black" size="3">
                                        <div class="glyphicon glyphicon-star">
                                        </div>
                                    </font>
                                {% endif %}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                {% if role.party_sec %}
                                    <font color="black" size="3">
                                        <div class="glyphicon glyphicon-star">
                                        </div>
                                    </font>
                                {% endif %}
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2">
                                {% if not role.based %}
                                <form class="rm_role_form" role="form">
                                    <!--Форма удаления должности-->
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" id="post_id" value="{{ role.pk }}">

                                    <input type="image" src="{% static 'img/party/trash-can.png' %}" type="submit" width="20"/>

                                </form>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
