{% extends 'player/header.html' %}
{% load static %}
{% load menu %}
{% load l10n %}{% load i18n %}
{% block for_scripts_and_css %}
<link rel="stylesheet" type="text/css" href='{% static "css/overview.css" %}' xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block content %}
<div class="row" style="position: relative; min-width: 1500px">
    <div id="over" class="tabcontent">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4" align="center">
                    <br>
                    <b><font size="5" color="black">Стоимость создания партии: <font color="gold" size="5" style="text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;">10 G</font></font></b>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 polaroid" align="left">
                    <div id="new_party_form">
                        <form method="POST" enctype="multipart/form-data" class="post-form">
                            <div class="row">
                                {% csrf_token %}
                                <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                                    <label for="title" style="font-size: 10pt;">Название партии: </label><br>
                                    <label for="description" style="font-size: 10pt;">Описание партии: </label><br>
                                    <label for="image" style="font-size: 10pt;">Герб партии: </label><br>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6" align="left">
                                    <input id="title" type="text" name="title" maxlength="30"><br>
                                    <input id="description" type="text" name="description" maxlength="300"><br>
                                    <input id="image" type="file" class="" accept="image/*" name="image">
                                </div>
                            </div>
                            <div class="row" align="center" style="margin-top: 3%">
                                <button type="submit" enctype="multipart/form-data" class="save btn btn-default">Создать</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                </div>
            </div>
        </div>
</div>
{% endblock %}
