{% load dict_key %}
{% load get_class_name %}
{% load government.get_custom_right %}
<div id="custom_rights" class="tab-pane fade">
    <ul class="nav nav-tabs">
        {% for right_cl in custom_rights %}
        {% with class_name=right_cl|get_class_name %}
        <li {% if forloop.counter0 == 0 %}class="active"{% endif %}><a data-toggle="tab" href="#{{ class_name }}">{{ translate_dict|dict_key:class_name }}</a></li>
        {% endwith %}
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for right_cl in custom_rights %}
            {% with class_name=right_cl|get_class_name %}
        <div id="{{ class_name }}" class="tab-pane fade {% if forloop.counter0 == 0 %}in active{% endif %}" style="height: 640px; overflow-y: auto; overflow-x: hidden;">
            {% endwith %}
            {% get_custom_right %}
        </div>
        {% endfor %}
    </div>

</div>