{% extends 'player/header.html' %}
{% load static %}
{% load dict_key %}
{% load has_key %}
{% load get_attr %}
{% load scouting %}
{% load get_sum %}
{% load get_key_list %}
{% load tz %}
{% load l10n %}{% load i18n %}
{% load get_class_name %}
{% load get_mod %}

{% block for_scripts_and_css %}
<script>
    const war_id = '{{ war.pk }}';
    const war_type = 'EventWar';

    const chat_conn_type = "{% if http_use %}ws{% else %}wss{% endif %}";
</script>

<script src='{% static "js/EventWar.js" %}?{{ csrf_token }}'></script>
<script src='{% static "js/war_socket.js" %}?{{ csrf_token }}'></script>
{% endblock %}

{% block content %}
<style>
  td, th {
        padding: 15px;
    }
</style>
<!-- Tab content -->
<script>
    var units_energy = {};
    var units_damage = {};

    {% for unit in units %}

        units_energy['{% localize off %}{{ unit.pk }}{% endlocalize %}'] = {% localize off %}{{ unit.energy }}{% endlocalize %};

        units_damage['{% localize off %}{{ unit.pk }}{% endlocalize %}'] = {% localize off %}{{ unit.damage }}{% endlocalize %};

    {% endfor %}

</script>
<div id="over" class="tabcontent">
    <div class="tab-content" style="margin-top: 30px">
        <ul class="nav nav-tabs">
            <li class="active" style="width: 50%;">
                <a data-toggle="tab" href="#war_side_units" style="text-align: center">Войска</a>
            </li>
            <li style="width: 50%;">
                <a data-toggle="tab" href="#war_side_chars" style="text-align: center">Сражающиеся</a>
            </li>
        </ul>
        <div class="tab-content" style="margin-top: 30px">
            <div id="war_side_units" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4" align="center">
                        <div class="row">
                            Атакует: <img src="/static/img/regions/{{ war.agr_region.on_map_id }}.png" width="25px" height="25px" alt="world_icon">{{ war.agr_region }}
                        </div>
                        <div class="row" style="margin-top: 50px"><h4>Урон: {{ agr_side.count }}</h4></div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4" align="center">
                        <div class="row">
                            {% if not war.running %}<font color="red">Война завершилась</font>{% else %}Война завершится{% endif %}: {{ end_time|timezone:player.time_zone|date:"d.m.y H:i" }}
                        </div>
                        <div class="row" style="margin-top: 40px">
                            <h4>Прочность укреплений:</h4>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <h4>{{ war.hq_points }}</h4>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4" align="center">

                        <div class="row">
                            Обороняется: <img src="/static/img/regions/{{ war.def_region.on_map_id }}.png" width="25px" height="25px">{{ war.def_region }}
                        </div>

                        <div class="row" style="margin-top: 50px"><h4>Урон: {{ def_side.count }}</h4></div>

                    </div>
                </div>
                {% if war.running %}
                {% if in_region %}
                <hr class="solid" style="margin-top: 50px">
                <div class="row" align="center" style="margin-top: 50px">Отправка войск</div>

                <div class="row" align="center">
                    Склад:
                    {{ storage.region.region_name }}
                </div>
                <div class="row" align="center" style="margin-top: 50px">
                    <div class="col-xs-6 col-sm-6 col-md-6 unit_select_list" align="center">
                        {% if units_dict %}
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3">
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                Урон / ед
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                Энергии требует
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                            </div>
                        </div>
                            {% for unit in units %}
                                {% if units_dict|has_key:unit.good %}
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    {{ unit.good.name }}:
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    {{ unit.damage }}
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    {{ unit.energy }}
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <input type="number" min="0"
                                           max="{% localize off %}{{ units_dict|dict_key:unit.good }}{% endlocalize %}"
                                           value="0" step="1"
                                           id="{% localize off %}{{ unit.pk }}{% endlocalize %}"
                                           name="{% localize off %}{{ unit.pk }}{% endlocalize %}"
                                           class="unit_input" maxlength="3">
                                    /
                                    {{ units_dict|dict_key:unit.good }}
                                </div>
                            </div>
                                {% endif %}
                            {% endfor %}

                        {% else %}
                            <div class="row" align="center" style="margin-top: 20px">Склад пуст</div>

                        {% endif %}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6" align="center">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                Сторона боя:
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <select name="war_side" id="war_side">
                                    <option id="side_default" value='default' disabled selected>Выберите сторону</option>
                                    <option id="side_agr" value='agr'>Атака</option>
                                    <option id="side_def" value='def'>Оборона</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                Урон:
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div id="damage_count">0</div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                Затраты энергии:
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div id="energy_count">0</div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <input type="submit" class="btn btn-success" onclick="send_squads()" value="В бой"/>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row" align="center">Вы вне зоны боевых действий</div>
                {% endif %}
                {% endif %}
            </div>
            <div id="war_side_chars" class="tab-pane fade">
                 <div class="col-xs-6 col-sm-6 col-md-6" style="height: 80vh; overflow-y: auto;">
                     <div class="row">
                         <h3>Атакующие</h3>
                     </div>
                    {% for player_damage in agr_char_list %}
                     <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <a href='/profile/{% localize off %}{{ player_damage.player.pk }}{% endlocalize %}' target="_blank">
                                <!--если пользователь загрузил аватарку-->
                                {% if player_damage.player.image %}
                                <img src="{{ player_damage.player.image.url }}" width="30" height="30" align="right">
                                {% else %}
                                <img src="{% static 'img/nopic.png' %}" width="30" height="30" align="right">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a href='/profile/{% localize off %}{{ player_damage.player.pk }}{% endlocalize %}' target="_blank">
                                <h4>{{ player_damage.player.nickname }}</h4>
                            </a>
                        </div>
                         <div class="col-xs-4 col-sm-4 col-md-4">
                            <h4>{{ player_damage.damage }}</h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" style="height: 80vh; overflow-y: auto;">
                     <div class="row">
                         <h3>Обороняющиеся</h3>
                     </div>
                    {% for player_damage in def_char_list %}
                     <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                            <a href='/profile/{% localize off %}{{ player_damage.player.pk }}{% endlocalize %}' target="_blank">
                                <!--если пользователь загрузил аватарку-->
                                {% if player_damage.player.image %}
                                <img src="{{ player_damage.player.image.url }}" width="50" height="50" align="right">
                                {% else %}
                                <img src="{% static 'img/nopic.png' %}" width="50" height="50" align="right">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <a href='/profile/{% localize off %}{{ player_damage.player.pk }}{% endlocalize %}' target="_blank">
                                <h3>{{ player_damage.player.nickname }}</h3>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}