{% extends 'player/header.html' %}
{% load static %}
{% load dict_key %}
{% load i18n %}{% load tz %}
{% load get_class_name %}
{% load get_sum %}

{% block for_scripts_and_css %}
{% if player.account.is_superuser %}
<script src='{% static "js/start_war.js" %}?{{ csrf_token }}'></script>
{% endif %}
{% endblock %}

{% block content %}
<!-- Tab content -->
<div id="over" class="tabcontent">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2" align="center">
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8" align="center">
            Войны в мире
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2" align="center">
            {% if player.account.is_superuser %}
            <form method="POST" enctype="multipart/form-data" id="start_war">
                {% csrf_token %}
                <div class="col-xs-3 col-sm-3 col-md-3" align="left">
                    <input type="submit" class="btn btn-success" id="do_war" value="Начать войну"/>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2">
            Тип войны
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            Регион
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            Прочность укреплений
        </div>
    </div>
    <div id="wars_list" style=" height: 640px; overflow-y: auto; overflow-x: hidden;">
    {% for war in wars_list %}
        <div class="row" onclick="window.open('/war/{{ war|get_class_name }}/{{ war.pk }}/', '_blank')" style="cursor: pointer">
            <div class="col-xs-2 col-sm-2 col-md-2">
                <img src="static/img/{{ war|get_class_name }}.png" align="left" style="width: 50px; height: 50px;">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                {{ war.agr_region }}
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                {{ war.hq_points }}
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                 <input type="submit" class="btn btn-success" value="В бой"/>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}